<div th:fragment="details">
	<a id="downloadWkt" class="btn btn-sm pull-right" target="_blank" th:href="@{__${basePath}__/item/__*{uuid}__/wkt}" style="margin-top: 0px"><span th:text="#{button.wkt}"></span>&nbsp;&nbsp;<span class="fa fa-file-text-o"></span></a>												
	<a id="downloadGml" class="btn btn-sm pull-right" target="_blank" th:href="@{__${basePath}__/item/__*{uuid}__/gml}" style="margin-top: 0px"><span th:text="#{button.gml}"></span>&nbsp;&nbsp;<span class="fa fa-file-text-o"></span></a>
	<div class="row">

		<div class="col-md-6">
			<div class="row" th:include="globals :: nameAndIdentifier" />
			<div class="row" th:include="globals :: registerItemDefinition"/>
			<div class="row" th:include="globals :: aliasesTable('ccrs')" />
		
			<div class="row">
				<div class="col-md-12" th:with="property='scope',inputType='text',label=#{form.label.scope},placeholder=#{form.placeholder.scope},isRequired='true'">
					<div th:replace="globals :: textArea"/>
				</div>
			</div>

		</div>

		<div class="col-md-6">
			<div class="row">
				<div class="col-md-12" th:with="property='horizontalCrs',label=#{form.label.horizontalCrs},isRequired='true',noAddNew='true',ajaxPaths=${#strings.arraySplit('GeodeticCoordinateReferenceSystemItem,ProjectedCoordinateReferenceSystemItem,EngineeringCoordinateReferenceSystemItem',',')},where='SIZE(i.coordinateSystem.axes) = 2'">
					<div th:replace="globals :: selectIdentifiedItem"/>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12" th:with="property='verticalCrs',label=#{form.label.verticalCrs},isRequired='true',noAddNew='true',ajaxPaths=${#strings.arraySplit('VerticalCoordinateReferenceSystemItem,EngineeringCoordinateReferenceSystemItem',',')},where='SIZE(i.coordinateSystem.axes) = 1'">
					<div th:replace="globals :: selectIdentifiedItem"/>
				</div>
			</div>

			<div class="row" th:if="!${isProposal} or ${proposal.isClarification()}">
				<div class="col-md-12">
					<div th:replace="registry/registers/gcp/extent_panel :: extentDetails"/>
				</div>
			</div>

			<div class="row" th:include="globals :: remarks (cssClass='col-md-12')" />
			<div class="row" th:include="globals :: informationSource (cssClass='col-md-12')" />
			<div class="row" th:include="globals :: dataSource (cssClass='col-md-12')" />
			
		</div>
		
	</div>

</div>
