<div th:fragment="details">
	<div class="row">
		<div class="col-md-6"> <!-- LEFT -->
			<div class="row" th:include="globals :: nameAndIdentifier" />
			<div class="row" th:include="globals :: registerItemDefinition"/>
			<div class="row" th:include="globals :: aliasesTable('conv')" />
			<div class="row" th:if="!${isProposal} or ${proposal.isClarification()}">
				<div class="col-md-12" th:with="isClarification=${isProposal} ? ${proposal.isClarification()} : 'false'">
					<div th:replace="registry/registers/gcp/extent_panel :: extentDetails"/>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12" th:with="property='sourceCrs',label=#{form.label.sourceCrs},isRequired='true',noAddNew='true',ajaxPath='CoordinateReferenceSystemItem'">
					<div th:replace="globals :: selectIdentifiedItem2"/>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12" th:with="property='targetCrs',label=#{form.label.targetCrs},isRequired='true',noAddNew='true',ajaxPath='CoordinateReferenceSystemItem'">
					<div th:replace="globals :: selectIdentifiedItem2"/>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4" th:with="property='accuracy',inputType='number',label=#{form.label.accuracy},placeholder=#{form.placeholder.accuracy},isRequired='false'">
					<div th:replace="globals :: textField(${property}, ${inputType}, ${label}, ${placeholder}, ${isRequired})"/>
				</div>
				<div class="col-md-8" th:with="property='accuracyUom',label=#{form.label.accuracyUom},isRequired='true',noAddNew='true',ajaxPath='UnitOfMeasureItem'">
					<div th:replace="globals :: selectIdentifiedItem"/>
				</div>
			</div>

			<div th:with="property='operationVersion',inputType='text',label=#{form.label.operationVersion},placeholder=#{form.placeholder.operationVersion},isRequired='false'">
				<div th:replace="globals :: textField(${property}, ${inputType}, ${label}, ${placeholder}, ${isRequired})"/>
			</div>

		</div>	<!-- END OF LEFT -->
		
		<div class="col-md-6"> <!-- RIGHT -->
			<div class="row">
				<div class="col-md-12" th:with="property='scope',inputType='text',label=#{form.label.scope},placeholder=#{form.placeholder.scope},isRequired='true'">
					<div th:replace="globals :: textArea"/>
				</div>
			</div>
			<div class="row" th:include="globals :: remarks (cssClass='col-md-12')" />
			<div class="row" th:include="globals :: informationSource (cssClass='col-md-12')" />
			<div class="row" th:include="globals :: dataSource (cssClass='col-md-12')" />
		</div>	<!-- END OF RIGHT -->
	</div>
	<div class="row">
		<div class="col-md-12">
			<div th:unless="${isProposal}" th:with="property='coordinateOperations',label=#{form.label.coordinateOperations},columns=${#strings.arraySplit('name',',')},editable=${isProposal}">
				<div th:replace="globals :: referencedEntitiesTable('coordinateOperations')"/>
			</div>

			<div th:if="${isProposal}" class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label class="control-label" th:for="coordinateOperations" th:text="#{form.label.coordinateOperations}"></label>
						<input type="hidden" multiple="multiple" id="coordinateOperations" style="width: 100%" th:field="*{coordinateOperations}"/>
						<script type="text/javascript" charset="utf-8" th:inline="text">
						/* <![CDATA[ */
							$(function() {
								$('#coordinateOperations').select2({
									multiple: true,
									placeholder: "[[#{label.placeholder.coordinateOperations}]]",
									dropdownCssClass: "bigdrop",
									ajax: {
										url: "[[@{__${basePath}__/}]]entities/by-class/SingleOperationItem", // ?orderBy=identifier
										dataType: "json",
										delay: 250,
										data:  function(term, page) {
											return {
												q: term,
												page: page,
												orderBy: 'identifier'
											};
										},
										results: function (data) {
											return { 
												results : $.map(data, function (item) { 
													return { 
														text: "[" + item[1] + "] " + item[2], 
														id: item[0] 
													} 
												}) 
											};
										}
						            },
						            initSelection: function(element, callback) {
				                		var result = [];
				                		var requests = Array();
				                		
				                		// Collect AJAX requests needed to resolve initially
				                		// selected items
						                $(element.val().split(",")).each(function(i) {
						                	requests.push(
							                	$.ajax("[[@{__${basePath}__/}]]entities/by-uuid/" + this, {
							                    	dataType: "json"
							                	})
							                );
						                });
						                
				                		// Process the requests asynchronically
						                var defer = $.when.apply($, requests);
				                		
				                		// Perform the following after ALL of the requests
				                		// have finished
						                defer.done(function() {
					                	   $.each(arguments, function(index, data){
					                	        // "data" will contain an array of response information for each specific request
		 						                var item = data[0].toString().split(",");
						                		result.push({
						                			id: item[0],
													text: "[" + item[1] + "] " + item[2], 
						                		});
								                callback(result); 
					                	   });
					                	});
						            }						            
						        });
								
								if ([[${proposal.isClarification()}]]) {
									$('#coordinateOperations').select2("readonly", true);
								}
								
								$("#coordinateOperations").select2("container").find("ul.select2-choices").sortable({
									containment: 'parent',
									start: function() { $("#coordinateOperations").select2("onSortStart"); },
									update: function() { $("#coordinateOperations").select2("onSortEnd"); }
								});								
							});
						
						/* ]]> */
						</script>
					</div>
				</div>				
			</div>
		</div>
	</div>
	
	<script type="text/javascript" th:inline="text">
	/*<![CDATA[ */
	    var paramTypeSelect = function(element) {
			element.select2({
				width: 'resolve',
				dropdownAutoWidth : true,
				data: [
						{ id: 'MEASURE', text: 'measure (w/ UoM)' },
						{ id: 'FILE', text: 'parameter file name' },
						{ id: 'STRING', text: 'text' },
						{ id: 'INTEGER', text: 'number' },
				]				
			});
		};
	            
	    var uomSelect = function(element) {
			element.select2({
				width: 'resolve',
				ajax: {
					url: "[[@{__${basePath}__/}]]entities/by-class/UnitOfMeasureItem",
					dataType: "json",
					data: function(term, page) {
						return {
							orderBy: 'name',
							q: term
						};
					},
					results: function (data) {
						return { 
							results : $.map(data, function (item) { 
								return { 
									text: item[2] + " [" + item[1] + "]", 
									id: item[0] 
								} 
							}) 
						};
					},
				},
	            initSelection: function(element, callback) {
               		var result = [];
               		// Collect AJAX requests needed to resolve initially
               		// selected items
                	$.when($.ajax("[[@{__${basePath}__/}]]entities/by-uuid/" + $(element).val(), {
                    	dataType: "json"
                	}))
                	.done(function(data) {
                		item = data[0];
                		result.push({
                			id: item[0],
							text: item[2] + " [" + item[1] + "]", 
                		});
		                callback(result[0]); 
                	});
	            }						            
			});        						
		};

       	$(document).ready(function() {
       		$('.select-uom').each(function() {
				uomSelect($(this));
       		});

       		$('.select-paramtype').each(function() {
				paramTypeSelect($(this));
       		});
       	});		
	/* ]]> */
	</script>
	
</div>
