<div th:fragment="proposalButtons" class="form-group">
	<div th:if="${itemClass}">
		<input type="hidden" th:field="*{itemUuid}"/>
		<input type="hidden" th:field="*{proposalUuid}"/>
		<input type="hidden" th:field="*{targetRegisterUuid}"/>
		<input type="hidden" th:field="*{sponsorUuid}"/>
		<input type="hidden" th:field="*{proposalType}"/>					
	
		<div class="controls">
			<button th:unless="${isReadOnly}" id="cancel" type="button" onClick="history.back();" name="cancel" class="btn btn-default" th:text="#{button.cancel}">Abbrechen</button>
			<button th:if="${isReadOnly}" id="back" type="button" onClick="history.back();" name="back" class="btn btn-default" th:text="#{button.back}">Zurück</button>
			<div class="pull-right">
				<button id="saveProposal" th:unless="${proposalChangeRequest} or ${isReadOnly}" name="saveProposal" class="btn btn-default" th:text="#{button.saveProposal}">Speichern</button>
				<button id="submitProposal" th:if="${isNew}" th:unless="${partOfSupersession} or ${isEdit}" name="submitProposal" class="btn btn-primary" th:text="#{button.submitProposal}">Speichern</button>
				<div class="row">
					<div id="pleaseWait" class="pull-right"><img th:src="@{__${basePath}__/resources/images/loader.gif}"/></div>
				</div>
			</div>
		</div>
	</div>
</div>

<div th:fragment="itemClassSelector">
	<div class="form-group" th:if="${proposal.isAddition()}">
		<label class="form-label" for="itemClass" th:text="#{form.label.itemClass}">Item-Klasse</label>
		<div class="controls">
			<div class="input-group">
				<input type="hidden" th:if="${partOfSupersession}" th:field="*{itemClassUuid}" th:value="${itemClassUuid}"/>
				<select id="itemClass" required="true" th:field="*{itemClassUuid}" th:disabled="${partOfSupersession}">
					<option th:text="#{form.select.choose}" value="" th:unless="${itemClassUuid}"/>
					<option th:each="anItemClass : ${register.getContainedItemClasses()}"
							th:value="${anItemClass.uuid}"
							th:text="#{${anItemClass.name}}"></option>
				</select>
			</div>
		</div>
	</div>

	<div th:unless="${itemClass}">
		<button id="cancel" onClick="history.back();" type="button" name="cancel" class="btn btn-default" th:text="#{button.cancel}">Abbrechen</button>
	</div>
</div>
