<!DOCTYPE html>
<html>
<head th:include="layout :: headerFragment">
</head>
<body>
	<div th:include="layout :: navbarFragment"></div>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="col-md-3">
				<div th:include="layout :: navtree"></div>
			</div>
			<div class="col-md-9" role="main">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title" th:text="#{mgmt.submitter.content.header}">Proposed item</h3>
					</div>
					<div style="padding: 10px">
						<div class="control-group" style="margin-top: 10px; margin-bottom: 10px">
							<button id="proposeNew" class="btn btn-success" data-toggle="modal" href="#addNewItem" th:text="#{button.addition}">Item registrieren</button>

								<div class="modal fade" th:id="addNewItem" role="dialog">
									<div class="modal-dialog">
										<form method="post">
											<div class="modal-content">
												<div class="modal-header">
													<h4 th:text="#{popup.createProposal.header}">Itemklasse wählen</h4>
												</div>
												<div class="modal-body">
	
													<div class="form-group">
														<label class="form-label" for="register" th:text="#{form.label.targetRegister}">Item-Klasse</label>
														<div class="controls">
															<div class="input-group">
																<select id="register" name="register" required="true">
																	<option th:each="register : ${@registerRepository.findAll()}"
																			th:value="${register.uuid}"
																			th:text="${register.name}"></option>
																</select>
															</div>
														</div>
													</div>
													<div class="form-group">
														<label class="form-label" for="itemClass" th:text="#{form.label.itemClass}">Item-Klasse</label>
														<div class="input-group">
															<select id="itemClass" name="itemClass" required="true">
<!-- 																<option th:text="#{form.select.choose}" value=""/> -->
																<option th:each="anItemClass : ${@itemClassRepository.findAllOrderByName()}"
																		th:value="${anItemClass[0]}"
																		th:text="#{${anItemClass[1]}}"></option>
															</select>
														</div>
													</div>
												</div>
												<div class="modal-footer">
													<button type="button" id="addition" class="btn btn-success" th:text="#{button.addition}">Item registrieren</button>
													<button type="button" name="cancel" data-dismiss="modal" class="btn btn-default" th:text="#{button.cancel}">Abbrechen</button>
												</div>
											</div>
										</form>
									</div>
								</div>


						</div>
						<table id="proposalsTable" class="datatable table table-striped">
							<thead>
								<tr>
									<th th:text="#{tableheader.name}">Name</th>
									<th th:text="#{tableheader.itemClass}">Klasse</th>
									<th th:text="#{tableheader.proposalType}">Vorschlagstyp</th>
									<th th:text="#{tableheader.proposalStatus}">Status</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="item : ${proposals}">
									<div class="modal fade" th:id="'dialog-submit-' + ${item.proposalUuid}" role="dialog">
										<div th:include="mgmt/submitter_popup_submit :: popup"/>
									</div>
									<div class="modal fade" th:id="'dialog-withdraw-' + ${item.proposalUuid}" role="dialog">
										<div th:include="mgmt/submitter_popup_withdraw :: popup"/>
									</div>

									<td th:text="${item.name}"></td>
									<td th:text="${item.itemClassName}"></td>
									<td th:utext="#{${item.proposalType}}"></td>											
									<td th:text="#{${item.proposalStatus}}"></td>
									<td>
										<div class="btn-group">
											<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
												<span th:text="#{button.action}">Aktion</span> <span class="caret"></span>
											</button>
											<ul class="dropdown-menu" role="menu">
												<li th:unless="${item.isRetirement()}"><div style="margin: 5px;">
													<button th:id="'details_' + ${item.uuid}" class="btn btn-default btn-xs" th:onclick="'location.href = \'' + @{${basePath} + '/proposals/' + ${item.proposalUuid}} + '\''" th:text="${item.isEditable()} ? #{button.edit} : #{button.details}">Details</button>												
												</div></li>
												<li th:if="${item.isNotSubmitted()} or ${#strings.startsWith(item.proposalStatus, 'RETURNED_BY_')}">
<!-- 													<div style="margin: 5px;"> -->
<!-- 														<a th:href="@{__${basePath}__/discussion/SUBMITTER/__${item.proposalUuid}__}" th:id="'discuss_' + ${item.uuid}" class="btn btn-primary btn-xs" th:text="#{button.discussProposal}">Diskussion</a> -->
<!-- 													</div> -->
													<div style="margin: 5px;">
														<a th:href="'#dialog-submit-' + ${item.proposalUuid}" th:id="'submit_' + ${item.proposalUuid}" data-toggle="modal" class="btn btn-success btn-xs" th:text="#{button.submitProposal}">Einreichen</a>
													</div>
												</li>
												<li th:if="${item.isUnderReview()} or ${item.isPending()}"><div style="margin: 5px;">
													<div style="margin: 5px;">
														<a th:href="'#dialog-withdraw-' + ${item.proposalUuid}" th:id="'withdraw_' + ${item.proposalUuid}" data-toggle="modal" class="btn btn-warning btn-xs" th:text="#{button.withdrawProposal}">Einreichen</a>
													</div>
												</div></li>
												<li th:if="${item.isAppealable()}"><div style="margin: 5px">
													<button th:id="'appeal_' + ${item.uuid}" th:if="${item.isAppealable()}" class="btn btn-primary btn-xs" th:onclick="'location.href = \'' + @{${basePath} + '/proposals/' + ${item.proposalUuid} + '/appeal'} + '\''" th:text="#{button.appealProposal}">Einspruch einreichen</button>
												</div></li>
											</ul>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<script type="text/javascript" th:inline="text">
		$(document).ready(function() {
			var table;
	
			table = $('#proposalsTable').dataTable({
				"sPaginationType": "bs_normal",
				"oLanguage": {
					  "sEmptyTable": "[[#{datatable.sEmptyTable}]]",
					  "sInfo": "[[#{datatable.sInfo}]]",
					  "sInfoEmpty": "[[#{datatable.sInfoEmpty}]]",
					  "sInfoFiltered": "[[#{datatable.sInfoFiltered}]]",
					  "sLengthMenu": "[[#{datatable.sLengthMenu}]]",
					  "sLoadingRecords": "[[#{datatable.sLoadingRecords}]]",
					  "sProcessing": "[[#{datatable.sProcessing}]]",
					  "sZeroRecords": "[[#{datatable.sZeroRecords}]]",
					  "oPaginate": {
					        "sFirst":    "[[#{datatable.oPaginate.sFirst}]]",
					        "sLast":     "[[#{datatable.oPaginate.sLast}]]",
					        "sNext":     "[[#{datatable.oPaginate.sNext}]]",
					        "sPrevious": "[[#{datatable.oPaginate.sPrevious}]]"
					    }
					},
				 "aaSorting": [[ 2, "asc" ]],
				 aoColumns: [
					null,
					null,
					null,
					null,
					{
						"bSortable" : false,
						"sWidth" : "15%"
					}
				]
			});	
	
			$('.datatable').each(function(){
				var datatable = $(this);
				// SEARCH - Add the placeholder for Search and Turn this into in-line form control
				var search_input = datatable.closest('.dataTables_wrapper').find('div[id$=_filter] input');
				search_input.attr('placeholder', '[[#{datatable.searchPlaceholder}]]');
				search_input.addClass('form-control input-sm');
				// LENGTH - Inline-Form control
				var length_sel = datatable.closest('.dataTables_wrapper').find('div[id$=_length] select');
				length_sel.addClass('form-control input-sm');
			});
			
			$('#addition').click(function (e) {
				var register = $('#register').val();
				var itemClass = $('#itemClass').val();
				location.href = '[[@{${basePath}}]]/register/' + register + '/proposal/addition?itemClass=' + itemClass;
			});
		});
	</script>
	
</body>
</html>