[submodule "registry-base"]
        path = src/registry-base
        url = ../registry-base.git
        branch = dev
[submodule "src/wkt"]
        path = src/wkt
        url = ../wkt.git
        branch = dev
[submodule "src/iso-tc211-xml"]
        path = src/iso-tc211-xml
        url = ../iso-tc211-xml.git
        branch = dev
