[submodule "registry-base"]
        path = src/registry-base
        url = https://github.com/ISO-TC211/registry-base
        branch = master
[submodule "src/wkt"]
        path = src/wkt
        url = https://github.com/ISO-TC211/wkt-serializer
        branch = master
[submodule "src/iso-tc211-xml"]
        path = src/iso-tc211-xml
        url = https://github.com/ISO-TC211/excel-adapter
        branch = master
