**/rebel.xml
dist

.DS_Store
.ecs
gitlab.yml
docker-compose.yml
creds_input.yml
ecs-dist.sh
ecs-params.yml
ecs-registry-creds_*
.project
.settings
.idea
*ignore*
.DS_Store
*.iml
build-dist.sh
isoreg1.sql
docker-compose-db.yml
.env
build-ignoreme
setenv.sh