<div th:fragment="newAreaPanel" id="newAreaPanel" class="panel panel-default" th:if="${itemClass}">
	<div class="panel-heading">
		<a data-toggle="collapse" data-parent="#accordion" href="#areaPanel"><span class="panel-title" th:text="#{header.area}"></span></a>
		<div class="pull-right">
			<button id="newAreaPanelDismiss" type="button" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-remove"></span></button>
			<span class="glyphicon glyphicon-chevron-right"></span>
		</div>
	</div>
	<div id="areaPanel" class="panel-collapse collapse">								
		<div class="panel-body" th:object="${proposal.domainOfValidity}">
			<ul class="nav nav-tabs">
  				<li class="active"><a href="#area" data-toggle="tab">Area details</a></li>
  				<li><a href="#areaMgmt" data-toggle="tab">Management data</a></li>
			</ul>
		
			<div class="tab-content">
				<div id="area" class="tab-pane in active" style="padding-top: 10px">
					<div th:replace="registry/registers/gcp/area_details :: areaDetails"/>
<!-- 					<div th:include="registry/registers/gcp/area_create_addition :: areaDetails"/> -->
				</div>
				
				<div id="areaMgmt" class="tab-pane in" style="padding-top: 10px">
					<div th:replace="registry/registers/globals :: proposalDetails"/>
<!-- 					<div th:include="registry/registers/gcp/area_create_addition :: proposalDetails"/> -->
				</div>				
			</div>
		</div>		
	</div>
</div>
