<div th:fragment="details">
	<div class="col-md-12">

		<div class="row">
			<div class="col-md-6" th:with="property='name',inputType='text',label=#{form.label.name},placeholder=#{form.placeholder.name},isRequired='true'">
				<div th:replace="registry/registers/globals :: textField(${property}, ${inputType}, ${label}, ${placeholder}, ${isRequired})"/>
			</div>
			<div class="col-md-2" th:with="property='code',inputType='code',label=#{form.label.code},placeholder=#{form.placeholder.code},isRequired='true'">
				<div th:replace="registry/registers/globals :: textField(${property}, ${inputType}, ${label}, ${placeholder}, ${isRequired})"/>
			</div>
			<div class="col-md-3" th:with="property='northBoundLatitude',inputType='number',label=#{form.label.northernLatitude},placeholder=#{form.placeholder.northernLatitude},isRequired='true'">
				<div th:replace="registry/registers/globals :: textField(${property}, ${inputType}, ${label}, ${placeholder}, ${isRequired})"/>
			</div>
		</div>
	
		<div class="row">
			<div class="col-md-2" th:with="property='isoA2Code',inputType='text',label=#{form.label.isoA2Code},placeholder=#{form.placeholder.isoA2Code},isRequired='false'">
				<div th:replace="registry/registers/globals :: textField(${property}, ${inputType}, ${label}, ${placeholder}, ${isRequired})"/>
			</div>
			<div class="col-md-2" th:with="property='isoA3Code',inputType='text',label=#{form.label.isoA3Code},placeholder=#{form.placeholder.isoA3Code},isRequired='false'">
				<div th:replace="registry/registers/globals :: textField(${property}, ${inputType}, ${label}, ${placeholder}, ${isRequired})"/>
			</div>
			<div class="col-md-2" th:with="property='isoNCode',inputType='number',label=#{form.label.isoNCode},placeholder=#{form.placeholder.isoNCode},isRequired='false'">
				<div th:replace="registry/registers/globals :: textField(${property}, ${inputType}, ${label}, ${placeholder}, ${isRequired})"/>
			</div>
			<div class="col-md-1"/>
			<div class="col-md-2" th:with="property='westBoundLongitude',inputType='number',label=#{form.label.westernLongitude},placeholder=#{form.placeholder.westernLongitude},isRequired='true'">
				<div th:replace="registry/registers/globals :: textField(${property}, ${inputType}, ${label}, ${placeholder}, ${isRequired})"/>
			</div>
			<div class="col-md-1"/>
			<div class="col-md-2" th:with="property='eastBoundLongitude',inputType='number',label=#{form.label.easternLongitude},placeholder=#{form.placeholder.easternLongitude},isRequired='true'">
				<div th:replace="registry/registers/globals :: textField(${property}, ${inputType}, ${label}, ${placeholder}, ${isRequired})"/>
			</div>
		</div>
													
		<div class="row">
			<div class="col-md-8"/>
	
			<div class="col-md-3" th:with="property='southBoundLatitude',inputType='number',label=#{form.label.southernLatitude},placeholder=#{form.placeholder.southernLatitude},isRequired='true'">
				<div th:replace="registry/registers/globals :: textField(${property}, ${inputType}, ${label}, ${placeholder}, ${isRequired})"/>
			</div>
		</div>
		
		<div class="row" th:include="registry/registers/globals :: remarks (cssClass='col-md-12')" />
		<div class="row" th:include="registry/registers/globals :: informationSource (cssClass='col-md-12')" />
		<div class="row" th:include="registry/registers/globals :: dataSource (cssClass='col-md-12')" />
	</div>
</div>
