<div th:fragment="details">

	<div class="row">

		<div class="col-md-6">
			<div class="row" th:include="registry/registers/globals :: nameAndCode" />
			<div class="row" th:include="registry/registers/globals :: aliasesTable('crs')" />
		
			<div class="row">
				<div class="col-md-12" th:with="property='scope',inputType='text',label=#{form.label.scope},placeholder=#{form.placeholder.scope},isRequired='true'">
					<div th:replace="registry/registers/globals :: textArea"/>
				</div>
			</div>

		</div>

		<div class="col-md-6">
			<div class="row">
				<div class="col-md-12" th:with="property='domainOfValidity',label=#{form.label.areaOfUse},isRequired='true',ajaxPath='AreaItem'">
					<div th:replace="registry/registers/globals :: selectIdentifiedItem"/>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12" th:with="property='datum',label=#{form.label.datum},isRequired='true',ajaxPaths=${#strings.arraySplit('DatumItem,EngineeringDatumItem,GeodeticDatumItem,VerticalDatumItem',',')}">
					<div th:replace="registry/registers/globals :: selectIdentifiedItem"/>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12" th:with="property='coordinateSystem',label=#{form.label.coordinateSystem},isRequired='true',ajaxPaths=${#strings.arraySplit('CoordinateSystemItem,CartesianCoordinateSystemItem,EllipsoidalCoordinateSystemItem,SphericalCoordinateSystemItem,VerticalCoordinateSystemItem',',')}">
					<div th:replace="registry/registers/globals :: selectIdentifiedItem"/>
				</div>
			</div>

			<div class="row" th:include="registry/registers/globals :: remarks (cssClass='col-md-12')" />
			<div class="row" th:include="registry/registers/globals :: informationSource (cssClass='col-md-12')" />
			<div class="row" th:include="registry/registers/globals :: dataSource (cssClass='col-md-12')" />
			

		</div>
		
	</div>

</div>
