<div th:fragment="newDatumPanel" id="newDatumPanel" class="panel panel-default" th:if="${itemClass}">
	<div class="panel-heading">
		<a data-toggle="collapse" data-parent="#accordion" href="#datumPanel"><span class="panel-title" th:text="#{header.datum}"></span></a>
		<div class="pull-right">
			<button id="newDatumPanelDismiss" type="button" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-remove"></span></button>
			<span class="glyphicon glyphicon-chevron-right"></span>
		</div>
	</div>
	<div id="datumPanel" class="panel-collapse collapse">								
		<div class="panel-body" th:object="${proposal.datum}">
			<ul class="nav nav-tabs">
  				<li class="active"><a href="#datum" data-toggle="tab">Datum details</a></li>
  				<li><a href="#datumMgmt" data-toggle="tab">Management data</a></li>
			</ul>
		
			<div class="tab-content">
				<div id="datum" class="tab-pane in active" style="padding-top: 10px">
					<div th:replace="registry/registers/gcp/datum_details :: details"/>
				</div>
				
				<div id="datumMgmt" class="tab-pane in" style="padding-top: 10px">
					<div th:replace="registry/registers/globals :: proposalDetails"/>
				</div>				
			</div>
		</div>		
	</div>
</div>
