<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head th:include="layout :: headerFragment" />
<body>
	<div th:include="layout :: navbarFragment"></div>

	<div class="container">
		<div th:replace="registry/item :: itemTabs"/>

		<div class="tab-content">
			<div id="item" class="tab-pane in active" style="padding-top: 10px">
				<div class="span6" th:object="${item}">

					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title" th:text="#{header.datum}">Datum</h3>
						</div>
						
						<div class="panel-body">
						
							<div th:include="registry/registers/gcp/datum_details :: datumDetails"/>
			
						</div>
					</div>

				</div>
			</div>

			<div th:replace="registry/item :: #predecessors"/>
			<div th:replace="registry/item :: #successors"/>
			<div th:replace="registry/item :: #managementInformation"/>
		</div>

		<button id="back" class="btn btn-default" onclick="history.back();" th:text="#{button.back}" style="margin-top: 20px">Zurück</button>												
	</div>
</body>
<script th:replace="registry/item :: js-item"/>
</html>