<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head th:include="layout :: headerFragment" />
<body>
	<div th:include="layout :: navbarFragment"></div>

	<div class="container">
		<div class="row clearfix" style="margin-top: 0px">
			<div class="col-md-12 column">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title" th:text="#{header.editAddition}">Vorschlag zur Neuaufnahme ändern</h3>
					</div>
			
					<form id="proposal" th:object="${proposal}" method="post" style="padding: 20px">
						<fieldset>		
							<!-- Select field: Item Class -->
							<div class="form-group">
								<label class="form-label" for="itemClass" th:text="#{form.label.itemClass}">Item-Klasse</label>
								<div class="controls">
									<input id="itemClassName" name="itemClassName" class="form-control" required="true" type="text" th:value="${rvb.itemClassName}" disabled="disabled"/>
								</div>
							</div>
							
							<div class="panel panel-default">
								<div class="panel-heading">
									<h3 class="panel-title" th:text="#{header.crs}">CRS</h3>
								</div>
								
								<div class="panel-body">
		
									<div class="row">
	
										<div class="col-md-6">
											<!-- Text input-->
											<div class="row">
												<div class="col-md-6">
													<div class="form-group">
														<label class="control-label" for="crsCode" th:text="#{form.label.identifier}">Identifier</label>
														<input id="crsCode" name="crsCode" th:placeholder="#{form.placeholder.identifier}" class="form-control required" required="true" type="number" th:field="*{identifier}"/>
													</div>
												</div>
												<div class="col-md-6">
													<div class="form-group">
														<label class="control-label" for="crsType" th:text="#{form.label.crsType}">Code</label>
														<select id="crsType" class="required" required="true" th:field="*{type}">
															<option th:each="crsType : ${T(org.iso.registry.core.model.CoordinateSystemType).values()}" th:value="${crsType}" th:text="#{__${crsType}__}"></option>
														</select>
													</div>
												</div>
											</div>

											<div class="row">
												<div class="col-md-12">
													<div class="form-group">
														<label class="control-label" for="name" th:text="#{form.label.name}">Name</label>
														<input id="name" name="name" th:placeholder="#{form.placeholder.name}" class="form-control required" required="true" type="text" th:field="*{name}"/>
													</div>

												</div>
											</div>

											<div class="row">
												<div class="col-md-12">
													<div class="form-group">
														<label class="control-label" for="scope" th:text="#{form.label.scope}">Scope</label>
														<textarea id="scope" name="scope" rows="2" cols="60" th:placeholder="#{form.placeholder.scope}" class="form-control required" required="required" type="text" th:field="*{scope}"/>
													</div>

												</div>
											</div>
											
										</div>
	
										<div class="col-md-6">
											<!-- Text input-->
											<div class="controls">
												<div class="form-group">
													<label class="control-label" for="areaOfUse" th:text="#{form.label.areaOfUse}">Area of Use</label>
													<select id="areaOfUse" class="required" required="true" th:field="*{areaUuid}">
														<option th:each="areaOfUse : ${@areaItemRepository.findAll()}" th:value="${areaOfUse.uuid}" th:text="${areaOfUse.name} + ' (' + ${areaOfUse.identifier} + ')'"></option>
													</select>
												</div>
											</div>
										</div>
										
										</div>
					
								</div>
							</div>
				
							<div class="panel panel-default" th:if="${itemClass}">
								<div class="panel-heading">
									<h3 class="panel-title" th:text="#{header.proposalDetails}">Details for proposal</h3>
								</div>
	
								<div class="panel-body">
									<!-- Text input-->
									<div class="form-group has-error has-feedback">
										<label class="form-label" for="definition" th:text="#{form.label.definition}">Definition</label>
										<textarea id="definition" name="definition" rows="6" cols="120" th:placeholder="#{form.placeholder.definition}" class="form-control required" required="true" type="text" th:field="*{definition}" /> 
										<span class="glyphicon glyphicon-hand-left form-control-feedback"></span>
									</div>
				
									<div th:unless="${partOfSupersession}">
										<!-- Text input-->
										<div class="form-group has-error has-feedback">
											<label class="form-label" for="justification" th:text="#{form.label.justification}">Vorschlagsbegründung</label>
											<textarea id="description" name="description" rows="6" cols="120" th:placeholder="#{form.placeholder.justification}" class="form-control required" type="text" th:field="*{justification}" required="required" /> 
											<span class="glyphicon glyphicon-hand-left form-control-feedback"></span>
										</div>
					
									</div>
								</div>
							</div>			

							<!-- Button -->
							<div class="form-group">
								<div class="controls">
									<form>
										<input hidden="true" name="_method" value="PUT" />
										<button id="save" name="save" class="btn btn-primary" th:text="#{button.save}">Speichern</button>
										<button id="cancel" type="button" onClick="goback();" name="cancel" class="btn btn-default" th:text="#{button.cancel}">Abbrechen</button>
									</form>
								</div>
							</div>
							
							<input type="hidden" th:field="*{itemUuid}"/>
							<input type="hidden" th:field="*{proposalUuid}"/>
							<input type="hidden" th:field="*{targetRegisterUuid}"/>
							<input type="hidden" th:field="*{sponsorUuid}"/>
							<input type="hidden" th:field="*{proposalType}"/>					
						</fieldset>
					</form>
				</div>
			</div>
		</div>
	</div>
	
	<div th:include="layout :: foot"></div>
	
</body>
</html>