<div th:fragment="extentPanelContent">
	<div class="row">
		<div class="col-md-12" th:with="property='description',inputType='text',label=#{form.label.description},placeholder=#{form.placeholder.description},isRequired='false'">
			<div th:replace="registry/registers/globals :: textField(${property}, ${inputType}, ${label}, ${placeholder}, ${isRequired})"/>
		</div>
	</div>

	<ul class="nav nav-tabs">
				<li class="active"><a href="#geographicExtent" data-toggle="tab" th:text="#{tabs.geographicExtent}"></a></li>
				<li class="disabled"><a href="#verticalExtent" data-toggle="tab" th:text="#{tabs.verticalExtent}"></a></li>
				<li class="disabled"><a href="#temporalExtent" data-toggle="tab" th:text="#{tabs.temporalExtent}"></a></li>
	</ul>

	<div class="tab-content">
		<div id="geographicExtent" class="tab-pane in active" style="padding-top: 10px">

			<div class="row">
				<div class="col-md-12">
					<table id="bboxTable" class="datatable table table-striped" th:with="isEditable=(${isProposal} and !${proposal.isClarification()})">
						<thead>
							<tr>
								<th th:text="#{form.label.northernLatitude}"/>
								<th th:text="#{form.label.easternLongitude}"/>
								<th th:text="#{form.label.southernLatitude}"/>
								<th th:text="#{form.label.westernLongitude}"/>
								<th>
									<a th:unless="!${isProposal} or ${proposal.isClarification()}" href="#dialog-boundingbox" id="addBoundingBox" data-toggle="modal" class="btn btn-default btn-sm" th:text="#{button.addBoundingBox}"/>
<!-- 											<button th:if="${isEditable}" th:text="#{button.addRow}" id="addRow" type="button" name="addRow" class="btn btn-sm btn-default">Add row</button> -->
								</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="row,rowStat : *{geographicBoundingBoxes}">
								<td>
									<input th:field="*{geographicBoundingBoxes[__${rowStat.index}__].northBoundLatitude}" th:disabled="!${isEditable}"/>
								</td>
								<td>
									<input th:field="*{geographicBoundingBoxes[__${rowStat.index}__].eastBoundLongitude}" th:disabled="!${isEditable}"/>
								</td>
								<td>
									<input th:field="*{geographicBoundingBoxes[__${rowStat.index}__].southBoundLatitude}" th:disabled="!${isEditable}"/>
								</td>
								<td>
									<input th:field="*{geographicBoundingBoxes[__${rowStat.index}__].westBoundLongitude}" th:disabled="!${isEditable}"/>
								</td>
								<td>
									<button type="button" th:if="${isEditable}" th:text="#{button.removeRow}" class="btn btn-sm btn-default btn-deleterow" name="removeRow" th:attr="data-index=${rowStat.index}" th:value="${rowStat.index}">Remove row</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="row">
<!-- 						<a th:unless="!${isProposal} or ${proposal.isClarification()}" href="#dialog-boundingpolygon" id="addBoundingPolygon" data-toggle="modal" class="btn btn-default btn-sm disabled" th:text="#{button.addBoundingPolygon}"/> -->
<!-- 						<a th:unless="!${isProposal} or ${proposal.isClarification()}" href="#dialog-geographicdescription" id="addGeographicDescription" data-toggle="modal" class="btn btn-default btn-sm disabled" th:text="#{button.addGeographicDescription}"/> -->
			</div>

			<div class="modal fade" id="dialog-boundingbox" role="dialog">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h4 th:text="#{popup.extent.header}">Extent</h4>
						</div>
						<div class="modal-body">
							<div class="row">
								<div class="col-md-3"/>
								<div class="col-md-6">
									<label class="control-label" th:for="northBoundLatitude" th:text="#{form.label.northernLatitude}"></label>
									<input type="number" class="form-control" id="northBoundLatitude" name="northBoundLatitude"/>
								</div>
							</div>
						
							<div class="row">
								<div class="col-md-5">
									<label class="control-label" th:for="westBoundLongitude" th:text="#{form.label.westernLongitude}"></label>
									<input type="number" class="form-control" id="westBoundLongitude" name="westBoundLongitude"/>
								</div>
								<div class="col-md-1"/>
								<div class="col-md-5">
									<label class="control-label" th:for="eastBoundLongitude" th:text="#{form.label.easternLongitude}"></label>
									<input type="number" class="form-control" id="eastBoundLongitude" name="eastBoundLongitude"/>
								</div>
							</div>
		
							<div class="row">
								<div class="col-md-3"/>
								<div class="col-md-6">
									<label class="control-label" th:for="southBoundLatitude" th:text="#{form.label.southernLatitude}"></label>
									<input type="number" class="form-control" id="southBoundLatitude" name="southBoundLatitude"/>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" id="extentPopup_ok" class="btn btn-default" data-dismiss="modal" th:text="#{button.ok}">Ok</button>
						</div>
					</div>
				</div>
			</div>				
													
		</div>
	</div>

	<script type="text/javascript" th:inline="text">
		/* <![CDATA[ */
			$(document).ready(function() {
				table = $('#bboxTable').dataTable({
					"bPaginate": false,
					"bFilter": false,
					"oLanguage": {
						  "sEmptyTable": "[[#{datatable.sEmptyTable}]]",
						  "sInfo": "[[#{datatable.sInfo}]]",
						  "sInfoEmpty": "[[#{datatable.sInfoEmpty}]]",
						  "sInfoFiltered": "[[#{datatable.sInfoFiltered}]]",
						  "sLengthMenu": "[[#{datatable.sLengthMenu}]]",
						  "sLoadingRecords": "[[#{datatable.sLoadingRecords}]]",
						  "sProcessing": "[[#{datatable.sProcessing}]]",
						  "sZeroRecords": "[[#{datatable.sZeroRecords}]]",
						  "oPaginate": {
						        "sFirst":    "[[#{datatable.oPaginate.sFirst}]]",
						        "sLast":     "[[#{datatable.oPaginate.sLast}]]",
						        "sNext":     "[[#{datatable.oPaginate.sNext}]]",
						        "sPrevious": "[[#{datatable.oPaginate.sPrevious}]]"
						    }
						},
					 "aaSorting": [[ 0, "asc" ]],
		 			 aoColumns: [
 		 				{ 
		 					"bSortable" : false,
			 					"sWidth" : "20%",
		 				},
		 				{ 
		 					"bSortable" : false,
			 					"sWidth" : "20%",
		 				},
		 				{ 
		 					"bSortable" : false,
			 					"sWidth" : "20%" 
		 				},
		 				{ 
		 					"bSortable" : false,
			 					"sWidth" : "20%" 
		 				},
		 				{ 
		 					"bSortable" : false,
							"sWidth" : "20%"
		 				}
		 			]
			});	
	
			$('#extentPopup_ok').click(function(e) {
				table = $('#bboxTable').dataTable();
				var resolverCount = table.fnGetData().length;
				table.fnAddData([
				    "<input type='number' name='domainOfValidity.geographicBoundingBoxes[" + resolverCount + "].northBoundLatitude' value='" + $('#northBoundLatitude').val() + "'/>",
				    "<input type='number' name='domainOfValidity.geographicBoundingBoxes[" + resolverCount + "].eastBoundLongitude' value='" + $('#eastBoundLongitude').val() + "'/>",
				    "<input type='number' name='domainOfValidity.geographicBoundingBoxes[" + resolverCount + "].southBoundLatitude' value='" + $('#southBoundLatitude').val() + "'/>",
				    "<input type='number' name='domainOfValidity.geographicBoundingBoxes[" + resolverCount + "].westBoundLongitude' value='" + $('#westBoundLongitude').val() + "'/>",
					"<button type='button' class='btn btn-sm btn-default btn-deleterow' name='removeRow' data-index='" + (resolverCount - 1) + "' value='" + resolverCount + "'>Remove row</button>"
				]);
			});

			$(document).on('click', '.btn-deleterow', function(e) {
				var index = $(this).data('index');
				table = $('#bboxTable').dataTable();
				table.fnDeleteRow(index);
			});
		});				
	/* ]]> */		
	</script>
</div>		
	