<div th:fragment="extentDetailsPanel" id="extentDetailsPanel" class="panel panel-default" th:if="${itemClass}">
	<div class="panel-heading">
		<a data-toggle="collapse" data-parent="#accordion" href="#extentPanel"><span class="panel-title" th:text="#{header.domainOfValidity}"></span></a>
<!-- 		<div class="pull-right"> -->
<!-- 			<button id="newAreaPanelDismiss" type="button" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-remove"></span></button> -->
<!-- 			<span class="glyphicon glyphicon-chevron-right"></span> -->
<!-- 		</div> -->
	</div>
	<div id="extentPanel" class="panel-collapse collapse">
		<div class="panel-body" th:object="${proposal.domainOfValidity}">
			<div th:replace="registry/registers/gcp/extent_panel_content :: extentPanelContent"/>
		</div>								
	</div>	
</div>

<div th:fragment="extentDetails" class="form-group">
	<label class="control-label" for="domainOfValidity" th:text="#{form.label.domainOfValidity}"></label>
	<div th:if="*{domainOfValidity}">
		<a id="domainOfValidity" href="#dialog-extent" data-toggle="modal" th:text="*{domainOfValidity.description}"/>
	</div>
	<div th:unless="*{domainOfValidity}">
		<p th:text="'[' + #{undefined} + ']'"/>
	</div>
	
	<div class="modal fade" id="dialog-extent" role="dialog">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h4 th:text="#{popup.extent.header}">Extent</h4>
				</div>
				<div class="modal-body" th:object="${item.domainOfValidity}">
					<div th:include="registry/registers/gcp/extent_panel_content :: extentPanelContent"/>
				</div>
				<div class="modal-footer">
					<button type="button" id="extentPopup_ok" class="btn btn-default" data-dismiss="modal" th:text="#{button.ok}">Ok</button>
				</div>
			</div>
		</div>							
	</div>
	
</div>