<div th:fragment="details">
	<div class="row">
		<div class="col-md-6"> <!-- LEFT -->
			<div class="row" th:include="registry/registers/globals :: nameAndCode" />
			<div class="row" th:include="registry/registers/globals :: aliasesTable('param')" />

			<div th:unless="${isProposal}" th:with="property='parameter',label=#{form.label.operationParameters},columns=${#strings.arraySplit('name',',')},editable=${isProposal}">
				<div th:replace="registry/registers/globals :: referencedEntitiesTable('parameter')"/>
			</div>

			<div th:if="${isProposal}" class="row">
<!-- 				<select multiple="multiple" id="parameters"></select> -->
				<div class="col-md-12">
					<div class="form-group">
						<label class="control-label" th:for="parameters" th:text="#{form.label.operationParameters}"></label>
						<input type="hidden" multiple="multiple" id="parameters" style="width: 100%" th:field="*{parameters}"/>
						<script type="text/javascript" charset="utf-8" th:inline="text">
						/* <![CDATA[ */
							$(function() {
								$('#parameters').select2({
									multiple: true,
									dropdownCssClass: "bigdrop",
									ajax: {
										url: "[[@{${basePath}}]]/entities/byClass/OperationParameterItem?orderBy=code",
										dataType: "json",
										results: function (data) {
											return { 
												results : $.map(data, function (item) { 
													return { 
														text: "[" + item[1] + "] " + item[2], 
														id: item[0] 
													} 
												}) 
											};
										}
						            },
						            initSelection: function(element, callback) {
						                var data = [];
						                $(element.val().split(",")).each(function(i) {
						                    var item = this.split(':');
						                    data.push({
						                        id: item[0],
// 												text: "[" + item[1] + "] " + item[2], 
						                        text: item[1]
						                    });
						                });
						                //$(element).val('');
						                callback(data);
						            }						            
						        });
								
								if ([[${proposal.isClarification()}]]) {
									$('#parameters').select2("readonly", true);
								}
								
								$("#parameters").select2("container").find("ul.select2-choices").sortable({
									containment: 'parent',
									start: function() { $("#parameters").select2("onSortStart"); },
									update: function() { $("#parameters").select2("onSortEnd"); }
								});								
							});
						
						/* ]]> */
						</script>
					</div>
				</div>				
<!-- 				<div class="col-md-12" th:with="property='parameter',index='0',label=#{form.label.operationParameter},isRequired='true',ajaxPath='OperationParameterItem',addNewLabel='+'"> -->
<!-- 					<div th:replace="registry/registers/globals :: selectIdentifiedItem"/> -->
<!-- 				</div> -->
			</div>
		</div>	<!-- END OF LEFT -->
		
		<div class="col-md-6"> <!-- RIGHT -->
			<div class="row" th:include="registry/registers/globals :: remarks (cssClass='col-md-12')" />
			<div class="row" th:include="registry/registers/globals :: informationSource (cssClass='col-md-12')" />
			<div class="row" th:include="registry/registers/globals :: dataSource (cssClass='col-md-12')" />

			<div th:with="property='formula',rows=10,cols=60,label=#{form.label.formula},placeholder=#{form.placeholder.formula},isRequired='true'">
				<div th:replace="registry/registers/globals :: textArea"/>
			</div>

		</div>	<!-- END OF RIGHT -->									
	</div>
	
</div>
