<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head th:include="layout :: headerFragment" />
<body th:with="isNew='true'">
	<div th:include="layout :: navbarFragment"></div>

	<div class="container">
		<div class="row clearfix" style="margin-top: 0px">
		
			<form id="proposal" role="form" th:object="${proposal}" method="post" style="padding: 20px">
				<fieldset>		
		
					<div class="col-md-12 column">
		
						<div th:replace="registry/registers/proposal-globals :: itemClassSelector"/> 			
						
						<div class="panel-group" id="accordion" th:with="isCollapsible='true'">

							<div class="panel panel-default">
								<div class="panel-heading">
									<a data-toggle="collapse" data-parent="#accordion" href="#dataPanel">
										<span class="panel-title" th:text="#{header.operationParameter}">Coordinate Operation Parameter</span>									
									</a>
									<div class="pull-right">
										<span class="glyphicon glyphicon-chevron-right"></span>
									</div>
								</div>

								<div id="dataPanel" class="panel-collapse collapse in">								
									<div class="panel-body">
										<div th:if="${itemClass}">
											<div th:replace="registry/registers/globals :: itemClassNotConfiguredWarning"/> 			
											<div th:replace="registry/registers/gcp/param_details :: details"/>
										</div> <!-- if ${itemClass} -->
									</div>
								</div>
							</div>
	
							<div th:replace="registry/registers/globals :: proposalDetailsPanel (isCollapsible='true')"/>

						</div>
						
						<div id="validationFailed" class="alert alert-danger" th:utext="#{alert.validationFailed}"/>
						<div th:replace="registry/registers/proposal-globals :: proposalButtons"/>
					</div>
					
				</fieldset>
			</form>
			
		</div>
	</div>

	<div th:include="layout :: foot"></div>
	
	<script th:replace="registry/registers/globals :: js-proposal"/>
	
</body>
</html>