<div th:fragment="details">
	<div class="row">
		<div class="col-md-6"> <!-- LEFT -->
			<div class="row" th:include="registry/registers/globals :: nameAndIdentifier" />
			<div class="row" th:include="registry/registers/globals :: aliasesTable('param')" />
			<div class="row">
				<div class="col-md-6" th:with="property='greenwichLongitude',inputType='number',label=#{form.label.greenwichLongitude},placeholder=#{form.placeholder.greenwichLongitude},isRequired='true'">
					<div th:replace="registry/registers/globals :: textField(${property}, ${inputType}, ${label}, ${placeholder}, ${isRequired})"/>
				</div>
				<div class="col-md-6" th:with="property='greenwichLongitudeUom',label=#{form.label.greenwichLongitudeUom},isRequired='true',noAddNew='true',ajaxPath='UnitOfMeasureItem'">
					<div th:replace="registry/registers/globals :: selectIdentifiedItem2"/>
				</div>
			</div>
		</div>	<!-- END OF LEFT -->
		
		<div class="col-md-6"> <!-- RIGHT -->
			<div class="row" th:include="registry/registers/globals :: remarks (cssClass='col-md-12')" />
			<div class="row" th:include="registry/registers/globals :: informationSource (cssClass='col-md-12')" />
			<div class="row" th:include="registry/registers/globals :: dataSource (cssClass='col-md-12')" />
		</div>	<!-- END OF RIGHT -->									
	</div>
	<script type="text/javascript" charset="utf-8" th:inline="text">
	/* <![CDATA[ */
		$(document).ready(function() {
			$('#greenwichLongitude').val("0");
			
			$('#rangeMeaning').select2({
					width: 'resolve',
					dropdownAutoWidth : true,
					data: [
							{ id: '', text: '[[#{form.select.none}]]' },
							{ id: 'EXACT', text: 'exact' },
							{ id: 'WRAPAROUND', text: 'wraparound' },
					]				
			});

			$('#axisDirection').select2({
				width: 'resolve',
				dropdownAutoWidth : true,
				data: [
						{ id: 'columnNegative', text: 'column-negative' },
						{ id: 'columnPositive', text: 'column-positive' },
						{ id: 'displayDown', text: 'display-down' },
						{ id: 'displayLeft', text: 'display-left' },
						{ id: 'displayUp', text: 'display-up' },
						{ id: 'down', text: 'down' },
						{ id: 'east', text: 'east' },
						{ id: 'eastNorthEast', text: 'east-north-east' },
						{ id: 'eastSouthEast', text: 'east-south-east' },
						{ id: 'geocentricX', text: 'geocentric X' },
						{ id: 'geocentricY', text: 'geocentric Y' },
						{ id: 'geocentricZ', text: 'geocentric Z' },
						{ id: 'north', text: 'north' },
						{ id: 'northEast', text: 'north-east' },
						{ id: 'northNorthEast', text: 'north-north-east' },
						{ id: 'northNorthWest', text: 'north-north-west' },
						{ id: 'northWest', text: 'north-west' },
						{ id: 'rowNegative', text: 'row-negative' },
						{ id: 'rowPositive', text: 'row-positive' },
						{ id: 'south', text: 'south' },
						{ id: 'southEast', text: 'south-east' },
						{ id: 'southSouthEast', text: 'south-south-east' },
						{ id: 'southSouthWest', text: 'south-south-west' },
						{ id: 'southWest', text: 'south-west' },
						{ id: 'up', text: 'up' },
						{ id: 'west', text: 'west' },
						{ id: 'westNorthWest', text: 'west-north-west' },
						{ id: 'westSouthWest', text: 'west-south-west' },
				]				
			});
		});
	// "down;";"east-north-east";"east-south-east";"north";"north-east";"north-north-east";"north-north-west";"north-west";"south";"south-east";"south-south-east";"south-south-west";"south-west";"up";"west";"west-north-west";"west-south-west";"X";"Y";"Z"
	/* ]]> */
	</script>
</div>
