<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head th:include="layout :: headerFragment" />
<body>
	<div th:include="layout :: navbarFragment"></div>

	<div class="container">
		<div class="span6">
			<form id="signup" class="form-horizontal" th:object="${user}" method="post">
				<fieldset>
					<input th:unless="${isNew}" type="hidden" name="_method" value="PUT"/>

					<!-- Form Name -->
					<div th:if="${isNew}">
						<legend th:text="#{header.createUser}">Benutzer anlegen</legend>
					</div>
					<div th:unless="${isNew}">
						<legend th:text="#{header.editUser}">Benutzer bearbeiten</legend>
					</div>

					<input id="uuid" th:field="*{uuid}" th:value="*{uuid}" type="hidden"/>

					<div class="panel panel-default">
						<div class="panel-heading">
							<span th:text="#{admin.user.main.header}">Stammdaten</span>
						</div>
						<div class="panel-body" style="margin-left: 10px; margin-right: 10px">
							<div class="form-group">
								<div class="controls">
									<div class="checkbox">
										<input type="checkbox" th:field="*{active}" th:value="*{active}" th:text="#{form.label.isActive}">ist aktiviert</input>
									</div>
								</div>
							</div>							

							<!-- Text input-->
							<div th:class="${#fields.hasErrors('name')} ? 'form-group has-error' : 'form-group'">
								<label class="form-label" for="name" th:text="#{form.label.name}">Name</label>
								<div class="controls">
		<!-- 							<input th:unless="${isNew}" id="hiddenname" th:field="*{name}" th:value="*{name}" type="hidden"/> Value is not passed to form bean if input is disabled -->
									<input id="name" name="name" th:placeholder="#{form.placeholder.name}" class="form-control" required="true" type="text" th:field="*{name}"/> <span
										class="help-block" th:if="${#fields.hasErrors('name')}">
										<ul>
											<li th:each="err : ${#fields.errors('name')}" th:text="#{${err}}"></li>
										</ul>
									</span>
								</div>
							</div>
		
							<!-- Text input-->
							<div th:class="${#fields.hasErrors('emailAddress')} ? 'form-group has-error' : 'form-group'">
								<label class="form-label" for="name" th:text="#{form.label.emailAddress}">E-Mail-Adresse</label>
								<div class="controls">
									<input id="emailAddress" name="emailAddress" th:placeholder="#{form.placeholder.emailAddress}" class="form-control" required="true" type="email" th:field="*{emailAddress}" /> 
									<span class="help-block" th:if="${#fields.hasErrors('emailAddress')}">
										<ul>
											<li th:each="err : ${#fields.errors('emailAddress')}" th:text="#{${err}}"></li>
										</ul>
									</span>
								</div>
							</div>
		
							<!-- Text input-->
							<div class="form-group">
								<label class="form-label" for="password" th:text="#{form.label.password}">Passwort</label>
								<div class="controls">
									<input id="password" name="password" th:placeholder="#{form.placeholder.password}" class="form-control" th:required="${isNew} ? 'true'" type="password" th:field="*{password}" />
								</div>
							</div>
		
							<!-- Text input-->
							<div th:class="${#fields.hasErrors('confirmedPassword')} ? 'form-group has-error' : 'form-group'">
								<label class="form-label" for="password" th:text="#{form.label.confirmPassword}">Passwort bestätigen</label>
								<div class="controls">
									<input id="confirmPassword" name="confirmPassword" th:placeholder="#{form.placeholder.confirmPassword}" class="form-control" th:required="${isNew} ? 'true'" type="password"
										th:field="*{confirmedPassword}" /> <span class="help-block" th:if="${#fields.hasErrors('confirmedPassword')}" th:text="#{form.validation.confirmPassword}"></span>
								</div>
							</div>
		
							<div class="form-group">
								<label class="form-label" for="preferredLangugae" th:text="#{form.label.preferredLanguage}">Standardsprache</label>
								<div class="controls">
									<div class="input-group">
										<select id="preferredLanguage" required="true" th:field="*{preferredLanguage}">
											<option value="de-DE">Deutsch</option>
											<option value="en-US">English</option>
										</select>
									</div>
								</div>
							</div>
		
<!-- 							<div class="form-group"> -->
<!-- 								<label class="form-label" for="organization" th:text="#{form.label.organization}">Organisation</label> -->
<!-- 								<div class="controls"> -->
<!-- 									<div class="input-group"> -->
<!-- 										<select id="organization" required="true" th:field="*{organizationUuid}"> -->
<!-- 											<option th:each="org : ${organizations}" th:value="${org.uuid}" th:text="${org.organizationName}"></option> -->
<!-- 										</select>  -->
<!-- 									</div> -->
<!-- 								</div> -->
<!-- 							</div> -->

						</div>
					</div>
					
					<div class="panel panel-default">
						<div class="panel-heading">
							<span th:text="#{admin.user.groups.header}">Stammdaten</span>
						</div>
						<table id="rolesTable" class="table table-striped">
							<tbody>
								<tr th:each="group : ${@registryUserGroupRepository.findAll()}">
									<td style="width: 10px"><input type="checkbox" th:name="${group.name}" th:checked="${#lists.contains(user.roles, group.name)}"></input></td>
									<td th:text="#{${group.name}}"></td>
								</tr>
							</tbody>
						</table>
					</div>

<!-- 					<div class="form-group"> -->
<!-- 						<div style="padding: 0px"> -->
<!-- 							<table id="registersTable" class="table table-striped"> -->
<!-- 								<thead> -->
<!-- 									<tr> -->
<!-- 										<th th:text="#{tableheader.register}">Register</th> -->
<!-- 										<th th:text="#{ROLE_OWNER}">Owner</th> -->
<!-- 										<th th:text="#{ROLE_CONTROLBODY}">Controlbody</th> -->
<!-- 										<th th:text="#{ROLE_MANAGER}">Manager</th> -->
<!-- 										<th th:text="#{ROLE_SUBMITTER}">Submitter</th> -->
<!-- 									</tr> -->
<!-- 								</thead> -->
<!-- 								<tbody> -->
<!-- 									<tr th:each="register : ${@registerRepository.findAll()}"> -->
<!-- 										<td th:text="${register.name}"></td> -->
<!-- 										<td><input th:with="roleName=('ROLE_OWNER_' + ${register.uuid})" type="checkbox" th:name="${roleName}" th:checked="${#lists.contains(user.roles, roleName)}"></input></td> -->
<!-- 										<td><input th:with="roleName=('ROLE_CONTROLBODY_' + ${register.uuid})" type="checkbox" th:name="${roleName}" th:checked="${#lists.contains(user.roles, roleName)}"></input></td> -->
<!-- 										<td><input th:with="roleName=('ROLE_MANAGER_' + ${register.uuid})" type="checkbox" th:name="${roleName}" th:checked="${#lists.contains(user.roles, roleName)}"></input></td> -->
<!-- 										<td><input th:with="roleName=('ROLE_SUBMITTER_' + ${register.uuid})" type="checkbox" th:name="${roleName}" th:checked="${#lists.contains(user.roles, roleName)}"></input></td> -->
<!-- 									</tr> -->
<!-- 								</tbody> -->
<!-- 							</table> -->
<!-- 						</div>	 -->
<!-- 					</div> -->
					
					<!-- Button -->
					<div class="form-group">
						<label class="form-label" for="save" />
						<div class="controls">
							<button id="save" name="save" class="btn btn-primary" th:text="#{button.save}">Speichern</button>
							<button id="cancel" type="button" onClick="goback();" name="cancel" class="btn btn-default" th:text="#{button.cancel}">Abbrechen</button>
						</div>
					</div>

				</fieldset>
			</form>
		</div>
	</div>
</body>
</html>