<div class="modal fade" id="startThread" role="dialog" th:fragment="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 th:text="#{popup.message.header}">Neue Nachricht</h4>
			</div>

			<form method="post" th:object="${newPost}">
				<fieldset>
					<div class="modal-body">
<!-- 						<input type="hidden" th:field="*{token}" /> -->
						<input type="hidden" th:field="*{author}" />
						<input type="hidden" th:field="*{discussionUuid}" />
						<input type="hidden" id="parentPostUuid" th:field="*{parentPostUuid}"/>
						<table style="border-collapse: separate; border-spacing: 10px;">
							<tbody>
								<tr>
									<td><label class="form-label" for="author" th:text="#{form.label.from}">Von</label></td>
<!-- 									<td><input disabled="disabled" type="text" id="authorName" th:value="${@registrySecurity.getCurrentUser().getName()}"></input></td> -->
									<td><label style="width: 50ex" type="text" id="author" th:text="*{author}"></label></td>
								</tr>
								<tr>
									<td><label class="form-label" for="subject" th:text="#{form.label.subject}">Betreff</label></td>
									<td><input type="text" style="width: 50ex" th:field="*{subject}" id="subject"></input></td>
								</tr>
								<tr>
									<td valign="top"><label class="form-label" for="message" th:text="#{form.label.message}">Nachricht</label></td>
									<td><textarea id="message" th:field="*{text}" style="width: 50ex" cols="60" rows="10"></textarea></td>
								</tr>
							</tbody>
						</table>
					</div>

					<div class="modal-footer">
						<button type="button" id="cancel" class="btn btn-default" data-dismiss="modal" th:text="#{button.cancel}">Abbrechen</button>
						<button type="submit" id="sendMessage" class="btn btn-primary" th:text="#{button.send}">Abschicken</button>
					</div>
			
				</fieldset>
			</form>			
		</div>
	</div>
</div>

<script type="text/javascript" th:inline="text">
/* <![CDATA[ */
	$(document).ready(function() {
		$('#sendMessage').click(function() {
			
		});
	});
/* ]]> */
</script>

