<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <body>
        Dear Sir or Madam,<p/>
 
 		You have been invited to a discussion regarding a proposal in the ISO Geodetic Registry: <p/>
        </p>
        Register: $register.name<p/>
        Proposal title: $proposal.title<p/>
        <p/>
        You may access the discussion by opening the following URL in your web browser:
        <a href="$discussionUrl">$discussionUrl</a><p/>
 		</p>
        <br/><br/>
        ISO Geodetic Registry
    </body>
</html>