<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <body>
        Dear $user.name,<p/>
 
        You have successfully created a user account for the ISO Geodetic Registry. To activate your account, please open the following link in your web browser:<p/> 
        </p>
        <a href="$confirmationUrl">$confirmationUrl</a><p/>
 		</p>
        <br/><br/>
        ISO Geodetic Registry
    </body>
</html>