<body th:fragment="body(headerLabel, detailsTemplate)" th:with="isNew='true',isEdit='true'">
	<div th:include="layout :: navbarFragment"></div>

	<div class="container">
		<div class="row clearfix" style="margin-top: 0px">
		
			<form id="proposal" role="form" th:object="${proposal}" method="post" style="padding: 20px">
				<fieldset>		
					<input type="hidden" name="_method" value="PUT"/>
					<input type="hidden" th:field="*{itemClassUuid}"/>
					<input type="hidden" name="_userRole" th:value="${_userRole}"/>
					<div class="col-md-12 column">
		
						<div class="panel-group" id="accordion" th:with="isCollapsible='true'">

							<div class="panel panel-default">
								<div class="panel-heading">
									<a data-toggle="collapse" data-parent="#accordion" href="#dataPanel">
										<span class="panel-title" th:text="${itemClassName} ? #{${itemClassName}} : ${headerLabel}"></span>									
									</a>
									<div class="pull-right">
										<span class="glyphicon glyphicon-chevron-right"></span>
									</div>
								</div>

								<div id="dataPanel" class="panel-collapse collapse in">								
									<div class="panel-body">
										<div th:if="${itemClass}">
											<div th:replace="globals :: itemClassNotConfiguredWarning"/> 			
											<div th:replace="${detailsTemplate} :: details"/>
										</div> <!-- if ${itemClass} -->
									</div>
								</div>
							</div>
	
							<div th:if="${showExtentPanel}" th:unless="${proposal.isClarification()}">
								<div th:replace="registry/registers/gcp/extent_panel :: extentDetailsPanel"/>
							</div>
							<div th:unless="${proposal.isClarification()}">
								<div th:replace="registry/registers/gcp/infosrc_panel :: informationSourceDetailsPanel"/>
							</div>
							<div th:replace="globals :: proposalDetailsPanel (isCollapsible='true')"/>

						</div>
						
						<div id="validationFailed" class="alert alert-danger" th:utext="#{alert.validationFailed}"/>
						<div th:replace="registry/registers/proposal-globals :: proposalButtons"/>
					</div>
					
				</fieldset>
			</form>
			
		</div>
	</div>

	<div th:include="layout :: foot"></div>
	
	<script th:replace="globals :: js-proposal"/>
	
</body>
