<div th:fragment="itemClassNotConfiguredWarning">
	<div th:if="${itemClassNotConfigured}" class="alert alert-danger">
		<p th:text="#{form.proposal.itemClassNotConfigured}">Konfiguration für Itemklasse nicht vorhanden.</p>
	</div>
</div>

<div th:fragment="input (property, inputType, label, placeholder, isRequired)" class="form-group" th:classappend="${isRequired} ? 'has-feedback'">
	<label class="control-label" th:for="${property}" th:text="${label}"></label>
	<input th:id="${property}" th:name="${property}" th:placeholder="${placeholder}" class="form-control" th:classappend="${isRequired} ? 'required'" th:required="${isRequired}" th:type="${inputType}" th:field="*{__${property}__}" />
	<span th:if="${isRequired}" class="feedback glyphicon glyphicon-hand-left form-control-feedback" th:title="#{mandatoryField}"></span>
</div>

<!-- Parameters: property, rows, cols, inputType, label, placeholder, isRequired -->
<div th:fragment="textArea" class="form-group" th:classappend="${isRequired} ? 'has-feedback'"> 
	<label class="control-label" th:for="${property}" th:text="${label}"></label>
	<textarea th:id="${property}" th:name="${property}" th:rows="${rows}" th:cols="${cols}" th:placeholder="${placeholder}" class="form-control" th:classappend="${isRequired} ? 'required'" th:required="${isRequired}" th:field="*{__${property}__}"/>
	<span th:if="${isRequired}" class="feedback glyphicon glyphicon-hand-left form-control-feedback" th:title="#{mandatoryField}"></span>
</div>

<!-- property=domainOfValidity field=domainOfValidity.referencedItemUuid   items =${@areaItemRepository.findAll(), noAddNew='true'}  -->
<div th:fragment="selectIdentifiedItem" class="form-group" th:classappend="${isRequired} ? 'has-feedback'">
	<label class="control-label" th:for="${property}" th:text="${label}"></label> <small><a th:id="${property} + '_bycode'" href="#">[by Code]</a></small>  <small><a th:id="${property} + '_byname'" href="#">[by Name]</a></small> <img th:id="${property} + '_loader'" th:src="@{__${basePath}__/resources/images/loader.gif}"/>
	
	<div th:if="${isProposal}" th:id="${property} + 'Group'" class="input-group">
		<select th:id="${property}" th:name="${property}" class="form-control" th:classappend="${isRequired} ? 'required'" th:required="${isRequired}" th:field="*{__${property}__.referencedItemUuid}">
<!-- 			<option th:each="item : ${items}" th:value="${item.uuid}" th:text="'[' + ${item.code} + '] ' + ${item.name}" data-code="${item.code}" data-name="${item.name}"></option> -->
		</select>
		<span th:unless="${noAddNew}" class="input-group-btn">
			<button th:id="'addNew_' + ${property}" class="btn btn-default btn-addnew" type="button" th:text="#{button.addNew}">Add new</button>
		</span>
		
		<script th:if="${ajaxPath}" type="text/javascript" charset="utf-8" th:inline="text">
		/* <![CDATA[ */
			$(function() {
				$('#[[${property}]]_byname').click(function(e) {
					$("select#[[${ajaxPath}]]").attr('disabled', 'disabled');
					$('#[[${property}]]_loader').show();
					$.getJSON(
							"[[@{${basePath}}]]/data/[[${ajaxPath}]]?orderBy=name",
							{
								id : $(this).val(),
								ajax : 'true'
							},
							function(j) {
								var options = '';
								for (var i = 0; i < j.length; i++) {
									options += '<option value="' + j[i][0] + '">'
											+ j[i][2] + ' [' + j[i][1] + ']'
											+ '</option>';
								}
								$("select#[[${property}]]").html(options);
								$("select#[[${property}]]").removeAttr('disabled');
	
								$('#[[${property}]]_byname').addClass('bold');
								$('#[[${property}]]_bycode').removeClass('bold');
								$('#[[${property}]]_loader').hide();
							});
				});
	
				$('#[[${property}]]_bycode').click(function(e) {
					$("select#[[${property}]]").attr('disabled', 'disabled');
					$('#[[${property}]]_loader').show();
					$.getJSON(
							"[[@{${basePath}}]]/data/[[${ajaxPath}]]?orderBy=code",
							{
								id : $(this).val(),
								ajax : 'true'
							},
							function(j) {
								var options = '';
								for (var i = 0; i < j.length; i++) {
									options += '<option value="' + j[i][0] + '">'
											+ '[' + j[i][1] + '] ' + j[i][2] 
											+ '</option>';
								}
								$("select#[[${property}]]").html(options);
								$("select#[[${property}]]").removeAttr('disabled');
	
								$('#[[${property}]]_bycode').addClass('bold');
								$('#[[${property}]]_byname').removeClass('bold');
								$('#[[${property}]]_loader').hide();
							});
				});
	
				$('#[[${property}]]_loader').hide();
				$('#[[${property}]]_bycode').click();
			});
		/* ]]> */
		</script>
	</div>
	<div th:unless="${isProposal}">
		<div th:if="*{__${property}__}" th:with="uuid=*{__${property}__.uuid}">
			<a th:href="@{__${basePath}__/item/__${uuid}__}" th:text="'[' + *{__${property}__.code} + '] ' + *{__${property}__.name}"></a>
		</div>
		<div th:unless="*{__${property}__}">
			[<span th:text="#{undefined}"></span>]
		</div>		
	</div>
</div>

<div th:fragment="selectEnum" class="form-group" th:classappend="${isRequired} ? 'has-feedback'">
	<label class="control-label" th:for="${property}" th:text="${label}"></label>
	<div th:if="${isProposal}" th:id="${property} + 'Group'" class="input-group">
		<select th:id="${property}" th:name="${property}" class="form-control" th:classappend="${isRequired} ? 'required'" th:required="${isRequired}" th:field="*{__${property}__}">>
		  <option th:each="elem : ${T(__${type}__).values()}" th:value="${elem.name()}" th:text="#{${elem.name()}}"></option>
		</select>
	</div>
	<div th:unless="${isProposal}">
		<span th:text="*{__${property}__}"></span>
	</div>
</div>

<div th:fragment="nameAndCode">
	<div class="col-md-8" th:with="property='name',inputType='text',label=#{form.label.name},placeholder=#{form.placeholder.name},isRequired='true'">
		<div th:replace="registry/registers/globals :: input(${property}, ${inputType}, ${label}, ${placeholder}, ${isRequired})"/>
	</div>
	<div class="col-md-4" th:with="property='code',inputType='number',label=#{form.label.code},placeholder=#{form.placeholder.code},isRequired='true'">
		<div th:replace="registry/registers/globals :: input(${property}, ${inputType}, ${label}, ${placeholder}, ${isRequired})"/>
	</div>
</div>

<div th:fragment="aliases(modifier)">
	<div class="col-md-12">
		<div class="panel">
			<div class="panel-header">
				<label class="form-label" th:for="'aliasesTable_' + ${modifier}" th:text="#{form.label.aliases}">Aliases</label>
			</div>
			<div class="panel-body">
				<table th:id="'aliasesTable_' + ${modifier}" class="datatable table table-condensed table-striped">
					<thead>
						<tr>
							<th th:text="#{tableheader.alias}">Alias</th>
							<th th:text="#{tableheader.namingSystem}">Naming system</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="alias : *{aliases}">
							<td th:text="${alias.alias}"/>
							<td th:text="${alias.namingSystem.name}"/>
						</tr>
					</tbody>
				</table>
				<button th:if="!${isReadOnly}" type="button" th:text="#{button.addNew}" disabled="disabled" class="btn btn-sm btn-default disabled">Add new</button>
			</div>
		</div>
	</div>

	<script type="text/javascript" th:inline="text">
	/* <![CDATA[ */
			table = $('#aliasesTable').dataTable({
			"sPaginationType": "bs_normal",
			"bFilter": false,
			"oLanguage": {
				  "sEmptyTable": "[[#{datatable.sEmptyTable}]]",
				  "sInfo": "[[#{datatable.sInfo}]]",
				  "sInfoEmpty": "[[#{datatable.sInfoEmpty}]]",
				  "sInfoFiltered": "[[#{datatable.sInfoFiltered}]]",
				  "sLengthMenu": "[[#{datatable.sLengthMenu}]]",
				  "sLoadingRecords": "[[#{datatable.sLoadingRecords}]]",
				  "sProcessing": "[[#{datatable.sProcessing}]]",
				  "sZeroRecords": "[[#{datatable.sZeroRecords}]]",
				  "oPaginate": {
				        "sFirst":    "[[#{datatable.oPaginate.sFirst}]]",
				        "sLast":     "[[#{datatable.oPaginate.sLast}]]",
				        "sNext":     "[[#{datatable.oPaginate.sNext}]]",
				        "sPrevious": "[[#{datatable.oPaginate.sPrevious}]]"
				    }
				},
			 "aaSorting": [[ 0, "asc" ]],
			 aoColumns: [
				null,
				null,
				{"bSortable" : false}
			]
		});	
	/* ]]> */
	</script>	
</div>

<div th:fragment="remarks (cssClass)">
	<div th:classappend="${cssClass}" th:with="property='remarks',rows=5,cols=60,label=#{form.label.remarks},placeholder=#{form.placeholder.remarks},isRequired='false'">
		<div th:replace="registry/registers/globals :: textArea"/>
	</div>
</div>

<div th:fragment="informationSource (cssClass)">
	<div th:classappend="${cssClass}" th:with="property='informationSource',rows=2,cols=60,label=#{form.label.informationSource},placeholder=#{form.placeholder.informationSource},isRequired='false'">
		<div th:replace="registry/registers/globals :: textArea"/>
	</div>
</div>

<div th:fragment="dataSource (cssClass)">
	<div th:classappend="${cssClass}" th:with="property='dataSource',inputType='text',label=#{form.label.dataSource},placeholder=#{form.placeholder.dataSource},isRequired='true'">
		<div th:replace="registry/registers/globals :: input(${property}, ${inputType}, ${label}, ${placeholder}, ${isRequired})"/>
	</div>
</div>

<div th:fragment="proposalDetailsPanel (isCollapsible)" class="panel panel-default" th:if="${itemClass}">
	<div class="panel-heading">
		<div th:if="${isCollapsible}">
			<a data-toggle="collapse" data-parent="#accordion" href="#managementPanel">
				<span class="panel-title" th:text="#{header.proposalDetails}">Details for proposal</span>									
			</a>
			<div class="pull-right">
				<span class="glyphicon glyphicon-chevron-right"></span>
			</div>
		</div>
		<h3 th:unless="${isCollapsible}" class="panel-title" th:text="#{header.proposalDetails}">Details for proposal</h3>
	</div>

	<div id="managementPanel" th:classappend="${isCollapsible} ? 'panel-collapse collapse'">
		<div class="panel-body">
			<div th:fragment="proposalDetails">
				<div th:with="property='definition',rows=6,cols=120,label=#{form.label.definition},placeholder=#{form.placeholder.definition},isRequired='true'">
					<div th:replace="registry/registers/globals :: textArea"/>
				</div>
				<div th:unless="${partOfSupersession}">
					<div th:with="property='justification',rows=6,cols=120,label=#{form.label.justification},placeholder=#{form.placeholder.justification},isRequired='true'">
						<div th:replace="registry/registers/globals :: textArea"/>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>			

<script th:fragment="js-proposal" type="text/javascript" th:inline="text">
/* <![CDATA[ */
    var hidePanel = function(selector) {
		$(selector).hide();
		
		$(selector + ' .required').each(function() {
			$(this).addClass("hidden");
		});
	};

    var showPanel = function(selector) {
		$(selector).show();
		
		$(selector + ' .required').each(function() {
			$(this).removeClass("hidden");
		});
	};

	$(document).ready(function() {
		$('#itemClass').on('change', function() {
	  		//alert( this.value ); // or $(this).val()
	  		if ([[${param.addNew} ? 'true' : 'false']]) {
	  			location.href = window.location.pathname + '?addNew=&itemClass=' + this.value;
	  		}
	  		else {
	  			location.href = window.location.pathname + '?itemClass=' + this.value;
	  		}
		});

		$('#validationFailed').hide();
		$('#pleaseWait').hide();

		$('#proposal').validate({
			ignore: '.hidden',
// 			debug: true,
			invalidHandler: function(event, validator) {
				// 'this' refers to the form
				var errors = validator.numberOfInvalids();
// 				alert(errors);
				$('#validationFailed').show();				
			},
			submitHandler: function(form) {
				$('#pleasewait').show();
	 			$('button').each(function() {
					$(this).attr('disabled', 'disabled');
				});
				
				form.submit();
				return true;
			},
			messages: {
				name: "[[#{button.cancel}]]"
			},
			errorClass: "has-error",
			errorPlacement: function(error, element) {
			},
			highlight: function(element, errorClass, validClass) {
				$(element).addClass(errorClass).removeClass(validClass);
				$(element).closest(".form-group").addClass(errorClass);
			},
			unhighlight: function(element, errorClass, validClass) {
				$(element).removeClass(errorClass).addClass(validClass);
				$(element).closest(".form-group").removeClass(errorClass);
			}			
		});
	});
/* ]]> */
</script>
