<div th:fragment="proposalButtons" class="form-group">
	<div th:if="${itemClass}">
		<input type="hidden" th:field="*{itemUuid}"/>
		<input type="hidden" th:field="*{proposalUuid}"/>
		<input type="hidden" th:field="*{targetRegisterUuid}"/>
		<input type="hidden" th:field="*{sponsorUuid}"/>
		<input type="hidden" th:field="*{proposalType}"/>					
	
		<div class="controls">
			<button id="cancel" type="button" onClick="history.back();" name="cancel" class="btn btn-default" th:text="#{button.cancel}">Abbrechen</button>
			<div class="pull-right">
				<button id="saveProposal" name="saveProposal" class="btn btn-default" th:text="#{button.saveProposal}">Speichern</button>
				<button id="submit" name="submit" class="btn btn-primary" th:text="#{button.submitProposal}">Speichern</button>
				<div class="row">
					<div id="pleaseWait" class="pull-right"><img th:src="@{__${basePath}__/resources/images/loader.gif}"/></div>
				</div>
			</div>
		</div>
	</div>
</div>
