<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head th:include="layout :: headerFragment" />
<body>
	<div th:include="layout :: navbarFragment"></div>
	<div class="col-md-3">
 		<button id="topback" class="btn btn-default" onclick="history.back();" th:text="#{button.back}">Zurück</button>
		<div th:include="layout :: navtree"></div>
	</div>
	<div class="col-md-9" role="main">
		<div th:if="${noItemsSelected}" class="alert alert-danger">
			<p>
				<span th:text="#{alert.noItemsSelected}">Es muss mindestens ein Eintrag ausgewählt werden.</span>
			</p>
		</div>
		<div class="panel panel-primary">
			<form id="addSupersededItemsForm" method="post" target="_blank">
				<div style="padding: 10px">
					<input type="hidden" name="exportees" id="exportees"/>
					<table id="exportedItemsTable" class="datatable table table-striped">
						<thead>
							<tr>
								<th></th>
								<th th:text="#{tableheader.name}">Name</th>
								<th>
									<span th:text="#{tableheader.itemClassName}">Klasse</span>
								</th>
								<th th:text="#{tableheader.submitter}">Einreicher</th>
								<th th:text="#{tableheader.status}">Status</th>
							</tr>
						</thead>
					</table>
				</div>	
				<div class="panel-footer">
					<button type="submit" name="downloadExcel" class="btn btn-info" th:text="#{button.downloadExcel}"></button>
				</div>
			</form>

		</div>
	</div>
	<button th:if="${#httpServletRequest.getHeader('Referer')}" id="cancel" onClick="history.back();" type="button" name="back" class="btn btn-default pull-right" th:text="#{button.back}" style="margin-bottom: 20px">Abbrechen</button>

	<div th:replace="globals :: js-lists"/>

	<script type="text/javascript" th:inline="text">
	/*<![CDATA[ */
		var showCheckbox = function(uuid, ischecked) {
			var result = '<input type="checkbox" class="select-checkbox"';
			if (ischecked) {
				result += ' checked="checked"';
			}
			result += ' id="export_' + uuid + '" name="export_' + uuid + '" data-uuid="' + uuid + '"/>';
			
			return result;
		}

		$(document).ready(function() {
			var selected = [];
			
			var table = $('#exportedItemsTable').dataTable({
				"sAjaxSource": "[[@{__${basePath}__/}]]register/[[${register.uuid}]]/[[${itemClass} ? ${itemClass.name} : '*']]/items?status=VALID",
				"bProcessing": true,
				"bServerSide": true,
				"bStateSave": true,
				"sPaginationType": "bs_normal",
				"oLanguage": {
					  "sEmptyTable": "[[#{datatable.sEmptyTable}]]",
					  "sInfo": "[[#{datatable.sInfo}]]",
					  "sInfoEmpty": "[[#{datatable.sInfoEmpty}]]",
					  "sInfoFiltered": "[[#{datatable.sInfoFiltered}]]",
					  "sLengthMenu": "[[#{datatable.sLengthMenu}]]",
					  "sLoadingRecords": "[[#{datatable.sLoadingRecords}]]",
					  "sProcessing": "<img style='margin-left: 20px' src='[[@{__${basePath}__/resources/images/loader.gif}]]'/>",
					  "sZeroRecords": "[[#{datatable.sZeroRecords}]]",
					  "oPaginate": {
					        "sFirst":    "[[#{datatable.oPaginate.sFirst}]]",
					        "sLast":     "[[#{datatable.oPaginate.sLast}]]",
					        "sNext":     "[[#{datatable.oPaginate.sNext}]]",
					        "sPrevious": "[[#{datatable.oPaginate.sPrevious}]]"
					    }
					},
				"aaSorting": [[ 1, "asc" ]],
				"aoColumns": [
					{ 
						"sWidth": "10%",
						"bSortable": false
					},
					{ 
						"mDataProp": "name",
						"sWidth": "35%",
						"bSortable": true
					},
					{ 
						"mDataProp": "itemClassName",
						"sWidth": "15%",
						"bSearchable": true,
						"bSortable": false
					},
					{ 	
						"mDataProp": "sponsorName",
						"sWidth": "30%",
					 	"bSortable": false
					},
					{ 
						"mDataProp": "status",
						"sWidth": "10%",
						"bSortable": true
					},
				],
				"aoColumnDefs": [
					{ "aTargets": [0],
					  "mData": null,
					  "mRender": function (data, type, full) {
						  var ischecked = false;
						  if ($.inArray(full.uuid, selected) !== -1 ) {
				                ischecked = true;
						  }
						  return showCheckbox(full.uuid, ischecked);
					  }
					}
				]
			});

		    $(document).on('change', '.select-checkbox', function () {
		        var id = $(this).data('uuid');
		        var index = $.inArray(id, selected);
		 
		        if (index === -1) {
		            selected.push(id);
		        } 
		        else {
		            selected.splice(index, 1);
		        }
		        
		        $('#exportees').val(selected.join(";"));
		    });
		    
			$('.datatable').each(function(){
				var datatable = $(this);
				// SEARCH - Add the placeholder for Search and Turn this into in-line form control
				var search_input = datatable.closest('.dataTables_wrapper').find('div[id$=_filter] input');
				search_input.attr('placeholder', '[[#{datatable.searchPlaceholder}]]');
				search_input.addClass('form-control input-sm');
				// LENGTH - Inline-Form control
				var length_sel = datatable.closest('.dataTables_wrapper').find('div[id$=_length] select');
				length_sel.addClass('form-control input-sm');
			});
		});
	/* ]]> */
	</script>
	
	<div th:replace="layout :: footer"></div>
</body>
</html>