<!DOCTYPE html>
<html>
	<head th:include="layout :: headerFragment"/>
	<body>
	<div th:include="layout :: navbarFragment"></div>

	<div class="container-fluid">
		<div class="row-fluid">
			<div class="col-md-3">
				<div th:include="layout :: navtree"></div>
			</div>
			<div class="col-md-9" role="main">
				<div class="row">
					<div class="alert alert-danger">
						<p>
							<span th:text="#{alert.unauthorized}"></span>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div th:replace="layout :: foot"></div>
</body>
</html>
