<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="layout :: headerFragment" />

<style type="text/css">
  /* Override some defaults */
  html, body {
    background-color: #eee;
  }

  body {
    padding-top: 80px;
  }

</style>
<body>
<div th:include="layout :: navbarFragment"></div>

<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="text-center">
            <h3><i class="glyphicon glyphicon-lock"
                   style="font-size:2em;"></i></h3>
            <h2 class="text-center">Forgot Password?</h2>
            <p>Enter your e-mail address and we'll send you a link to reset your password.</p>

            <div class="panel-body">
              <div th:if="${param.success}">
                <div class="alert alert-info">
                  Password reset instruction will be sent to the email address if it existing in the system
                </div>
              </div>

              <form class="text-left" method="post"
                    th:action="@{/forgot-password}"
                    th:object="${forgotPasswordForm}">
                <div class="form-group"
                     th:classappend="${#fields.hasErrors('email')}? 'has-error':''">
                  <div class="input-group">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-envelope color-blue"></i>
                    </span>
                    <input class="form-control"
                           th:field="*{email}"
                           type="email"
                           required="required"
                           placeholder="Email address"/>
                  </div>

                  <p class="text-danger"
                     th:each="error : ${#fields.errors('email')}"
                     th:text="${error}">Validation error</p>

                </div>

                <div th:include="layout :: captchaInput" />

                <button type="submit"
                        class="btn btn-success btn-block">Reset Password
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div th:replace="layout :: foot"></div>
</body>
</html>
