<script th:fragment="js-lists" type="text/javascript" th:inline="text">
/* <![CDATA[ */
  	var itemActionButton = function(action, itemUuid, bsclass, text) {
		return '<button type="button" id="' + action + '-' + itemUuid + '" class="btn btn-' + bsclass + ' btn-xs button-' + action + ' action-' + itemUuid + '" data-uuid="' + itemUuid + '">' + text + '</button>';
	};

	var clarifyButton = function(item) {
		return itemActionButton('clarify', item.uuid, 'primary', '[[#{button.clarification}]]');
	}
	
	var supersedeButton = function(item) {
		return itemActionButton('supersede', item.uuid, 'warning', '[[#{button.supersession}]]');
	};

	var detailsButton = function(itemUuid, additionalClasses) {
		var classes;
		if (typeof additionalClasses === 'undefined') {
			classes = '';
		}
		else {
			classes = additionalClasses;
		}
		return '<button type="button" id="details-' + itemUuid + '" class="btn btn-default btn-xs button-details ' + classes + ' action-' + itemUuid + '" data-uuid="' + itemUuid + '">[[#{button.details}]]</button>';
	};

	var editButton = function(itemUuid, additionalClasses) {
		var classes;
		if (typeof additionalClasses === 'undefined') {
			classes = '';
		}
		else {
			classes = additionalClasses;
		}
		return '<button type="button" id="edit-' + itemUuid + '" class="btn btn-default btn-xs button-edit ' + classes + ' action-' + itemUuid + '" data-uuid="' + itemUuid + '">[[#{button.edit}]]</button>';
	};

	var addToGroupButton = function(item) {
		return '<a href="#addtogrouppopup-' + item.proposalUuid + '" id="addtogroup-' + item.proposalUuid + '" data-toggle="modal" class="btn btn-default btn-xs button-addtogroup action-' + item.proposalUuid + '" data-uuid="' + item.proposalUuid + '">[[#{button.addToGroup}]]</a>';
	}

	var addToGroupButtonNoPopup = function(item) {
		return '<button type="button" id="addtogroup-' + item.proposalUuid + '" class="btn btn-default btn-xs button-addtogroup action-' + item.proposalUuid + '" data-uuid="' + item.proposalUuid + '">[[#{button.addToGroup}]]</button>';
	}

	var removeFromGroupButton = function(item) {
		return '<a href="#removefromgrouppopup-' + item.proposalUuid + '" id="removefromgroup-' + item.proposalUuid + '" data-toggle="modal" class="btn btn-danger btn-xs button-removefromgroup action-' + item.proposalUuid + '" data-uuid="' + item.proposalUuid + '">[[#{button.removeFromGroup}]]</a>';
	}

	var dissolveGroupButton = function(item) {
		return '<a href="#dissolvegrouppopup-' + item.proposalUuid + '" id="dissolvegroup-' + item.proposalUuid + '" data-toggle="modal" class="btn btn-default btn-xs action-' + item.proposalUuid + '" data-uuid="' + item.proposalUuid + '">[[#{button.dissolveGroup}]]</a>';
	}
	
	var discussionButton = function(item) {
		return '<button type="button" id="details_' + item.proposalUuid + '" class="btn btn-primary btn-xs button-discussion action-' + item.proposalUuid + '" data-uuid="' + item.proposalUuid + '">[[#{button.discussProposal}]]</button>';
	}

	var startDiscussionButton = function(item) {
		return '<a href="#startdiscussionpopup-' + item.proposalUuid + '" id="startdiscussion-' + item.proposalUuid + '" data-toggle="modal" class="btn btn-warning btn-xs action-' + item.proposalUuid + '" data-uuid="' + item.proposalUuid + '">[[#{button.startProposalDiscussion}]]</a>';
	}

	var endDiscussionButton = function(item) {
		return '<a href="#enddiscussionpopup-' + item.proposalUuid + '" id="enddiscussion-' + item.proposalUuid + '" data-toggle="modal" class="btn btn-warning btn-xs action-' + item.proposalUuid + '" data-uuid="' + item.proposalUuid + '">[[#{button.endProposalDiscussion}]]</a>';
	}

	var voteButton = function(item) {
		return '<button type="button" id="ballot_' + item.proposalUuid + '" class="btn btn-primary btn-xs button-ballot action-' + item.proposalUuid + '" data-uuid="' + item.proposalUuid + '">[[#{button.voteProposal}]]</button>';
	}

	var ballotButton = function(item) {
		return '<button type="button" id="ballot_' + item.proposalUuid + '" class="btn btn-primary btn-xs button-ballot action-' + item.proposalUuid + '" data-uuid="' + item.proposalUuid + '">[[#{button.ballotDetails}]]</button>';
	}

	var startBallotButton = function(item) {
		return '<a href="#startballotpopup-' + item.proposalUuid + '" id="startballot-' + item.proposalUuid + '" data-toggle="modal" class="btn btn-warning btn-xs action-' + item.proposalUuid + '" data-uuid="' + item.proposalUuid + '">[[#{button.startProposalBallot}]]</a>';
	}

	var endBallotButton = function(item) {
		return '<a href="#endballotpopup-' + item.proposalUuid + '" id="endballot-' + item.proposalUuid + '" data-toggle="modal" class="btn btn-warning btn-xs action-' + item.proposalUuid + '" data-uuid="' + item.proposalUuid + '">[[#{button.endProposalBallot}]]</a>';
	}

	var endAppealButton = function(item) {
		return '<a href="#endappealpopup-' + item.proposalUuid + '" id="endappeal-' + item.proposalUuid + '" data-toggle="modal" class="btn btn-warning btn-xs action-' + item.proposalUuid + '" data-uuid="' + item.proposalUuid + '">[[#{button.endAppealPeriod}]]</a>';
	}

	var submitButton = function(item) {
		return '<a href="#submitpopup-' + item.proposalUuid + '" id="submit-' + item.proposalUuid + '" data-toggle="modal" class="btn btn-success btn-xs action-' + item.proposalUuid + '" data-uuid="' + item.proposalUuid + '">[[#{button.submitProposal}]]</a>';
	};
	
	var withdrawButton = function(item) {
		return '<a href="#withdrawpopup-' + item.proposalUuid + '" id="withdraw-' + item.proposalUuid + '" data-toggle="modal" class="btn btn-warning btn-xs action-' + item.proposalUuid + '" data-uuid="' + item.proposalUuid + '">[[#{button.withdrawProposal}]]</a>';
	};

	var deleteButton = function(item) {
		return '<a href="#deletepopup-' + item.proposalUuid + '" id="delete-' + item.proposalUuid + '" data-toggle="modal" class="btn btn-danger btn-xs action-' + item.proposalUuid + '" data-uuid="' + item.proposalUuid + '">[[#{button.deleteProposal}]]</a>';
	};

	var appealButton = function(item) {
		return '<button type="button" id="appeal-' + item.proposalUuid + '" class="btn btn-warning btn-xs button-appealproposal action-' + item.proposalUuid + '" data-uuid="' + item.proposalUuid + '">[[#{button.appealProposal}]]</button>';
	};

	var acceptAppealButton = function(item) {
		return '<a href="#acceptappealpopup-' + item.proposalUuid + '" id="acceptappeal-' + item.proposalUuid + '" data-toggle="modal" class="btn btn-success btn-xs action-' + item.proposalUuid + '" data-uuid="' + item.proposalUuid + '">[[#{button.acceptAppeal}]]</a>';
	}

	var rejectAppealButton = function(item) {
		return '<a href="#rejectappealpopup-' + item.proposalUuid + '" id="rejectappeal-' + item.proposalUuid + '" data-toggle="modal" class="btn btn-danger btn-xs action-' + item.proposalUuid + '" data-uuid="' + item.proposalUuid + '">[[#{button.rejectAppeal}]]</a>';
	}

	var reviewButton = function(item) {
		return '<button type="button" id="review-' + item.proposalUuid + '" class="btn btn-primary btn-xs button-reviewproposal" data-uuid="' + item.proposalUuid + '">[[#{button.reviewProposal}]]</button>';	
	};

	var decideButton = function(item) {
		return '<button type="button" id="decide-' + item.proposalUuid + '" class="btn btn-primary btn-xs button-decideproposal" data-uuid="' + item.proposalUuid + '">[[#{button.decideProposal}]]</button>';	
	};
	
	var addToGroupPopup = function(item) {
		var result = 
			'<div class="modal fade" id="addtogrouppopup-' + item.proposalUuid + '" role="dialog">' +
				'<div class="modal-dialog">' +
					'<div class="modal-content">' +
						'<div class="modal-header">' +
							'<h4>[[#{popup.addToGroup.header}]]</h4>' +
						'</div>' +
						'<div class="modal-body">' +
							groupSelect(item) +
						'</div>' +
						'<div class="modal-footer">' +
							'<button type="button" id="addtogroup-' + item.proposalUuid + '" class="btn btn-success button-addtogroup" disabled="disabled" data-uuid="' + item.proposalUuid + '">[[#{button.addToGroup}]]</button>' +
							'<button type="button" id="cancelaccept" class="btn btn-default" data-dismiss="modal" th:text="#{button.cancel}">Abbrechen</button>' +
						'</div>' +
					'</div>' +
				'</div>' +
			'</div>';
		
		return result;
	};

	var removeFromGroupPopup = function(item) {
		var proposalUuid = item.proposalUuid;
		
		var result = 
			'<div class="modal fade" id="removefromgrouppopup-' + item.proposalUuid + '" role="dialog">' +
				'<div class="modal-dialog">' +
					'<div class="modal-content">' +
						'<div class="modal-header">' +
							'<h4>[[#{popup.removeFromGroup.header}]]</h4>' +
						'</div>' +
						'<div class="modal-body">' +
							'<span>[[#{popup.removeFromGroup.reallyRemove}]]</span>' +
						'</div>' +
						'<div class="modal-footer">' +
							'<button type="button" id="doremovefromgroup-' + item.proposalUuid + '" class="btn btn-danger button-doremovefromgroup" data-uuid="' + item.proposalUuid + '">[[#{button.removeFromGroup}]]</button>' +
							'<button type="button" id="cancelaccept" class="btn btn-default" data-dismiss="modal" th:text="#{button.cancel}">Abbrechen</button>' +
						'</div>' +
					'</div>' +
				'</div>' +
			'</div>';
		
		result = result.replace('\{0\}', item.title);

		return result;
	};

	var groupSelect = function(item) {
		var result =
			'<input type="hidden" class="select-group" id="groupselect-' + item.proposalUuid + '" style="width: 100%"/>';
			
		return result;
	};
	
	var dissolveGroupPopup = function(item) {
		var result = 
			'<div class="modal fade" id="dissolvegrouppopup-' + item.proposalUuid + '" role="dialog">' +
				'<div class="modal-dialog">' +
					'<div class="modal-content">' +
						'<div class="modal-header">' +
							'<h4>[[#{popup.dissolveGroup.header}]]</h4>' +
						'</div>' +
						'<div class="modal-body">' +
							'<p>[[#{popup.dissolveGroup.reallyDissolve}]]</p>' +
						'</div>' +
						'<div class="modal-footer">' +
							'<button type="button" class="btn btn-danger button-dissolvegroup" data-uuid="' + item.proposalUuid + '">[[#{button.dissolveGroup}]]</button>' +
							'<button type="button" id="cancelaccept" class="btn btn-default" data-dismiss="modal" th:text="#{button.cancel}">Abbrechen</button>' +
						'</div>' +
					'</div>' +
				'</div>' +
			'</div>';
		
		result = result.replace('\{0\}', item.title);
		
		return result;
	};
	
	var itemPopup = function(itemUuid, itemTitle, action, headerText, bodyHtml, okText, okType) {
		var result = 
			'<div class="modal fade" id="' + action + 'popup-' + itemUuid + '" role="dialog">' +
				'<div class="modal-dialog">' +
					'<div class="modal-content">' +
						'<div class="modal-header">' +
							'<h4>' + headerText + '</h4>' +
						'</div>' +
						'<div class="modal-body">' +
							bodyHtml +
						'</div>' +
						'<div class="modal-footer">' +
							'<button type="button" class="btn btn-' + okType + ' button-popup-' + action + '" data-uuid="' + itemUuid + '">' + okText + '</button>' +
							'<button type="button" id="cancelaccept" class="btn btn-default" data-dismiss="modal" th:text="[[#{button.cancel}]]">Abbrechen</button>' +
						'</div>' +
					'</div>' +
				'</div>' +
			'</div>';
		
		result = result.replace('\{0\}', itemTitle);
		
		return result;		
	};
	
	var submitPopup = function(item) {
		var result = 
			'<div class="modal fade" id="submitpopup-' + item.proposalUuid + '" role="dialog">' +
				'<div class="modal-dialog">' +
					'<div class="modal-content">' +
						'<div class="modal-header">' +
							'<h4>[[#{popup.submitProposal.header}]]</h4>' +
						'</div>' +
						'<div class="modal-body">' +
							'<p>[[#{popup.submitProposal.reallySubmit}]]</p>' +
						'</div>' +
						'<div class="modal-footer">' +
							'<button type="button" class="btn btn-success button-submitproposal" data-uuid="' + item.proposalUuid + '">[[#{button.submitProposal}]]</button>' +
							'<button type="button" id="cancelaccept" class="btn btn-default" data-dismiss="modal" th:text="#{button.cancel}">Abbrechen</button>' +
						'</div>' +
					'</div>' +
				'</div>' +
			'</div>';
		
		result = result.replace('\{0\}', item.title);
		
		return result;
	};
	
	var withdrawPopup = function(item) {
		var result = 
			'<div class="modal fade" id="withdrawpopup-' + item.proposalUuid + '" role="dialog">' +
				'<div class="modal-dialog">' +
					'<div class="modal-content">' +
						'<div class="modal-header">' +
							'<h4>[[#{popup.withdrawProposal.header}]]</h4>' +
						'</div>' +
						'<div class="modal-body">' +
							'<p>[[#{popup.withdrawProposal.reallyWithdraw}]]</p>' +
						'</div>' +
						'<div class="modal-footer">' +
							'<button type="button" class="btn btn-warning button-withdrawproposal" data-uuid="' + item.proposalUuid + '">[[#{button.withdrawProposal}]]</button>' +
							'<button type="button" id="cancelaccept" class="btn btn-default" data-dismiss="modal" th:text="#{button.cancel}">Abbrechen</button>' +
						'</div>' +
					'</div>' +
				'</div>' +
			'</div>';
		
		result = result.replace('\{0\}', item.name);
		
		return result;
	};

	var deletePopup = function(item) {
		var result = 
			'<div class="modal fade" id="deletepopup-' + item.proposalUuid + '" role="dialog">' +
				'<div class="modal-dialog">' +
					'<div class="modal-content">' +
						'<div class="modal-header">' +
							'<h4>[[#{popup.deleteProposal.header}]]</h4>' +
						'</div>' +
						'<div class="modal-body">' +
							'<p>[[#{popup.deleteProposal.reallyDelete}]]</p>' +
						'</div>' +
						'<div class="modal-footer">' +
							'<button type="button" class="btn btn-danger button-deleteproposal" data-uuid="' + item.proposalUuid + '">[[#{button.deleteProposal}]]</button>' +
							'<button type="button" id="cancelaccept" class="btn btn-default" data-dismiss="modal" th:text="#{button.cancel}">Abbrechen</button>' +
						'</div>' +
					'</div>' +
				'</div>' +
			'</div>';
		
		result = result.replace('\{0\}', item.title);
		
		return result;
	};

	var startDiscussionPopup = function(item) {
		var result = 
			'<div class="modal fade" id="startdiscussionpopup-' + item.proposalUuid + '" role="dialog">' +
				'<div class="modal-dialog">' +
					'<div class="modal-content">' +
						'<div class="modal-header">' +
							'<h4>[[#{popup.startDiscussion.header}]]</h4>' +
						'</div>' +
						'<div class="modal-body">' +
							'<p>[[#{popup.startDiscussion.reallyStart}]]</p>' +
						'</div>' +
						'<div class="modal-footer">' +
							'<button type="button" class="btn btn-warning button-startdiscussion" data-uuid="' + item.proposalUuid + '">[[#{button.startProposalDiscussion}]]</button>' +
							'<button type="button" id="cancelstart" class="btn btn-default" data-dismiss="modal" th:text="#{button.cancel}">Abbrechen</button>' +
						'</div>' +
					'</div>' +
				'</div>' +
			'</div>';
		
		result = result.replace('\{0\}', item.title);
		
		return result;
	};

	var endDiscussionPopup = function(item) {
		var result = 
			'<div class="modal fade" id="enddiscussionpopup-' + item.proposalUuid + '" role="dialog">' +
				'<div class="modal-dialog">' +
					'<div class="modal-content">' +
						'<div class="modal-header">' +
							'<h4>[[#{popup.endDiscussion.header}]]</h4>' +
						'</div>' +
						'<div class="modal-body">' +
							'<p>[[#{popup.endDiscussion.reallyEnd}]]</p>' +
						'</div>' +
						'<div class="modal-footer">' +
							'<button type="button" class="btn btn-warning button-enddiscussion" data-uuid="' + item.proposalUuid + '">[[#{button.endProposalDiscussion}]]</button>' +
							'<button type="button" id="cancelstart" class="btn btn-default" data-dismiss="modal" th:text="#{button.cancel}">Abbrechen</button>' +
						'</div>' +
					'</div>' +
				'</div>' +
			'</div>';
		
		result = result.replace('\{0\}', item.title);
		
		return result;
	};

	var startBallotPopup = function(item) {
		var result = 
			'<div class="modal fade" id="startballotpopup-' + item.proposalUuid + '" role="dialog">' +
				'<div class="modal-dialog">' +
					'<div class="modal-content">' +
						'<div class="modal-header">' +
							'<h4>[[#{popup.startBallot.header}]]</h4>' +
						'</div>' +
						'<div class="modal-body">' +
							'<p>[[#{popup.startBallot.reallyStart}]]</p>' +
						'</div>' +
						'<div class="modal-footer">' +
							'<button type="button" class="btn btn-warning button-startballot" data-uuid="' + item.proposalUuid + '">[[#{button.startProposalBallot}]]</button>' +
							'<button type="button" id="cancelstart" class="btn btn-default" data-dismiss="modal" th:text="#{button.cancel}">Abbrechen</button>' +
						'</div>' +
					'</div>' +
				'</div>' +
			'</div>';
		
		result = result.replace('\{0\}', item.title);
		
		return result;
	};

	var endBallotPopup = function(item) {
		var result = 
			'<div class="modal fade" id="endballotpopup-' + item.proposalUuid + '" role="dialog">' +
				'<div class="modal-dialog">' +
					'<div class="modal-content">' +
						'<div class="modal-header">' +
							'<h4>[[#{popup.endBallot.header}]]</h4>' +
						'</div>' +
						'<div class="modal-body">' +
							'<p>[[#{popup.endBallot.reallyEnd}]]</p>' +
						'</div>' +
						'<div class="modal-footer">' +
							'<button type="button" class="btn btn-warning button-endballot" data-uuid="' + item.proposalUuid + '">[[#{button.endProposalBallot}]]</button>' +
							'<button type="button" id="cancelstart" class="btn btn-default" data-dismiss="modal" th:text="#{button.cancel}">Abbrechen</button>' +
						'</div>' +
					'</div>' +
				'</div>' +
			'</div>';
		
		result = result.replace('\{0\}', item.title);
		
		return result;
	};

	var endAppealPopup = function(item) {
		var result = 
			'<div class="modal fade" id="endappealpopup-' + item.proposalUuid + '" role="dialog">' +
				'<div class="modal-dialog">' +
					'<div class="modal-content">' +
						'<div class="modal-header">' +
							'<h4>[[#{popup.endAppealPeriod.header}]]</h4>' +
						'</div>' +
						'<div class="modal-body">' +
							'<p>[[#{popup.endAppealPeriod.reallyEnd}]]</p>' +
						'</div>' +
						'<div class="modal-footer">' +
							'<button type="button" class="btn btn-warning button-endappeal" data-uuid="' + item.proposalUuid + '">[[#{button.endAppealPeriod}]]</button>' +
							'<button type="button" id="cancelstart" class="btn btn-default" data-dismiss="modal" th:text="#{button.cancel}">Abbrechen</button>' +
						'</div>' +
					'</div>' +
				'</div>' +
			'</div>';
		
		result = result.replace('\{0\}', item.title);
		
		return result;
	};

	var acceptAppealPopup = function(item) {
		var result = 
			'<div class="modal fade" id="acceptappealpopup-' + item.proposalUuid + '" role="dialog">' +
				'<div class="modal-dialog">' +
					'<div class="modal-content">' +
						'<div class="modal-header">' +
							'<h4>[[#{popup.acceptAppeal.header}]]</h4>' +
						'</div>' +
						'<div class="modal-body">' +
							'<p>[[#{popup.acceptAppeal.reallyAccept}]]</p>' +
						'</div>' +
						'<div class="modal-footer">' +
							'<button type="button" class="btn btn-success button-acceptappeal" data-uuid="' + item.proposalUuid + '">[[#{button.acceptAppeal}]]</button>' +
							'<button type="button" id="cancelstart" class="btn btn-default" data-dismiss="modal" th:text="#{button.cancel}">Abbrechen</button>' +
						'</div>' +
					'</div>' +
				'</div>' +
			'</div>';
		
		result = result.replace('\{0\}', item.title);
		
		return result;
	};

	var rejectAppealPopup = function(item) {
		var result = 
			'<div class="modal fade" id="rejectappealpopup-' + item.proposalUuid + '" role="dialog">' +
				'<div class="modal-dialog">' +
					'<div class="modal-content">' +
						'<div class="modal-header">' +
							'<h4>[[#{popup.rejectAppeal.header}]]</h4>' +
						'</div>' +
						'<div class="modal-body">' +
							'<p>[[#{popup.rejectAppeal.reallyReject}]]</p>' +
						'</div>' +
						'<div class="modal-footer">' +
							'<button type="button" class="btn btn-danger button-rejectappeal" data-uuid="' + item.proposalUuid + '">[[#{button.rejectAppeal}]]</button>' +
							'<button type="button" id="cancelstart" class="btn btn-default" data-dismiss="modal" th:text="#{button.cancel}">Abbrechen</button>' +
						'</div>' +
					'</div>' +
				'</div>' +
			'</div>';
		
		result = result.replace('\{0\}', item.title);
		
		return result;
	};

	var showLoader = function(uuid, idx) {
		$('#proposalrow-' + uuid + ' td:nth-child(' + idx + ')').html('<img style="margin-left: 20px" src="[[@{__${basePath}__/resources/images/loader.gif}]]"/>');
	}
	
	var showReload = function(uuid, idx) {
		$('#proposalrow-' + uuid + ' td:nth-child(' + idx + ')').text('[[#{datatable.pleaseReload}]]');		
	}
	
	var dropdownMenu = function(uuid, actions) {
		var result = '<div class="btn-group">' +
		         '<button id="actions-' + uuid + '" type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">' +
				   '<span>[[#{button.action}]]</span> <span class="caret"></span>' +
				 '</button>' +
				 '<ul class="dropdown-menu" role="menu">';
	
		$.each(actions, function(i, val) {
			result += '<li><div style="margin-left: 10px; margin-top: 5px">' + val + '</div></li>';	
		});
				 
		result += '</ul></div>';
		
		return result;
	};
	
	var initGroupSelect = function(proposalUuid) {
		$('#groupselect-' + proposalUuid).select2({
			width: 'resolve',
			dropdownCssClass: "bigdrop",
			dropdownAutoWidth: "true",
			ajax: {
				url: "[[@{__${basePath}__/entities/proposalgroups}]]",
				dataType: "json",
				data: function(term, page) {
					return {
						orderBy: 'name',
						q: term
					};
				},
				results: function (data) {
					return { 
						results : $.map(data, function (item) { 
							return { 
								text: item[1], 
								id: item[0] 
							} 
						}) 
					};
				},
			},
		});
		
		$('#groupselect-' + proposalUuid).change(function() {
			$('#addtogroup-' + proposalUuid).removeAttr('disabled');
		});
	
		$('#addtogroup-' + proposalUuid).click(function() {
			var groupUuid = $('#groupselect-' + proposalUuid).val();
			var data = { 'addedProposalUuid' : proposalUuid };
			postForm('[[@{__${basePath}__/proposals/' + groupUuid + '/addproposal}]]', data, function(success, errorThrown) {
				if (success) {
					location.reload();
				}
				else {
					showError(errorThrown, '[[@{__${basePath}__}]]');
				}
			});
		});	
	};

	var showNotesButton = function(item) {
		return '<a href="#notespopup-' + item.proposalUuid + '" id="notes-' + item.proposalUuid + '" data-toggle="modal" class="action-' + item.proposalUuid + '" data-uuid="' + item.proposalUuid + '"><span class="fa fa-envelope"></span></a>';
	}

	var notesPopup = function(item) {
		var result =
			'<div class="modal fade" id="notespopup-' + item.proposalUuid + '" role="dialog">' +
				'<div class="modal-dialog">' +
					'<div class="modal-content">' +
						'<div class="modal-header">' +
							'<h4>[[#{popup.proposalNotes.header}]]</h4>' +
						'</div>' +
						'<div class="modal-body">';
		$.each(item.additionalData['notes'], function(idx, note) {
			result +=
				'<blockquote>' +
				  '<p>' + note.note + '</p>' +
				  '<footer>' + note.authorName + '</footer>' +
				'</blockquote>';
		});

		result +=
					'</div>' +
						'<div class="modal-footer">' +
							'<button type="button" id="close" class="btn btn-default" data-dismiss="modal">[[#{button.cancel}]]</button>' +
						'</div>' +
					'</div>' +
				'</div>' +
			'</div>';

		return result;
	}
	/* ]]> */
</script>