<!DOCTYPE html>
<html>
	<head th:include="layout :: headerFragment"/>
	<body>
	<div th:include="layout :: navbarFragment"></div>

	<div class="container-fluid">
		<div class="row-fluid">
			<div class="col-md-3">
				<div th:include="layout :: navtree"></div>
			</div>
			<div class="col-md-9" role="main">
				<div th:fragment="demo" th:if="${T(de.geoinfoffm.registry.client.web.ClientConfiguration).isDemoMode()}">
					<div class="alert alert-danger">
						<p class="text-center"><strong>*** DEMONSTRATION VERSION ONLY ***</strong></p>
						<p class="text-center">This Registry is for demonstration purposes only. The current content of the Registry is provided only to demonstrate the features and capabilities of the Registry software.</p>
						<p class="text-center">The Registry content should NOT be used for any other purposes.</p>
						<p class="text-center"><strong>In no way should the content be considered valid data!</strong></p>
					</div>
				</div>

			
				<div class="row">
					<h3 th:text="#{application.title}">Registry</h3>
					
					<div th:if="${signedUp}" class="alert alert-success">
						<p>
							<span th:text="#{alert.signedUp(${signedUp})}">Der Benutzer wurde erfolgreich angelegt</span>
						</p>
					</div>

					<div th:if="${userProfileUpdated}" class="alert alert-success">
						<p>
							<span th:text="#{alert.userProfileUpdated}">Der Benutzer wurde erfolgreich angelegt</span>
						</p>
					</div>

					<div th:if="${accountDeleted}" class="alert alert-warning">
						<p>
							<span th:text="#{alert.userDeleted}">Der Benutzer wurde gelöscht.</span>
						</p>
					</div>
					
						<div class="jumbotron" th:if="${@registerRepository.findAll().isEmpty()}">
							<p th:text="#{home.emptyRegistry}"></p>
							<p>
								<a th:href="@{__${basePath}__/init}" class="btn btn-primary btn-lg" role="button" th:text="#{home.initializeRegistry}">GDI-DE Registry initialisieren</a>
							</p>
						</div>
						
						<p>The ISO Geodetic Registry is a structured database of coordinate reference systems and transformations that is accessible through this on-line registry system. The Register includes only systems and transformations of international application. It does not include all possible coordinate reference systems and transformations.</p>
						<p>This Registry is provided under the auspices of ISO Technical Committee 211 on geographic information/geomatics and conforms to ISO standards ISO 19111:2007 (Spatial referencing by coordinates), the soon to be published ISO/TS 19127 (Geodetic register), ISO 19135:2005 (Procedures for item registration) and its soon to be published revision ISO 19135-1 (Procedures for item registration - Part 1: Fundamentals), and ISO 19135-2:2012 (Procedures for item registration -- Part 2: XML schema implementation).</p>
						<p>The Registry may be used free of charge but its use is subject to acceptance of the <a th:href="@{__${basePath}__/terms}">Terms of Use</a>. Use of the Registry implies acceptance of these Terms of Use. Users of the Registry may query and view data and generate reports via anonymous guest access. Users may also submit proposals for new additions or clarifications to the registry.</p>
						<p>The Registry also provides a web service interface, allowing geospatial software to query and retrieve information from the Register. Information on using the web services is available in the <a th:href="@{~/static/gcp-userguide.pdf}" target="_blank" th:title="#{navbar.help.userguide}">Registry user's guide.</a></p>						
					</div>
				</div>
		</div>
	</div>
	
	<div th:include="layout :: foot"></div>
	
</body>
</html>