<!DOCTYPE html>
<html>
	<head th:include="layout :: headerFragment"/>
	<body>
	<div th:include="layout :: navbarFragment"></div>

	<div class="container-fluid">
		<div class="row-fluid">
			<div class="col-md-3">
				<div th:include="layout :: navtree"></div>
			</div>
			<div class="col-md-9" role="main">
				<div th:fragment="demo" th:if="${@registryConfiguration.getInstance().isDemoMode()}">
					<div class="alert alert-danger">
						<p class="text-center"><strong>*** DEMONSTRATION VERSION ONLY ***</strong></p>
						<p class="text-center">This Registry is for demonstration purposes only. The current content of the Registry is provided only to demonstrate the features and capabilities of the Registry software.</p>
						<p class="text-center">The Registry content should NOT be used for any other purposes.</p>
						<p class="text-center"><strong>In no way should the content be considered valid data!</strong></p>
					</div>
				</div>

			
				<div class="row">
					<h3 th:text="#{application.title}">Registry</h3>
					
					<div th:if="${signedUp}" class="alert alert-success">
						<p>
							<span th:text="#{alert.signedUp(${signedUp})}">Der Benutzer wurde erfolgreich angelegt</span>
						</p>
					</div>

					<div th:if="${userProfileUpdated}" class="alert alert-success">
						<p>
							<span th:text="#{alert.userProfileUpdated}">Der Benutzer wurde erfolgreich angelegt</span>
						</p>
					</div>

					<div th:if="${accountDeleted}" class="alert alert-warning">
						<p>
							<span th:text="#{alert.userDeleted}">Der Benutzer wurde gelöscht.</span>
						</p>
					</div>
					
						<div class="jumbotron" th:if="${@registerRepository.findAll().isEmpty()}">
							<p th:text="#{home.emptyRegistry}"></p>
							<p>
								<a th:href="@{__${basePath}__/init}" class="btn btn-primary btn-lg" role="button" th:text="#{home.initializeRegistry}">GDI-DE Registry initialisieren</a>
							</p>
						</div>

						<p>The ISO Geodetic Registry is a structured database of coordinate reference systems (CRS) and transformations that is accessible through this online registry system. The Register includes only systems and transformations of international application. It does not include all possible coordinate reference systems and transformations.</p>
						<p>
							<span>This Registry is provided under the auspices of </span>
							<span><a href="https://committee.iso.org/home/tc211" target="_blank" title="ISO Technical Committee 211">ISO Technical Committee 211</a> </span>
							<span>on geographic information/geomatics and conforms to ISO standards </span>
							<span><a href="https://committee.iso.org/home/tc211" target="_blank" title="ISO 19111:2007">ISO 19111:2007</a> (Spatial referencing by coordinates), </span>
							<span><a href="https://www.iso.org/standard/67252.html" target="_blank" title="ISO 19127:2019">ISO 19127:2019</a> (Geodetic register) </span>
							<span>and </span>
							<span><a href="https://www.iso.org/standard/54721.html" target="_blank" title="ISO 19135-1:2015">ISO 19135-1:2015</a> (Procedures for item registration -- Part 1: Fundamentals).</span>
						</p>

					<h3>Usage and license</h3>
					<p>The Registry may be used free of charge but its use is subject to acceptance of the <a th:href="@{__${basePath}__/terms}">Terms of Use</a>. Use of the Registry implies acceptance of these Terms of Use. Users of the Registry may query and view data and generate reports via anonymous guest access. Users may also submit proposals for new additions or clarifications to the Registry.</p>

				</div>
				<div class="row">
					<h3>Sponsors and supporters</h3>
					<p>The ISO Geodetic Register is made available to the public free-of-charge with financial support given by the following sponsors, including:</p>
				</div>

				<div class="row">
					<div class="col-lg-6">
						<div class="row"><h4 class="bold">NRCan</h4></div>
						<div class="row">
							<img th:src="@{__${basePath}__/resources/images/NRCan.png}"
									 class="img-responsive pull-left" />
						</div>
					</div>
					<div class="col-lg-6">
						<div class="row"><h4 class="bold">Institut national de l'information géographique et forestière</h4></div>
						<div class="row">
							<img th:src="@{__${basePath}__/resources/images/IGN.png}"
									 class="img-responsive pull-left" style="max-height: 50%;max-width: 50%;" />
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-lg-6">
						<div class="row"><h4 class="bold">Kartverket</h4></div>
						<div class="row">
							<img th:src="@{__${basePath}__/resources/images/Kartverket.svg}"
									 class="img-responsive pull-left" style="max-height: 50%;max-width: 50%;" />
						</div>
					</div>
					<div class="col-lg-6">
						<div class="row"><h4 class="bold">Ribose</h4></div>
						<div class="row">
							<img th:src="@{__${basePath}__/resources/images/ribose.svg}"
									 class="img-responsive pull-left" style="max-height: 50%;max-width: 50%;" />
						</div>
					</div>
				</div>

				<div class="row">
				<h3>Contacting us</h3>
				<p>If you encounter issues or have any questions about the ISO Geodetic Register, please use the <a href="https://geodetic.isotc211.org/feedback" target="_blank" title="Feedback">Feedback</a> page to submit them. A member of the team will reach out to you directly.</p>

				<h3>Registration Authority</h3>
				<p>
					<span>Ribose is appointed as Registration Authority of the ISO Geodetic Register by ISO in 2019 in accordance to ISO/TMB resolution 4/2019 and ISO/TC 211 Resolution 912. </span>
					<span>As Registration Authority, Ribose is responsible for providing registration services for the ISO Geodetic Register in relation to the </span>
					<span><a href="https://www.iso.org/standard/67252.html" target="_blank" title="ISO 19127">ISO 19127</a> </span>
					<span>International Standard.</span>
				</p>
					<br/>
					<br/>
					<br/>
				</div>
			</div>
		</div>
	</div>
	
	<div th:include="layout :: foot"></div>
	
</body>
</html>