<!DOCTYPE html>
<html>
	<head th:include="layout :: headerFragment"/>
	<body>
	<div th:include="layout :: navbarFragment"></div>

	<div class="container-fluid">
		<div class="row-fluid">

			<div class="col-md-3">
				<div th:include="layout :: navtree"></div>
			</div>

			<div class="col-md-9" role="main">
				<div th:fragment="demo" th:if="${@registryConfiguration.getInstance().isDemoMode()}">
					<div class="alert alert-danger">
						<p class="text-center"><strong>*** DEMONSTRATION VERSION ONLY ***</strong></p>
						<p class="text-center">This Registry is for demonstration purposes only. The current content of the Registry is provided only to demonstrate the features and capabilities of the Registry software.</p>
						<p class="text-center">The Registry content should NOT be used for any other purposes.</p>
						<p class="text-center"><strong>In no way should the content be considered valid data!</strong></p>
					</div>
				</div>

			
				<div class="row">
					<h3 th:text="#{application.title}">Registry (ISOGR)</h3>
					
					<div th:if="${signedUp}" class="alert alert-success">
						<p>
							<span th:text="#{alert.signedUp(${signedUp})}">Der Benutzer wurde erfolgreich angelegt</span>
						</p>
					</div>

					<div th:if="${userProfileUpdated}" class="alert alert-success">
						<p>
							<span th:text="#{alert.userProfileUpdated}">Der Benutzer wurde erfolgreich angelegt</span>
						</p>
					</div>

					<div th:if="${accountDeleted}" class="alert alert-warning">
						<p>
							<span th:text="#{alert.userDeleted}">Der Benutzer wurde gelöscht.</span>
						</p>
					</div>
					
						<div class="jumbotron" th:if="${@registerRepository.findAll().isEmpty()}">
							<p th:text="#{home.emptyRegistry}"></p>
							<p>
								<a th:href="@{__${basePath}__/init}" class="btn btn-primary btn-lg" role="button" th:text="#{home.initializeRegistry}">GDI-DE Registry initialisieren</a>
							</p>
						</div>

					<p>
						The ISO Geodetic Registry is a structured database of coordinate reference systems (CRS) and transformations that is accessible through this online registry system.
						The Register includes only systems and transformations of international application.
						It does not include all possible coordinate reference systems and transformations.
					</p>
					<p>
						This Registry is provided under the auspices of
						<a href="https://committee.iso.org/home/tc211" target="_blank" title="ISO Technical Committee 211">ISO Technical Committee 211</a>
						on geographic information/geomatics and conforms to the following ISO standards:
					</p>
					<ul>
						<li><a href="https://committee.iso.org/home/tc211" target="_blank" title="ISO 19111:2007">ISO 19111:2007</a> (Spatial referencing by coordinates)</li>
						<li><a href="https://www.iso.org/standard/67252.html" target="_blank" title="ISO 19127:2019">ISO 19127:2019</a> (Geodetic register)</li>
						<li><a href="https://www.iso.org/standard/54721.html" target="_blank" title="ISO 19135-1:2015">ISO 19135-1:2015</a> (Procedures for item registration -- Part 1: Fundamentals)</li>
					</ul>
					<p>
						Work is also underway to upgrade the Registry to conform to the recently revised ISO 19111:2019 standard, which includes support for dynamic datums and geoid-based datums.
					</p>


					<h3>Usage and license</h3>
					<p>
						The Registry may be used free of charge but its use is subject to acceptance of the <a href="https://geodetic.isotc211.org/terms">Terms of Use</a>.
						Use of the Registry implies acceptance of these Terms of Use.
					</p><p>
					Users of the Registry may query and view data and generate reports via anonymous guest access.
					Only approved authoritative agencies may submit proposals for new additions or clarifications to the Registry.
					Authoritative agencies may request to register for submissions using the <a href="https://geodetic.isotc211.org/feedback">Feedback page</a>.
				</p>

					<h3>Registration Authority</h3>
					<p>
						Ribose was appointed as Registration Authority of the ISO Geodetic Register by ISO in 2019 in accordance to ISO/TMB resolution 4/2019 and ISO/TC 211 Resolution 912.
						As Registration Authority, Ribose is responsible for providing registration services for the ISO Geodetic Register following the
						<a href="https://www.iso.org/standard/67252.html" target="_blank" title="ISO 19127">ISO 19127</a> International Standard.
					</p>


					<h3>Contacting us</h3>
					<p>
						If you encounter issues or have any questions about the ISO Geodetic Register, please use the <a href="https://geodetic.isotc211.org/feedback" target="_blank" title="Feedback">Feedback page</a> to submit them.
						A member of the team will reach out to you directly.
					</p>


					<h3>Sponsors</h3>
					<p>The ISO Geodetic Register is made available to the public free of charge with financial support provided by the following sponsors:</p>
					<br />

					<TABLE WIDTH="100%" CELLPADDING="5%" style="margin-bottom: 25px;">
						<!-- ><TR ALIGN="center"> -->
						<TR>
							<TD WIDTH="50%" VALIGN="top">
								<p><img alt="Ribose Logo" style="max-height: 20%;max-width: 20%;"
												th:src="@{__${basePath}__/resources/images/brands/ribose/logo-ribose.svg}" /></p>
								<p><img alt="Kartverket Logo" style="max-height: 25%;max-width: 25%;"
												th:src="@{__${basePath}__/resources/images/brands/kartverket/logo-kartverket.svg}"  /></p>
								<p><img alrt="Natural Resources Canada Logo" style="max-height: 80%;max-width: 80%;"
												th:src="@{__${basePath}__/resources/images/brands/nrcan/logo-nrcan.svg}"  /></p>
							</TD>
							<TD WIDTH="50%" VALIGN="top">
								<p><img class="Institut national de l'information géographique et forestière" style="max-height: 21%;max-width: 21%;"
												th:src="@{__${basePath}__/resources/images/brands/ign/logo-ign.svg}"   /></p>
							</TD>
						</TR>
						<TR>
							<TD><p></p></TD>
						</TR>
					</TABLE>

				</div>

			</div>
		</div>
	</div>
	
	<div th:include="layout :: foot"></div>
	
</body>
</html>