<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="layout :: headerFragment"/>
<body>
<div th:include="layout :: navbarFragment"></div>

<div class="container">
    <div class="row clearfix" style="margin-top: 0px">
        <div class="col-md-12 column">

            <div class="jumbotron" th:if="${@registerRepository.findAll().isEmpty()}">
                <p th:text="#{home.emptyRegistry}"></p>
                <p>
                    <a th:href="@{__${basePath}__/init}" class="btn btn-primary btn-lg" role="button"
                       th:text="#{home.initializeRegistry}">GDI-DE Registry initialisieren</a>
                </p>
            </div>

            <div class="panel panel-default" th:unless="${@registerRepository.findAll().isEmpty()}">
                <div class="panel-heading">
                    <h3 class="panel-title" th:text="#{header.signup}">Registrieren</h3>
                </div>

                <form id="signup" th:object="${user}" method="post" style="padding: 20px">
                    <fieldset>
                        <!-- Text input-->
                        <div th:class="${#fields.hasErrors('name')} ? 'form-group has-error' : 'form-group'">
                            <label class="form-label" for="name" th:text="#{form.label.name}">Name</label>
                            <div class="controls">
                                <input id="name" name="name" th:placeholder="#{form.placeholder.name}"
                                       class="form-control" required="true" type="text" th:field="*{name}"/>
                                <p class="text-danger" th:each="err : ${#fields.errors('name')}" th:text="#{${err}}"/>
                            </div>
                        </div>

                        <!-- Text input-->
                        <div th:class="${#fields.hasErrors('emailAddress')} ? 'form-group has-error' : 'form-group'">
                            <label class="form-label" for="name"
                                   th:text="#{form.label.emailAddress}">E-Mail-Address</label>
                            <div class="controls">
                                <input id="emailAddress" name="emailAddress"
                                       th:placeholder="#{form.placeholder.emailAddress}" class="form-control"
                                       required="true" type="email" th:field="*{emailAddress}"/>
                                <p class="text-danger" th:each="err : ${#fields.errors('emailAddress')}"
                                   th:text="#{${err}}"/>
                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="form-label" for="password" th:text="#{form.label.password}">Passwort</label>
                            <div class="controls">
                                <input id="password" name="password" th:placeholder="#{form.placeholder.password}"
                                       class="form-control" th:required="${isNew} ? 'true'" type="password"
                                       th:field="*{password}"/>
                            </div>
                        </div>

                        <!-- Text input-->
                        <div th:class="${#fields.hasErrors('confirmedPassword')} ? 'form-group has-error' : 'form-group'">
                            <label class="form-label" for="password" th:text="#{form.label.confirmPassword}">Passwort
                                bestätigen</label>
                            <div class="controls">
                                <input id="confirmPassword" name="confirmPassword"
                                       th:placeholder="#{form.placeholder.confirmPassword}" class="form-control"
                                       th:required="${isNew} ? 'true'" type="password"
                                       th:field="*{confirmedPassword}"/>
                                <span class="help-block"
                                      th:if="${#fields.hasErrors('confirmedPassword')}"
                                      th:text="#{form.validation.confirmPassword}"/>
                            </div>
                        </div>

                        <!-- Select field: Organization -->
                        <div class="form-group">
                            <label class="form-label" for="organization" th:text="#{form.label.organization}">Organisation</label>
                            <div class="controls">
                                <div class="input-group">
                                    <select id="organization" th:field="*{organizationUuid}">
                                        <option value="%%new%%"
                                                th:text="#{form.signup.pleaseSelectOrganization}"></option>
                                        <option th:each="organization : ${organizations}"
                                                th:value="${organization.uuid}"
                                                th:text="${organization.name}"></option>
                                    </select>
                                    <p class="text-danger"
                                       th:each="error: ${#fields.errors('organizationUuid')}"
                                       th:text="${error}"/>
                                </div>
                            </div>
                        </div>

                        <div class="checkbox">
                            <label><input id="orgNotListed" type="checkbox"
                                          th:text="#{form.signup.button.organizationDetails}"
                                          th:field="*{organizationNotListed}"></input></label>
                        </div>

                        <div th:include="layout :: captchaInput"/>

                        <!--

                                                    <div class="form-group">
                                                         <a id="addOrganizationDetails" href="#organizationDetails" data-toggle="modal" th:text="#{form.signup.button.organizationDetails}">Details</a>

                                                        <div class="modal fade" id="organizationDetails" role="dialog">
                                                            <div class="modal-dialog">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h4 th:text="#{popup.newOrganization.header}">Details Ihrer Organisation</h4>
                                                                    </div>
                                                                    <div class="modal-body">

                                                                        <div th:class="${#fields.hasErrors('organizationName')} ? 'form-group has-error' : 'form-group'">
                                                                            <label class="form-label" for="organizationName" th:text="#{form.label.organizationName}">Alternativ: Name Ihrer Organisation</label>
                                                                            <div class="controls">
                                                                                    <input id="organizationName" name="organizationName" th:placeholder="#{form.placeholder.organizationName}" class="form-control" type="text" th:field="*{organizationName}"/>
                                                                                <span class="help-block">
                                                                                    <span th:text="#{form.signup.help.organizationName}" th:unless="${#fields.hasErrors('organizationName')}"></span>
                                                                                    <ul th:if="${#fields.hasErrors('organizationName')}">
                                                                                        <li th:each="err : ${#fields.errors('organizationName')}" th:text="#{${err}}"></li>
                                                                                    </ul>
                                                                                </span>
                                                                            </div>
                                                                        </div>

                                                                        <div th:class="${#fields.hasErrors('organizationNameShortForm')} ? 'form-group has-error' : 'form-group'">
                                                                            <label class="form-label" for="organizationNameShortForm" th:text="#{form.label.organizationNameShortForm}">Kurzname der Organisation</label>
                                                                            <div class="controls">
                                                                                    <input id="organizationNameShortForm" name="organizationNameShortForm" th:placeholder="#{form.placeholder.organizationNameShortForm}" class="form-control" type="text" th:field="*{organizationNameShortForm}"/>
                                                                                <span class="help-block">
                                                                                    <span th:text="#{form.signup.help.organizationNameShortForm}" th:unless="${#fields.hasErrors('organizationNameShortForm')}"></span>
                                                                                    <ul th:if="${#fields.hasErrors('organizationNameShortForm')}">
                                                                                        <li th:each="err : ${#fields.errors('organizationNameShortForm')}" th:text="#{${err}}"></li>
                                                                                    </ul>
                                                                                </span>
                                                                            </div>
                                                                        </div>

                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button id="save" class="btn btn-primary" data-dismiss="modal" th:text="#{button.ok}">Bestätigen</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>-->

                        <input type="hidden" th:field="*{preferredLanguage}" value="en-US"/>
                        <!-- 							<div class="form-group" th:if="false"> -->
                        <!-- 								<label class="form-label" for="preferredLangugae" th:text="#{form.label.preferredLanguage}">Standardsprache</label> -->
                        <!-- 								<div class="controls"> -->
                        <!-- 									<div class="input-group"> -->
                        <!-- 										<select id="preferredLanguage" required="true" th:field="*{preferredLanguage}"> -->
                        <!-- 											<option value="de-DE">Deutsch</option> -->
                        <!-- 											<option value="en-US">English</option> -->
                        <!-- 										</select> -->
                        <!-- 									</div> -->
                        <!-- 								</div> -->
                        <!-- 							</div> -->

                        <!-- Button -->
                        <div class="form-group">
                            <label class="form-label" for="submit"/>
                            <div class="controls">
                                <button id="submit" name="submit" class="btn btn-primary" th:text="#{button.signup}">
                                    Registrieren
                                </button>
                                <button id="cancel" th:onClick="'location.href = \'' + @{${basePath} + '/'} + '\''"
                                        name="cancel" class="btn btn-default" th:text="#{button.cancel}">Abbrechen
                                </button>
                            </div>
                        </div>

                    </fieldset>
                </form>
            </div>
        </div>
    </div>

</div>

<div th:include="layout :: foot"></div>

</body>

<script type="text/javascript" th:inline="text">
    $(document).ready(function () {
        $("#orgNotListed").click(function (event) {
            if ($(this).is(":checked")) {
                $("#organization").prop('disabled', true);
            } else {
                $("#organization").prop('disabled', false);
            }
        });
    });
</script>

</html>