<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head th:include="layout :: headerFragment" />
<body>
	<div th:include="layout :: navbarFragment"></div>

	<div class="container">
		<div class="row clearfix" style="margin-top: 0px">
			<div class="col-md-12 column">
				<form id="uploadForm" role="form" method="post" enctype="multipart/form-data">
					<input name="file" type="file"></input>
					<input type="submit">Upload</input>
				</form>
			
			</div>
		</div>
	</div>
	
	<div th:replace="layout :: footer"></div>
	
</body>

</html>