<div th:fragment="details">

	<div class="row">

		<div class="col-md-6">
			<div class="row" th:include="globals :: nameAndIdentifier" />
			<div class="row" th:include="globals :: registerItemDefinition"/>
			<div class="row" th:include="globals :: aliasesTable('crs')" />
		
			<div class="row">
				<div class="col-md-12" th:with="property='scope',inputType='text',label=#{form.label.scope},placeholder=#{form.placeholder.scope},isRequired='true'">
					<div th:replace="globals :: textArea"/>
				</div>
			</div>

			<div class="row" th:include="globals :: remarks (cssClass='col-md-12')" />
			<div class="row" th:include="globals :: dataSource (cssClass='col-md-12')" />
			
		</div>

		<div class="col-md-6">
			<div class="row" th:if="!${isProposal} or ${proposal.isClarification()}">
				<div class="col-md-12">
					<div th:replace="registry/registers/gcp/extent_panel :: extentDetails"/>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12" th:with="property='datum',label=#{form.label.datum},isRequired='true',noAddNew='true'">
					<div th:switch="${itemClassName}">
<!-- 						<div th:case="all" th:with="ajaxPaths=${#strings.arraySplit('DatumItem,EngineeringDatumItem,GeodeticDatumItem,VerticalDatumItem',',')}"> -->
						<div th:case="'GeodeticCRS'" th:with="ajaxPaths=${#strings.arraySplit('GeodeticDatumItem',',')}">
							<div th:replace="globals :: selectIdentifiedItem"/>
						</div>
						<div th:case="'ProjectedCRS'" th:with="ajaxPaths=${#strings.arraySplit('GeodeticDatumItem',',')}">
							<div th:replace="globals :: selectIdentifiedItem"/>
						</div>
						<div th:case="'VerticalCRS'" th:with="ajaxPaths=${#strings.arraySplit('VerticalDatumItem',',')}">
							<div th:replace="globals :: selectIdentifiedItem"/>
						</div> 
						<div th:case="'EngineeringCRS'" th:with="ajaxPaths=${#strings.arraySplit('EngineeringDatumItem',',')}">
							<div th:replace="globals :: selectIdentifiedItem"/>
						</div> 
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12" th:with="property='coordinateSystem',label=#{form.label.coordinateSystem},isRequired='true',noAddNew='true'">
					<div th:switch="${itemClassName}">
<!-- 						<div th:case="all" th:with="ajaxPaths=${#strings.arraySplit('CoordinateSystemItem,CartesianCoordinateSystemItem,EllipsoidalCoordinateSystemItem,SphericalCoordinateSystemItem,VerticalCoordinateSystemItem',',')}"> -->
						<div th:case="'GeodeticCRS'" th:with="ajaxPaths=${#strings.arraySplit('CartesianCoordinateSystemItem,EllipsoidalCoordinateSystemItem,SphericalCoordinateSystemItem,VerticalCoordinateSystemItem',',')}">
							<div th:replace="globals :: selectIdentifiedItem"/>
						</div>
						<div th:case="'ProjectedCRS'" th:with="ajaxPaths=${#strings.arraySplit('CoordinateSystemItem,CartesianCoordinateSystemItem,EllipsoidalCoordinateSystemItem,SphericalCoordinateSystemItem,VerticalCoordinateSystemItem',',')}">
							<div th:replace="globals :: selectIdentifiedItem"/>
						</div>
						<div th:case="'VerticalCRS'" th:with="ajaxPaths=${#strings.arraySplit('VerticalCoordinateSystemItem',',')}">
							<div th:replace="globals :: selectIdentifiedItem"/>
						</div>
						<div th:case="'EngineeringCRS'" th:with="ajaxPaths=${#strings.arraySplit('CartesianCoordinateSystemItem,SphericalCoordinateSystemItem',',')}">
							<div th:replace="globals :: selectIdentifiedItem"/>
						</div>
					</div>
				</div>
			</div>

			<div class="row" th:unless="${itemClassName} eq 'CompoundCRS'">
				<div th:if="${itemClassName} eq 'ProjectedCRS'" class="col-md-12" th:with="property='baseCrs',label=#{form.label.baseCrs},isRequired='true',noAddNew='true',ajaxPaths=${#strings.arraySplit('GeodeticCoordinateReferenceSystemItem',',')}">
					<div th:replace="globals :: selectIdentifiedItem"/>
				</div>
				<div th:unless="${itemClassName} eq 'ProjectedCRS'" class="col-md-12" th:with="property='baseCrs',label=#{form.label.baseCrs},isRequired='false',noAddNew='true',ajaxPaths=${#strings.arraySplit('GeodeticCoordinateReferenceSystemItem,EngineeringCoordinateReferenceSystemItem,VerticalCoordinateReferenceSystemItem',',')}">
					<div th:replace="globals :: selectIdentifiedItem"/>
				</div>
			</div>

			<div class="row" th:unless="${itemClassName} eq 'CompoundCRS'">
				<div class="col-md-12" th:with="property='conversion',label=#{form.label.conversion},isRequired=(${itemClassName} eq 'ProjectedCRS'),noAddNew='true',ajaxPaths=${#strings.arraySplit('ConversionItem',',')}">
					<div th:replace="globals :: selectIdentifiedItem"/>
				</div>
			</div>

			<div class="row" th:include="globals :: informationSource (cssClass='col-md-12')" />
		</div>
		
	</div>

</div>
