<!DOCTYPE html>
<html>
	<head th:include="layout :: headerFragment"/>
	<body>
	<div th:include="layout :: navbarFragment"></div>

	<div class="container-fluid">
		<div class="row-fluid">
			<div class="col-md-3">
				<div th:include="layout :: navtree"></div>
			</div>
			<div class="col-md-9" role="main">
				<div class="row">
					<div class="panel panel-default">
						<div class="panel-heading">
							<span>Users</span>
						</div>
						<table id="userTable" class="table table-striped datatable">
							<thead>
								<tr>
									<th>ID</th>
									<th>E-Mail</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="user : ${@gdiDeRegistryUserRepository.findAll()}">
									<td th:text="${user.uuid}"></td>
									<td th:text="${user.emailAddress}"></td>
								</tr>
							</tbody>
						</table>
					</div>

					<div class="panel panel-default">
						<div class="panel-heading">
							<span>ACLs</span>
						</div>
						<table id="aclTable" class="table table-striped datatable">
							<thead>
								<tr>
									<th/>
									<th>Object ID</th>
									<th>Object Class</th>
									<th>Owner</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="acl : ${@aclObjectIdentityRepository.findAll()}" th:if="!${param.objId} or ${#strings.toString(acl.objectIdIdentity)} eq ${param.objId[0]}">
									<td><a th:href="'?objId=' + ${acl.objectIdIdentity} + '&amp;objClass=' + ${acl.objectIdClass.aclClass}" role="button" class="btn btn-xs btn-primary">Details</a></td>
									<td th:text="${acl.objectIdIdentity}"></td>
									<td th:text="${acl.objectIdClass.aclClass}"></td>
									<td th:text="${acl.ownerSid.sid}"></td>
								</tr>
							</tbody>
						</table>
					</div>


					<div th:if="${param.objId}" class="panel panel-default">
						<div class="panel-heading">
							<span>ACL entries </span><span th:text="${param.objId[0]}"></span>
						</div>
						<table id="aceTable" class="table table-striped">
							<thead>
								<tr>
<!-- 									<th>Object ID</th> -->
									<th>Order</th>
									<th>SID</th>
									<th>Mask</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="ace : ${@aclEntryRepository.findAll()}" th:if="${#strings.toString(ace.aclObjectIdentity.objectIdIdentity)} eq ${param.objId[0]}">
<!-- 									<td th:text="${ace.aclObjectIdentity.objectIdIdentity}"/> -->
									<td th:text="${ace.aceOrder}"></td>
									<td th:text="${ace.sid.sid}"></td>
									<td th:text="${ace.mask}"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

<script type="text/javascript" th:inline="text">
	$(document).ready(function() {
		var table;

		table = $('#aclTable').dataTable({
			"sPaginationType": "bs_normal",
			"oLanguage": {
				  "sEmptyTable": "[[#{datatable.sEmptyTable}]]",
				  "sInfo": "[[#{datatable.sInfo}]]",
				  "sInfoEmpty": "[[#{datatable.sInfoEmpty}]]",
				  "sInfoFiltered": "[[#{datatable.sInfoFiltered}]]",
				  "sLengthMenu": "[[#{datatable.sLengthMenu}]]",
				  "sLoadingRecords": "[[#{datatable.sLoadingRecords}]]",
				  "sProcessing": "[[#{datatable.sProcessing}]]",
				  "sZeroRecords": "[[#{datatable.sZeroRecords}]]",
				  "oPaginate": {
				        "sFirst":    "[[#{datatable.oPaginate.sFirst}]]",
				        "sLast":     "[[#{datatable.oPaginate.sLast}]]",
				        "sNext":     "[[#{datatable.oPaginate.sNext}]]",
				        "sPrevious": "[[#{datatable.oPaginate.sPrevious}]]"
				    }
				},
			 "aaSorting": [[ 2, "asc" ]],
			 aoColumns: [
				{"bSortable" : false},
				null,
				null,
				null
			]
		});	

		$('.datatable').each(function(){
			var datatable = $(this);
			// SEARCH - Add the placeholder for Search and Turn this into in-line form control
			var search_input = datatable.closest('.dataTables_wrapper').find('div[id$=_filter] input');
			search_input.attr('placeholder', '[[#{datatable.searchPlaceholder}]]');
			search_input.addClass('form-control input-sm');
			// LENGTH - Inline-Form control
			var length_sel = datatable.closest('.dataTables_wrapper').find('div[id$=_length] select');
			length_sel.addClass('form-control input-sm');
		});
	});
</script>

</html>