<!DOCTYPE html>
<html>
	<head th:include="layout :: headerFragment"/>
	<body>
	<div th:include="layout :: navbarFragment"></div>

	<div class="container-fluid">
		<div class="row-fluid">
			<div class="col-md-3">
				<div th:include="layout :: navtree"></div>
			</div>
			<div class="col-md-9" role="main">
				<div class="row">
					<h3 th:text="#{application.title}">Registry</h3>
					
					<div th:if="${signedUp}" class="alert alert-success">
						<p>
							<span th:text="#{alert.signedUp(${signedUp})}">Der Benutzer wurde erfolgreich angelegt</span>
						</p>
					</div>
					
					<div class="container">
						<div class="jumbotron" th:if="${@registerRepository.findAll().isEmpty()}">
<!-- 							<h1>Hello, world!</h1> -->
							<p th:text="#{home.emptyRegistry}"></p>
							<p>
								<a th:href="@{__${basePath}__/init}" class="btn btn-primary btn-lg" role="button" th:text="#{home.initializeRegistry}">GDI-DE Registry initialisieren</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>