<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head th:include="layout :: headerFragment" />
<body>
	<div th:include="layout :: navbarFragment"></div>

	<div class="container">
		<div class="span6">
			<form id="signup" class="form-horizontal" th:object="${user}" method="post">
				<fieldset>
					<input type="hidden" name="_method" value="PUT"/>

					<legend th:text="#{header.myProfile}">Benutzerprofil</legend>

					<input id="uuid" th:field="*{uuid}" th:value="*{uuid}" type="hidden"/>

					<div class="panel panel-default">
						<div class="panel-heading">
							<span th:text="#{admin.user.main.header}">Stammdaten</span>
						</div>
						<div class="panel-body" style="margin-left: 10px; margin-right: 10px">

							<div th:class="${#fields.hasErrors('name')} ? 'form-group has-error' : 'form-group'">
								<label class="form-label" for="name" th:text="#{form.label.name}">Name</label>
								<div class="controls">
									<input id="name" name="name" th:placeholder="#{form.placeholder.name}" class="form-control" required="true" type="text" th:field="*{name}" disabled="disabled"/> 
								</div>
							</div>
		
							<div th:class="${#fields.hasErrors('emailAddress')} ? 'form-group has-error' : 'form-group'">
								<label class="form-label" for="name" th:text="#{form.label.emailAddress}">E-Mail-Adresse</label>
								<div class="controls">
									<input id="emailAddress" name="emailAddress" th:placeholder="#{form.placeholder.emailAddress}" class="form-control" required="true" type="email" th:field="*{emailAddress}" disabled="disabled"/> <span
										class="help-block" th:if="${#fields.hasErrors('emailAddress')}">
										<ul>
											<li th:each="err : ${#fields.errors('emailAddress')}" th:text="#{${err}}"></li>
										</ul>
									</span>
								</div>
							</div>
		
							<!-- Text input-->
							<div class="form-group" th:unless="true">
								<label class="form-label" for="password" th:text="#{form.label.password}">Neues Passwort</label>
								<div class="controls">
									<input id="password" name="password" th:placeholder="#{form.placeholder.password}" class="form-control" th:required="${isNew} ? 'true'" type="password" th:field="*{password}" />
								</div>
							</div>
		
							<!-- Text input-->
							<div th:class="${#fields.hasErrors('confirmedPassword')} ? 'form-group has-error' : 'form-group'" th:unless="true">
								<label class="form-label" for="password" th:text="#{form.label.confirmPassword}">Passwort bestätigen</label>
								<div class="controls">
									<input id="confirmPassword" name="confirmPassword" th:placeholder="#{form.placeholder.confirmPassword}" class="form-control" th:required="${isNew} ? 'true'" type="password"
										th:field="*{confirmedPassword}" /> <span class="help-block" th:if="${#fields.hasErrors('confirmedPassword')}" th:text="#{form.validation.confirmPassword}"></span>
								</div>
							</div>
		
							<div class="form-group">
								<label class="form-label" for="preferredLangugae" th:text="#{form.label.preferredLanguage}">Standardsprache</label>
								<div class="controls">
									<div class="input-group">
										<select id="preferredLanguage" required="true" th:field="*{preferredLanguage}" disabled="disabled">
											<option value="de-DE">Deutsch</option>
											<option value="en-US">English</option>
										</select>
									</div>
								</div>
							</div>
		
							<div class="form-group" th:with="roleName=('ROLE_ORGANIZATIONMEMBER_' + ${user.organizationUuid}), delegationRequested=(${@registrySecurity.isDelegationRequested(delegations, user.uuid, user.organizationUuid, roleName)})">
								<label class="form-label" for="organization" th:text="#{form.label.organization}">Organisation</label>
								<div class="controls">
									<div class="input-group">
										<input id="organizationName" name="organizationName" class="form-control" th:value="${userObj.organization.organizationName}" disabled="disabled"></input>
										<span class="input-group-btn">
											<button class="btn btn-default" type="button" id="changeAffiliation" name="changeAffiliation" th:text="#{button.changeOrganization}" disabled="disabled"></button>
										</span>
									</div>
									<div class="alert alert-warning" th:if="!${@registrySecurity.hasRole(roleName)} and ${delegationRequested}" th:text="#{form.myprofile.affiliationNotConfirmed}"/>
									<div class="alert alert-danger" th:if="!${@registrySecurity.hasRole(roleName)} and !${delegationRequested}" th:text="#{form.myprofile.affiliationRejected}"/>
								</div>
							</div>
							
						</div>
					</div>
					
					<div th:unless="${#lists.isEmpty(groups)}" class="panel panel-default">
						<div class="panel-heading">
							<span th:text="#{admin.user.groups.header}">Gruppen</span>
						</div>
						<table id="rolesTable" class="table table-striped">
							<tbody>
								<tr th:each="group : ${groups}">
									<td th:text="#{${group}}"></td>
								</tr>
							</tbody>
						</table>
					</div>

					<div class="form-group">
						<div style="padding: 0px">
							<table id="registersTable" class="table table-striped">
								<thead>
									<tr>
										<th th:text="#{tableheader.register}">Register</th>
										<th th:text="#{ROLE_OWNER}" style="text-align: center">Owner</th>
										<th th:text="#{ROLE_CONTROLBODY}" style="text-align: center">Controlbody</th>
										<th th:text="#{ROLE_MANAGER}" style="text-align: center">Manager</th>
										<th th:text="#{ROLE_SUBMITTER}" style="text-align: center">Submitter</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="register : ${@registerRepository.findAll()}">
										<td th:text="${register.name}"></td>
										<td th:with="roleName=('ROLE_OWNER_' + ${register.uuid}), delegationRequested=(${@registrySecurity.isDelegationRequested(delegations, user.uuid, user.organizationUuid, roleName)})" th:classappend="(${delegationRequested} ? 'info') + ' ' + (${#lists.contains(roles, roleName)} ? 'success')" style="text-align: center">
											<input th:if="${#lists.contains(roles, roleName)} or ${delegationRequested}" type="checkbox" th:checked="${#lists.contains(roles, roleName)}" disabled="disabled"></input>
											<button th:unless="${delegationRequested} or ${#lists.contains(roles, roleName)} or !${#lists.contains(orgRoles, roleName)}" type="button" class="delegationrequest btn btn-xs btn-default" th:title="#{button.requestDelegation}" th:id="'REQUEST_' + ${roleName}" th:attr="userUuid=${user.uuid}, orgUuid=${user.organizationUuid}, roleName=${roleName}"><span class="fa fa-unlock"></span></button>
										</td>
										<td th:with="roleName=('ROLE_CONTROLBODY_' + ${register.uuid}), delegationRequested=(${@registrySecurity.isDelegationRequested(delegations, user.uuid, user.organizationUuid, roleName)})" th:classappend="(${delegationRequested} ? 'info') + ' ' + (${#lists.contains(roles, roleName)} ? 'success')" style="text-align: center">
											<input th:if="${#lists.contains(roles, roleName)} or ${delegationRequested}" th:classappend="${delegationRequested} ? 'info'" type="checkbox" th:name="${roleName}" th:checked="${#lists.contains(roles, roleName)}" disabled="disabled"></input>
											<button th:unless="${delegationRequested} or ${#lists.contains(roles, roleName)} or !${#lists.contains(orgRoles, roleName)}" type="button" class="delegationrequest btn btn-xs btn-default" th:title="#{button.requestDelegation}" th:id="'REQUEST_' + ${roleName}" th:attr="userUuid=${user.uuid}, orgUuid=${user.organizationUuid}, roleName=${roleName}"><span class="fa fa-unlock"></span></button>
										</td>
										<td th:with="roleName=('ROLE_MANAGER_' + ${register.uuid}), delegationRequested=(${@registrySecurity.isDelegationRequested(delegations, user.uuid, user.organizationUuid, roleName)})" th:classappend="(${delegationRequested} ? 'info') + ' ' + (${#lists.contains(roles, roleName)} ? 'success')" style="text-align: center">
											<input th:if="${#lists.contains(roles, roleName)} or ${delegationRequested}" th:classappend="${delegationRequested} ? 'info'" type="checkbox" th:name="${roleName}" th:checked="${#lists.contains(roles, roleName)}" disabled="disabled"></input>
											<button th:unless="${delegationRequested} or ${#lists.contains(roles, roleName)} or !${#lists.contains(orgRoles, roleName)}" type="button" class="delegationrequest btn btn-xs btn-default" th:title="#{button.requestDelegation}" th:id="'REQUEST_' + ${roleName}" th:attr="userUuid=${user.uuid}, orgUuid=${user.organizationUuid}, roleName=${roleName}"><span class="fa fa-unlock"></span></button>
										</td>
										<td th:with="roleName=('ROLE_SUBMITTER_' + ${register.uuid}), delegationRequested=(${@registrySecurity.isDelegationRequested(delegations, user.uuid, user.organizationUuid, roleName)})" th:classappend="(${delegationRequested} ? 'info') + ' ' + (${#lists.contains(roles, roleName)} ? 'success')" style="text-align: center">
											<input th:if="${#lists.contains(roles, roleName)} or ${delegationRequested}" th:classappend="${delegationRequested} ? 'info'" type="checkbox" th:name="${roleName}" th:checked="${#lists.contains(roles, roleName)}" disabled="disabled"></input>
											<button th:unless="${delegationRequested} or ${#lists.contains(roles, roleName)} or !${#lists.contains(orgRoles, roleName)}" type="button" class="delegationrequest btn btn-xs btn-default" th:title="#{button.requestDelegation}" th:id="'REQUEST_' + ${roleName}" th:attr="userUuid=${user.uuid}, orgUuid=${user.organizationUuid}, roleName=${roleName}"><span class="fa fa-unlock"></span></button>
										</td>
									</tr>
								</tbody>
							</table>
						</div>	
					</div>
					
					<!-- Button -->
					<div class="form-group">
						<label class="form-label" for="save" />
						<div class="controls">
							<button disabled="disabled" id="save" name="save" class="btn btn-primary" th:text="#{button.save}">Speichern</button>
							<button type="button" id="cancel" onClick="goback();" name="cancel" class="btn btn-default" th:text="#{button.cancel}">Abbrechen</button>
						</div>
					</div>

				</fieldset>
			</form>
		</div>
	</div>
</body>

<script type="text/javascript" th:inline="text">
/* <![CDATA[ */

	var requestDelegation = function(user, organization, roleName, callback) {
		var url = '[[${basePath}]]/myprofile/delegation?userUuid=' + user + '&organizationUuid=' + organization + '&roleName=' + roleName;
	
		$.ajax({	
			type: "POST",
			url: url, 
			success: function(msg) {
				return callback(true, msg);
			},
			error: function(jqXHR, textStatus, errorThrown) {
				return callback(false, errorThrown);
			}
		});
	}
             
	$(document).ready(function() {
		$("#save").click(function() {
		    var $btn = $(this);
		    $btn.button('loading');
		});
		
		$('.delegationrequest').click(function() {
			var btn = $(this);
			var span = btn.find('span');
			
			span.removeClass('fa-unlock');
			span.addClass('fa-spinner');
			span.addClass('fa-spin');
			
			var userUuid = $(this).attr('userUuid');
			var orgUuid = $(this).attr('orgUuid');
			var roleName = $(this).attr('roleName');
			var roleClass = '.' + roleName;

			requestDelegation(userUuid, orgUuid, roleName, function(success, msg) {
				span.removeClass('fa-spin');
				span.removeClass('fa-spinner');

				if (success) {
					span.addClass('fa-envelope');
					//btn.prop('disabled', true);
					btn.prop('title', '[[#{form.myprofile.delegationRequested}]]');
				}
				else {
					span.addClass('fa-warning');
					btn.prop('disabled', true);
					btn.prop('title', msg);
				}
				
			});
		});

	});
/* ]]> */
</script>

</html>