<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<title>GDI-DE Registry</title>
		<link th:href="@{__${basePath}__/resources/css/bootstrap.min.css}" rel="stylesheet"/>
		<style type="text/css">
			body {
				padding-top: 60px;
				padding-bottom: 40px;
			}
			
			.sidebar-nav {
				padding: 9px 0;
			}
		</style>
		
		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script> 
		<![endif]-->
	</head>
	<body>
		<p>Not found!</p>
		
		<div th:include="layout :: foot"></div>
		
	</body>
</html>
