<div class="col-md-9" role="main" th:fragment="details">
	<form id="groupDetailsForm" method="post" role="form" th:object="${proposal}">
		<fieldset>
			<input type="hidden" name="redirectTo" th:value="'/proposals/' + ${proposal.proposalUuid}"/>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title" th:text="#{header.groupProposal}"></h3>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-6 form-group">
							<div th:replace="globals :: formLabel(${property}, ${label})"/>
							<div class="input-group">
								<input id="name" name="name" th:placeholder="#{form.placeholder.name}" class="form-control" required="required" type="text" th:field="*{name}" th:readonly="!${rvb.isEditable()}"></input>
								<div th:if="${rvb.isEditable()}" class="input-group-btn">
									<button type="submit" th:unless="${isReadOnly}" id="saveProposal" name="saveProposal" class="btn btn-primary" th:text="#{button.saveName}" th:attr="data-loading-text=#{button.saving}">Speichern</button>
								</div>
<!-- 											<span class="feedback glyphicon glyphicon-hand-left form-control-feedback" th:title="#{mandatoryField}"></span> -->
							</div>
						</div>
					</div>

					<table id="proposalsTable" class="datatable table table-striped" th:fragment="proposalsTable">
						<thead>
							<tr>
								<th th:text="#{tableheader.name}">Name</th>
								<th th:text="#{tableheader.itemClass}">Klasse</th>
								<th th:text="#{tableheader.submitter}">Submitter</th>
								<th th:text="#{tableheader.proposalType}">Vorschlagstyp</th>
								<th></th>
							</tr>
						</thead>
					</table>
					
					<div class="control-group">
						<div class="controls">
							<button type="button" id="backToSubmitterList" name="backToSubmitterList" class="btn btn-default pull-right" th:text="#{button.backToSubmitterList}">Abbrechen</button>
<!-- 							<button th:if="${rvb.isNotSubmitted()}" th:disabled="${proposal.getContainedProposals().isEmpty()}" type="button" id="submitGroupPopup" href="#submitgrouppopup" data-toggle="modal" class="btn btn-success" th:text="#{button.submitProposalGroup}"></button> -->
						</div>
					</div>
					
					
					<div class="modal fade" id="submitgrouppopup" role="dialog"> 
						<div class="modal-dialog"> 
							<div class="modal-content"> 
								<div class="modal-header"> 
									<h4 th:text="#{popup.submitProposal.header}"/> 
								</div> 
								<div class="modal-body"> 
									<span th:text="#{popup.submitProposal.reallySubmit(${proposal.name})}"></span>
								</div> 
								<div class="modal-footer"> 
									<button type="submit" id="submitgroup" name="submitGroup" class="btn btn-success button-submitproposal" th:text="#{button.submitProposalGroup}"/> 
									<button type="button" id="cancelaccept" class="btn btn-default" data-dismiss="modal" th:text="#{button.cancel}">Abbrechen</button> 
								</div> 
							</div> 
						</div> 
					</div>
					
				</div>
			</div>
		</fieldset>
	</form>

	<div class="panel panel-default" th:if="${rvb.isNotSubmitted()}">
		<div class="panel-heading">
			<h3 class="panel-title" th:text="#{header.ungroupedProposals}"></h3>
		</div>
		<div style="padding: 10px">
			<table id="ungroupedProposalsTable" class="datatable table table-striped">
				<thead>
					<tr>
						<th th:text="#{tableheader.name}">Name</th>
						<th th:text="#{tableheader.itemClass}">Klasse</th>
						<th th:text="#{tableheader.submitter}">Submitter</th>
						<th th:text="#{tableheader.proposalType}">Vorschlagstyp</th>
						<th></th>
					</tr>
				</thead>
			</table>
		</div>
	</div>

	<div th:replace="globals-lists :: js-lists"/>
	
	<script type="text/javascript" th:inline="text">
	/* <![CDATA[ */
		$(document).ready(function() {
			$('#backToSubmitterList').click(function() {
				if ([[${param.role} ? 'true' : 'false']]) {
					location.href = '[[@{__${basePath}__/}]]management/[[${param.role[0]}]]';
				}
				else {
					location.href = '[[@{__${basePath}__/}]]management/submitter';
				}
			});
			
			$('#ggroupDetailsForm').validate({
				ignore: '.hidden',
				invalidHandler: function(event, validator) {
					// 'this' refers to the form
					var errors = validator.numberOfInvalids();
					$('#validationFailed').show();				
				},
				submitHandler: function(form) {
					$('#pleasewait').show();
		 			$('button').each(function() {
						$(this).attr('disabled', 'disabled');
					});
		 		    $('#saveName').button('loading');
					
					form.submit();
					return true;
				},
				messages: {
					name: "[[#{button.cancel}]]"
				},
				errorClass: "has-error",
				errorPlacement: function(error, element) {
				},
				highlight: function(element, errorClass, validClass) {
					$(element).addClass(errorClass).removeClass(validClass);
					$(element).closest(".form-group").addClass(errorClass);
				},
				unhighlight: function(element, errorClass, validClass) {
					$(element).removeClass(errorClass).addClass(validClass);
					$(element).closest(".form-group").removeClass(errorClass);
				}			
			});
			
			$('#s1aveName').click(function() {
				$(this).button('loading');
				
				var url = '[[@{__${basePath}__/proposals/__${proposal.proposalUuid}__/name2}]]';
				var callback = function(success, errorThrown) {
					if (success) {
						$('#saveName').button('reset');
					}
					else {
						alert(errorThrown);
// 						showError(errorThrown, '[[@{__${basePath}__/.}]]');
					}
				};
				
// 				$('#groupDetailsForm').ajaxForm({
// 					type: "PUT",
// 					url: url,
// 					success: function(msg) {
// 						return callback(true);
// 					},
// 					error: function(jqXHR, textStatus, errorThrown) {
// 						var l = jqXHR.responseText.length;
// 						return callback(false, jqXHR.responseText);
// 					}
// 				});
				
				$.ajax({	
					type: "POST",
					url: url,
					data: $('#name').val(),
// 					processData: false,
// 					contentType: "text/plain",
					success: function(msg) {
						return callback(true);
					},
					error: function(jqXHR, textStatus, errorThrown) {
						var l = jqXHR.responseText.length;
						return callback(false, jqXHR.responseText);
					}
				});
			});
			
			var table;
			table = $('#proposalsTable').dataTable({
				"sAjaxSource": "[[@{__${basePath}__/}]]proposals/by-group/[[${proposal.proposalUuid}]]",
				"bProcessing": true,
				"bServerSide": true,
				"bStateSave": true,
 				"bInfo": true,
				"sPaginationType": "bs_normal",
				"oLanguage": {
					  "sEmptyTable": "[[#{datatable.sEmptyTable}]]",
					  "sInfo": "[[#{datatable.sInfo}]]",
					  "sInfoEmpty": "[[#{datatable.sInfoEmpty}]]",
					  "sInfoFiltered": "[[#{datatable.sInfoFiltered}]]",
					  "sLengthMenu": "[[#{datatable.sLengthMenu}]]",
					  "sLoadingRecords": "[[#{datatable.sLoadingRecords}]]",
					  "sProcessing": "<img style='margin-left: 20px' src='[[@{__${basePath}__/resources/images/loader.gif}]]'/>",
					  "sZeroRecords": "[[#{datatable.sZeroRecords}]]",
					  "oPaginate": {
					        "sFirst":    "[[#{datatable.oPaginate.sFirst}]]",
					        "sLast":     "[[#{datatable.oPaginate.sLast}]]",
					        "sNext":     "[[#{datatable.oPaginate.sNext}]]",
					        "sPrevious": "[[#{datatable.oPaginate.sPrevious}]]"
					    }
					},
				 "aaSorting": [[ 1, "asc" ]],
				"aoColumns": [
					{ 
						"mDataProp": "title",
						"sWidth": "40%",
						"bSortable": true
					},
					{ 
						"mDataProp": "itemClassName",
						"sWidth": "15%",
						"bSearchable": true,
						"bSortable": false
					},
					{ 
						"mDataProp": "sponsorName",
						"sWidth": "15%",
						"bSearchable": true,
						"bSortable": false
					},
					{ 	
						"mDataProp": "proposalType",
						"sWidth": "10%",
					 	"bSortable": false
					},
					{ 
						"sWidth": "10%",
						"bSortable": false
					},
				],
				"aoColumnDefs": [
					{ "aTargets": [2],
							"mData": null,
							"mRender": function (data, type, full) {
								var $href = $('<p>' + full.sponsorName + '</p>');
								return $("<div/>").append($href).html();
							}
					},
					{ "aTargets": [4],
						  "mData": null,
						  "mRender": function (data, type, full) {
								var actions = "";
							  	var dropdownActions = [];
							  	dropdownActions.push(detailsButton(full.proposalUuid));
							  	if ([[${rvb.isNotSubmitted()} ? 'true' : 'false']]) {
							  		dropdownActions.push(removeFromGroupButton(full));
							  	}
							  
							  	actions += dropdownMenu(full.proposalUuid, dropdownActions);
							  	actions += removeFromGroupPopup(full);

								$('body').off('click', '#doremovefromgroup-' + full.proposalUuid).on('click', '#doremovefromgroup-' + full.proposalUuid, function() {
									var data = { };
									postForm('[[@{__${basePath}__/proposals/' + full.proposalUuid + '/removefromgroup}]]', data, function(success, errorThrown) {
										if (success) {
											location.reload();
										}
										else {
											alert(errorThrown);
// 											showError(errorThrown, '[[@{__${basePath}__/.}]]');
										}
									});
								});	

								return actions;
																				
						  }
						},
				]
			});	
			
			$('#proposalsTable').on('click', '.button-details', function(e) {
				var uuid = $(this).data('uuid');
				location.href = '[[@{__${basePath}__/proposals/}]]' + uuid;
			});

			$('#proposalsTable').on('click', '.button-discussion', function(e) {
				var uuid = $(this).data('uuid');
				location.href = '[[@{__${basePath}__/discussion/CONTROLBODY/}]]' + uuid;
			});
			
			$('#proposalsTable').on('click', '.button-decideproposal', function(e) {
				var uuid = $(this).data('uuid');
				location.href = '[[@{__${basePath}__/proposals/}]]' + uuid + '/review';
			});
			
			
			var groupUuid = '[[${proposal.proposalUuid}]]';
			var ungroupedTable;
			ungroupedTable = $('#ungroupedProposalsTable').dataTable({
				"sAjaxSource": "[[@{__${basePath}__/}]]management/submitter/proposals/groupcandidates",
				"bProcessing": true,
				"bServerSide": true,
				"bStateSave": true,
 				"bInfo": true,
				"sPaginationType": "bs_normal",
				"oLanguage": {
					  "sEmptyTable": "[[#{datatable.sEmptyTable}]]",
					  "sInfo": "[[#{datatable.sInfo}]]",
					  "sInfoEmpty": "[[#{datatable.sInfoEmpty}]]",
					  "sInfoFiltered": "[[#{datatable.sInfoFiltered}]]",
					  "sLengthMenu": "[[#{datatable.sLengthMenu}]]",
					  "sLoadingRecords": "[[#{datatable.sLoadingRecords}]]",
					  "sProcessing": "<img style='margin-left: 20px' src='[[@{__${basePath}__/resources/images/loader.gif}]]'/>",
					  "sZeroRecords": "[[#{datatable.sZeroRecords}]]",
					  "oPaginate": {
					        "sFirst":    "[[#{datatable.oPaginate.sFirst}]]",
					        "sLast":     "[[#{datatable.oPaginate.sLast}]]",
					        "sNext":     "[[#{datatable.oPaginate.sNext}]]",
					        "sPrevious": "[[#{datatable.oPaginate.sPrevious}]]"
					    }
					},
				 "aaSorting": [[ 1, "asc" ]],
				"aoColumns": [
					{ 
						"mDataProp": "title",
						"sWidth": "40%",
						"bSortable": true
					},
					{ 
						"mDataProp": "itemClassName",
						"sWidth": "15%",
						"bSearchable": true,
						"bSortable": false
					},
					{ 
						"mDataProp": "sponsorName",
						"sWidth": "15%",
						"bSearchable": true,
						"bSortable": false
					},
					{ 	
						"mDataProp": "proposalType",
						"sWidth": "10%",
					 	"bSortable": false
					},
					{ 
						"sWidth": "10%",
						"bSortable": false
					},
				],
				"aoColumnDefs": [
					{ "aTargets": [2],
							"mData": null,
							"mRender": function (data, type, full) {
								var $href = $('<p>' + full.sponsorName + '</p>');
								return $("<div/>").append($href).html();
							}
					},
					{ "aTargets": [4],
						  "mData": null,
						  "mRender": function (data, type, full) {
							  	var actions = "";
							  	var dropdownActions = [];
							  	dropdownActions.push(detailsButton(full.proposalUuid));
							  	if ([[${rvb.isNotSubmitted()} ? 'true' : 'false']]) {
							  		dropdownActions.push(addToGroupButtonNoPopup(full));
							  	}
							  
							  	actions += dropdownMenu(full.proposalUuid, dropdownActions);
							  
								$('body').off('click', '#addtogroup-' + full.proposalUuid).on('click', '#addtogroup-' + full.proposalUuid, function() {
									var data = { 'addedProposalUuid' : full.proposalUuid };
									postForm('[[@{__${basePath}__/proposals/' + groupUuid + '/addproposal}]]', data, function(success, errorThrown) {
										if (success) {
											location.reload();
										}
										else {
											alert(errorThrown);
// 											showError(errorThrown, '[[@{__${basePath}__/.}]]');
										}
									});
								});	
							  

							  	return actions;
																				
						  }
						},
				]
			});	
	
			$('.datatable').each(function(){
				var datatable = $(this);
				// SEARCH - Add the placeholder for Search and Turn this into in-line form control
				var search_input = datatable.closest('.dataTables_wrapper').find('div[id$=_filter] input');
				search_input.attr('placeholder', '[[#{datatable.searchPlaceholder}]]');
				search_input.addClass('form-control input-sm');
				// LENGTH - Inline-Form control
				var length_sel = datatable.closest('.dataTables_wrapper').find('div[id$=_length] select');
				length_sel.addClass('form-control input-sm');
			});
		});
	/* ]]> */
	</script>
	
</div>
