<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Appenders>
		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout pattern="%-5p: %c - %m%n" />
		</Console>
	</Appenders>
	<Loggers>
		<Logger name="de.geoinfoffm.registry" level="debug" additivity="false">
			<AppenderRef ref="console"/>
		</Logger>
		<Logger name="org.iso.registry" level="debug" additivity="false">
			<AppenderRef ref="console"/>
		</Logger>
		<Root level="warn">
			<AppenderRef ref="console" />
		</Root>
	</Loggers>
</Configuration>
