<!DOCTYPE html>
<html>
<head th:include="layout :: headerFragment">
</head>
<body>
	<div th:include="layout :: navbarFragment"></div>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="col-md-3">
				<div th:include="layout :: navtree"></div>
			</div>
			<div class="col-md-9" role="main">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title" th:text="#{mgmt.owner.content.header}">Proposed item</h3>
					</div>
					<div style="padding: 10px">
						<table id="proposalsTable" class="datatable table table-striped">
							<thead>
								<tr>
									<th th:text="#{tableheader.date}">Datum</th>
									<th th:text="#{tableheader.name}">Name</th>
									<th th:text="#{tableheader.itemClass}">Klasse</th>
									<th th:text="#{tableheader.proposalType}">Vorschlagstyp</th>
									<th th:text="#{tableheader.appealStatus}">Status</th>
									<th></th>
								</tr>
							</thead>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div th:include="layout :: foot"></div>

	<div th:replace="globals-lists :: js-lists"/>
	
	<script type="text/javascript" th:inline="text">
		$(document).ready(function() {
			var table;
	
			$('#proposalsTable').on('click', '.button-details', function(e) {
				var uuid = $(this).data('uuid');
				location.href = '[[@{__${basePath}__/proposals/}]]' + uuid + '?role=owner';
			});

			$('body').on('click', '.button-acceptappeal', function() {
			    $(this).button('loading');
			    $('body').addClass('loading');
				var uuid = $(this).data('uuid');
				postForm('[[@{__${basePath}__/proposals/}]]' + uuid + '/acceptAppeal', null, function(success, errorThrown) {
					if (success) {
						location.href = '[[@{__${basePath}__/management/owner}]]';
					}
					else {
						showError(errorThrown, '[[@{__${basePath}__}]]');
					}
				});
			});

			$('body').on('click', '.button-rejectappeal', function() {
			    $(this).button('loading');
			    $('body').addClass('loading');
				var uuid = $(this).data('uuid');
				postForm('[[@{__${basePath}__/proposals/}]]' + uuid + '/rejectAppeal', null, function(success, errorThrown) {
					if (success) {
						location.href = '[[@{__${basePath}__/management/owner}]]';
					}
					else {
						showError(errorThrown, '[[@{__${basePath}__}]]');
					}
				});
			});

			table = $('#proposalsTable').dataTable({
				"sAjaxSource": "[[@{__${basePath}__/}]]management/owner/appeals",
				"bProcessing": true,
				"bServerSide": true,
				"bStateSave": true,
				"bInfo": true,
				"sPaginationType": "bs_normal",
				"oLanguage": {
					  "sEmptyTable": "[[#{datatable.sEmptyTable}]]",
					  "sInfo": "[[#{datatable.sInfo}]]",
					  "sInfoEmpty": "[[#{datatable.sInfoEmpty}]]",
					  "sInfoFiltered": "[[#{datatable.sInfoFiltered}]]",
					  "sLengthMenu": "[[#{datatable.sLengthMenu}]]",
					  "sLoadingRecords": "[[#{datatable.sLoadingRecords}]]",
					  "sProcessing": "[[#{datatable.sProcessing}]]",
					  "sZeroRecords": "[[#{datatable.sZeroRecords}]]",
					  "oPaginate": {
					        "sFirst":    "[[#{datatable.oPaginate.sFirst}]]",
					        "sLast":     "[[#{datatable.oPaginate.sLast}]]",
					        "sNext":     "[[#{datatable.oPaginate.sNext}]]",
					        "sPrevious": "[[#{datatable.oPaginate.sPrevious}]]"
					    }
					},
				 "aaSorting": [[ 0, "asc" ]],
				 "aoColumns": [
					{
						"mDataProp": "appealedProposal.dateSubmitted",
						"sWidth": "10%",
						"bSortable": true
					},
					{
						"mDataProp": "appealedProposal.title",
						"sWidth": "50%",
						"bSortable": true
					},
					{
						"mDataProp": "appealedProposal.itemClassName",
						"sWidth": "10%",
						"bSearchable": true,
						"bSortable": false
					},
					{
						"mDataProp": "appealedProposal.proposalType",
						"sWidth": "10%",
						"bSortable": false
					},
					{
						"mData": function(source, type, val) {
							switch (type) {
								case "display":
									return $.ajax({
										url: '[[@{__${basePath}__/entities/message/}]]' + source.appealDisposition,
										async: false,
										dataType: 'text'
									}).responseText;
								default:
									return source.appealDisposition;
							}
						},
						"sWidth": "10%",
						"bSortable": true
					},
					{
						"sWidth": "10%",
						"bSortable": false
					},
				],
				"aoColumnDefs": [
					{ "aTargets": [5],
					  "mData": null,
					  "mRender": function (data, type, full) {
						  var actions = "";
						  var dropdownActions = [];
						  dropdownActions.push(detailsButton(full.proposalUuid));
						  if (full.appealDisposition === 'pending') {
							  dropdownActions.push(acceptAppealButton(full));
							  actions += acceptAppealPopup(full);
							  dropdownActions.push(rejectAppealButton(full));
							  actions += rejectAppealPopup(full);
						  }

						  actions += dropdownMenu(full.proposalUuid, dropdownActions);

						  return actions;
					  }
					}
				]				
			});	
	
			$('.datatable').each(function(){
				var datatable = $(this);
				// SEARCH - Add the placeholder for Search and Turn this into in-line form control
				var search_input = datatable.closest('.dataTables_wrapper').find('div[id$=_filter] input');
				search_input.attr('placeholder', '[[#{datatable.searchPlaceholder}]]');
				search_input.addClass('form-control input-sm');
				// LENGTH - Inline-Form control
				var length_sel = datatable.closest('.dataTables_wrapper').find('div[id$=_length] select');
				length_sel.addClass('form-control input-sm');
			});
		});
	</script>
	
</body>
</html>