<div th:fragment="popup">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 th:text="#{popup.deleteProposal.header}">Vorschlag löschen</h4>
			</div>
			<div class="modal-body">
				<p th:text="#{popup.deleteProposal.reallyDelete(${item.name})}">
					Möchten Sie den Vorschlag löschen?
				</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" th:text="#{button.deleteProposal}" th:onclick="'postDelete(\'' + @{${basePath} + '/proposals/' + ${item.proposalUuid}} + '\', function() { location.reload(); });'">Begutachten</button>
				<button type="button" id="cancelaccept" class="btn btn-default" data-dismiss="modal" th:text="#{button.cancel}">Abbrechen</button>
			</div>
		</div>
	</div>
</div>

