<!DOCTYPE html>
<html>
<head th:include="layout :: headerFragment">
</head>
<body>
	<div th:include="layout :: navbarFragment"></div>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="col-md-3">
				<div th:include="layout :: navtree"></div>
			</div>
			<div class="col-md-9" role="main">
				<div th:if="${uploadNothingProcessed}" class="alert alert-warning">
					<p>
						<span th:text="#{alert.nothingProcessed}"></span>
					</p>
				</div>
				<div th:if="${uploadProposalGroupCreated}" class="alert alert-success">
					<span th:text="#{alert.proposalGroupCreated}"></span><a th:href="@{__${basePath}__/proposals/__${uploadProposalGroupCreatedUuid}__}" class="alert-link" th:text="${uploadProposalGroupCreated}"/>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title" th:text="#{mgmt.submitter.content.header}">Proposed item</h3>
					</div>
					<div style="padding: 10px">
						<div class="control-group" style="margin-top: 10px; margin-bottom: 10px">
							<button id="proposeNew" class="btn btn-success" data-toggle="modal" href="#addNewItem" th:text="#{button.addition}">Item registrieren</button>

								<div class="modal fade" th:id="addNewItem" role="dialog">
									<div class="modal-dialog">
										<form method="post">
											<div class="modal-content">
												<div class="modal-header">
													<h4 th:text="#{popup.createProposal.header}">Itemklasse wählen</h4>
												</div>
												<div class="modal-body">
	
													<div class="form-group">
														<label class="form-label" for="register" th:text="#{form.label.targetRegister}">Item-Klasse</label>
														<div class="controls">
															<div class="input-group">
																<select id="register" name="register" required="true">
																	<option th:each="register : ${@registerRepository.findAll()}"
																			th:value="${register.uuid}"
																			th:text="${register.name}"></option>
																</select>
															</div>
														</div>
													</div>
													<div class="form-group">
														<label class="form-label" for="itemClass" th:text="#{form.label.itemClass}">Item-Klasse</label>
														<div class="input-group">
															<select id="itemClass" name="itemClass" required="true">
<!-- 																<option th:text="#{form.select.choose}" value=""/> -->
																<option th:each="anItemClass : ${@itemClassRepository.findAllOrderByName()}"
																		th:value="${anItemClass[0]}"
																		th:text="#{${anItemClass[1]}}"></option>
															</select>
														</div>
													</div>
												</div>
												<div class="modal-footer">
													<button type="button" id="addition" class="btn btn-success button-addition" th:text="#{button.addition}">Item registrieren</button>
													<button type="button" name="cancel" data-dismiss="modal" class="btn btn-default" th:text="#{button.cancel}">Abbrechen</button>
												</div>
											</div>
										</form>
									</div>
								</div>


						</div>
						<table id="proposalsTable" class="datatable table table-striped">
							<thead>
								<tr>
									<th th:text="#{tableheader.title}">Titel</th>
									<th th:text="#{tableheader.itemClass}">Klasse</th>
									<th th:text="#{tableheader.proposalType}">Vorschlagstyp</th>
									<th th:text="#{tableheader.proposalStatus}">Status</th>
									<th></th>
									<th></th>
								</tr>
							</thead>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div th:include="layout :: foot"></div>
	
	<div th:replace="globals-lists :: js-lists"/>
	<script type="text/javascript" th:inline="text">
	/*<![CDATA[ */
		$(document).ready(function() {
		    var reloadTable = function() { 
				var table = $('#proposalsTable').dataTable();
				table.fnReloadAjax(null, null, null, true);
			};

			$('#proposalsTable').on('click', '.button-details', function(e) {
				var uuid = $(this).data('uuid');
				location.href = '[[@{__${basePath}__/proposals/}]]' + uuid;
			});

			$('#proposalsTable').on('click', '.button-discussion', function(e) {
				var uuid = $(this).data('uuid');
				location.href = '[[@{__${basePath}__/discussion/SUBMITTER/}]]' + uuid;
			});
			
			$('#proposalsTable').on('click', '.button-submitproposal', function(e) {
				var uuid = $(this).data('uuid');
				postForm('[[@{__${basePath}__/proposals/}]]' + uuid + '/submit', null, function(success, errorThrown) {
					if (success) {
						document.location.reload();
					}
					else {
						showError(errorThrown, '[[@{__${basePath}__}]]');
					}
				});
				$('#submitpopup-' + uuid).modal('hide');
				showLoader(uuid, 4);
			});

			$('#proposalsTable').on('click', '.button-withdrawproposal', function(e) {
				var uuid = $(this).data('uuid');
				postForm('[[@{__${basePath}__/proposals/}]]' + uuid + '/withdraw', null, function(success, errorThrown) {
					if (success) {
						document.location.reload();
					}
					else {
						showError(errorThrown, '[[@{__${basePath}__}]]');
					}
				});
				$('#withdrawpopup-' + uuid).modal('hide');
				showLoader(uuid, 4);
			});

			$('#proposalsTable').on('click', '.button-deleteproposal', function(e) {
				var uuid = $(this).data('uuid');
				postDelete('[[@{__${basePath}__/proposals/}]]' + uuid, function(success, errorThrown) {
					if (success) {
						document.location.reload();
					}
					else {
						alert(errorThrown);
						showError(errorThrown, '[[@{__${basePath}__}]]');
					}
				});
				$('#deletepopup-' + uuid).modal('hide');
				showLoader(uuid, 4);
			});


			$('#proposalsTable').on('click', '.button-appealproposal', function(e) {
				var uuid = $(this).data('uuid');
				location.href = '[[@{__${basePath}__/proposals/}]]' + uuid + '/appeal';
			});
			
				
			var selected = new Array();

			var table = $('#proposalsTable').dataTable({
				"sAjaxSource": "[[@{__${basePath}__/}]]management/submitter/proposals",
				"bProcessing": true,
				"bServerSide": true,
				"bStateSave": true,
				"bInfo": true,
				"fnServerParams": function (aoData) {
		        },
				"sPaginationType": "bs_normal",
				"oLanguage": {
					  "sEmptyTable": "[[#{datatable.sEmptyTable}]]",
					  "sInfo": "[[#{datatable.sInfo}]]",
					  "sInfoEmpty": "[[#{datatable.sInfoEmpty}]]",
					  "sInfoFiltered": "[[#{datatable.sInfoFiltered}]]",
					  "sLengthMenu": "[[#{datatable.sLengthMenu}]]",
					  "sLoadingRecords": "[[#{datatable.sLoadingRecords}]]",
					  "sProcessing": "<img style='margin-left: 20px' src='[[@{__${basePath}__/resources/images/loader.gif}]]'/>",
					  "sZeroRecords": "[[#{datatable.sZeroRecords}]]",
					  "oPaginate": {
					        "sFirst":    "[[#{datatable.oPaginate.sFirst}]]",
					        "sLast":     "[[#{datatable.oPaginate.sLast}]]",
					        "sNext":     "[[#{datatable.oPaginate.sNext}]]",
					        "sPrevious": "[[#{datatable.oPaginate.sPrevious}]]"
					    }
					},
				"aaSorting": [[ 3, "asc" ]],
				"aoColumns": [
					{
						"mDataProp": "title",
						"sWidth": "45%",
						"bSortable": true
					},
					{
						"mDataProp": "itemClassName",
						"sWidth": "15%",
						"bSearchable": true,
						"bSortable": false
					},
					{
						"mDataProp": "proposalType",
						"sWidth": "15%",
					 	"bSortable": false
					},
					{
						"mDataProp": "proposalStatus",
						"sWidth": "10%",
						"bSortable": true
					},
					{
						"sWidth": "5%",
						"bSortable": false
					},
					{
						"sWidth": "10%",
						"bSortable": false
					},
				],
				"aoColumnDefs": [
					{ "aTargets": [4],
					  "mData": null,
					  "mRender": function (data, type, full) {
						  var icons = "";
						  if (full.hasNotes) {
							  icons += showNotesButton(full);
							  icons += notesPopup(full);
						  }

						  return icons;
					  }
					},
					{ "aTargets": [5],
					  "mData": null,
					  "mRender": function (data, type, full) {
						  var actions = "";
						  var dropdownActions = [];
						  dropdownActions.push(detailsButton(full.proposalUuid));
						  if (full.notSubmitted) {
							  if (full.group) {
								  dropdownActions.push(dissolveGroupButton(full));
								  actions += dissolveGroupPopup(full);
							  }
							  else {
								  dropdownActions.push(addToGroupButton(full));
								  actions += addToGroupPopup(full);
							  }
							  dropdownActions.push(deleteButton(full));
							  actions += deletePopup(full);
							  dropdownActions.push(discussionButton(full));
							  if (full.submitter) {
							  	dropdownActions.push(submitButton(full));
							  	actions += submitPopup(full);
							  }
						  }
						  if (full.underReview || full.pending || full.pendingChangeRequest) {
							  if (full.submitter) {
								  dropdownActions.push(withdrawButton(full));
							  }
							  actions += withdrawPopup(full);
						  }
						  if (full.appealable && full.submitter) {
							  dropdownActions.push(appealButton(full));
						  }
						  
						  actions += dropdownMenu(full.proposalUuid, dropdownActions);
						  
						  return actions;
																			
					  }
					}
				]
			});
			
			$('.datatable').each(function(){
				var datatable = $(this);
				// SEARCH - Add the placeholder for Search and Turn this into in-line form control
				var search_input = datatable.closest('.dataTables_wrapper').find('div[id$=_filter] input');
				search_input.attr('placeholder', '[[#{datatable.searchPlaceholder.title}]]');
				search_input.addClass('form-control input-sm');
				// LENGTH - Inline-Form control
				var length_sel = datatable.closest('.dataTables_wrapper').find('div[id$=_length] select');
				length_sel.addClass('form-control input-sm');
			});
			
			$('#creategroup').click(function() {
			    $(this).button('loading');
				var data = { 'groupName' : $('#groupName').val() };
				postForm('[[@{__${basePath}__/management/submitter/creategroup}]]', data, function(success, response) {
					if (success) {
						location.href = '[[@{__${basePath}__/proposals/}]]' + response;
					}
					else {
						showError(response, '[[@{__${basePath}__}]]');
					}
				});
			});

			$('body').on('click', '.button-dissolvegroup', function() {
			    $(this).button('loading');
				var uuid = $(this).data('uuid');
				postForm('[[@{__${basePath}__/proposals/}]]' + uuid + '/dissolve', null, function(success, errorThrown) {
					if (success) {
						location.reload();
					}
					else {
						showError(errorThrown, '[[@{__${basePath}__}]]');					
					}
				});
			});

			$('body').on('click', '.button-addtogroup', function() {
			    $(this).button('loading');
				var uuid = $(this).data('uuid');
				initGroupSelect(uuid);
			});

			$('body').on('click', '.button-addition', function() {
				location.href = '[[@{__${basePath}__/register/}]]' + $('#register').val() + '/proposal/addition?itemClass=' + $('#itemClass').val();
			});
		});
		
	/* ]]> */
	</script>
	
</body>
</html>