<div>
  <footer class="footer">
    <span class="powered-by pull-right">
      <span class="powered-by-text">Powered by</span>
      <a href="https://open.ribose.com" class="powered-by-logo">
        <img
          src="assets/images/logo-ribose.svg"
          class="img-responsive"
          alt="Ribose"
        />
      </a>
    </span>

    <p class="text-muted">
      Last updated:&nbsp;<span>xxx</span>
      <span>{{ version }}</span>
    </p>
  </footer>

  <div
    class="loading-modal"
    style="background: rgba(255, 255, 255, .8) url('assets/images/loader-lg.gif') 50% 50% no-repeat;"
  ></div>
</div>
