<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <body>
        Dear $user.name:<p/>

		Your are registered as a control body member for $delegation.delegatingOrganization.name. This message is to inform you that action is required from your side.<p/> 
		<p/>
		A new $prposal.proposalType proposal was submitted to the "$register.name" register. The proposal is titled "$propsoal.name". 
 		</p>
 		To review the proposal, please log in to the ISO Registry of Geodetic Codes and Parameters
 		and open the <a href="${baseUrl}management/controlbody">Control Body</a> page.
 		</p>
        <br/><br/>
        ISO Registry of Geodetic Codes and Parameters
    </body>
</html>