<div class="modal fade" id="inviteParticipants" role="dialog" th:fragment="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 th:text="#{popup.inviteParticipants.header}">Teilnehmer einladen</h4>
			</div>

					<form th:action="${invitations.discussionUuid} + '/invite'" method="post" th:object=" ${invitations}">
						<input type="hidden" name="discussionUuid" th:field="*{discussionUuid}"/>
						
						<div class="panel-body">

							<div class="from-group">
								<label class="form-label" for="invitees" th:text="#{form.label.invitees}">Eingeladene</label>
								<div class="controls">
									<textarea id="invitees" cols="60" rows="10" th:field="*{invitees}"></textarea>
								</div>
							</div>

							<div class="from-group">
								<label class="form-label" for="oldInvitees" th:text="#{form.label.alreadyInvited}">Bisher Eingeladene</label>
								<div class="controls">
<!-- 									<textarea id="oldInvitees" cols="60" rows="10" readonly="readonly" th:text="${discussion.invitees}"></textarea> -->
									<table id="oldInvitees" class="datatable table table-striped">
										<thead>
											<th th:text="#{tableheader.emailAddress}"/>
											<th th:text="#{tableheader.accessUrl}"/>
										</thead>
										<tbody>
											<tr th:each="invitee : ${discussion.invitees}">
												<td th:text="${invitee.key}"/>
												<td><a th:href="@{__${basePath}__/discussion/__${discussion.discussionUuid}__?token=__${invitee.value}__}">Link</a></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>

<!-- 							<div class="from-group"> -->
<!-- 								<label class="form-label" for="message" th:text="#{form.label.message}">Nachricht</label> -->
<!-- 								<div class="controls"> -->
<!-- 									<textarea id="message" cols="120" rows="10" th:field="*{message}"></textarea> -->
<!-- 								</div> -->
<!-- 							</div> -->
						
						</div>
						
						<div class="panel-footer">
							<button type="button" id="cancel" data-dismiss="modal" class="btn btn-default" th:text="#{button.cancel}">Abbrechen</button>
							<div class="pull-right">
								<button id="submit" class="btn btn-primary" th:text="#{button.inviteParticipants}">Teilnehmer einladen</button>
							</div>
						</div>
						
					</form>
		</div>
	</div>
	
	<script type="text/javascript" th:inline="text">
	/* <![CDATA[ */
		$(document).ready(function() {
			var table;
	
			table = $('#oldInvitees').dataTable({
				"sPaginationType": "bs_normal",
	  			"iDisplayLength": 5,
	  			"bLengthChange": false,
				"oLanguage": {
					  "sEmptyTable": "[[#{datatable.sEmptyTable}]]",
					  "sInfo": "[[#{datatable.sInfo}]]",
					  "sInfoEmpty": "[[#{datatable.sInfoEmpty}]]",
					  "sInfoFiltered": "[[#{datatable.sInfoFiltered}]]",
					  "sLengthMenu": "[[#{datatable.sLengthMenu}]]",
					  "sLoadingRecords": "[[#{datatable.sLoadingRecords}]]",
					  "sProcessing": "[[#{datatable.sProcessing}]]",
					  "sZeroRecords": "[[#{datatable.sZeroRecords}]]",
					  "oPaginate": {
					        "sFirst":    "[[#{datatable.oPaginate.sFirst}]]",
					        "sLast":     "[[#{datatable.oPaginate.sLast}]]",
					        "sNext":     "[[#{datatable.oPaginate.sNext}]]",
					        "sPrevious": "[[#{datatable.oPaginate.sPrevious}]]"
					    }
					},
				 "aaSorting": [[ 0, "asc" ]],
				 aoColumns: [
					null,
					{"bSortable" : false}
				]
			});	
	
			$('.datatable').each(function(){
				var datatable = $(this);
				// SEARCH - Add the placeholder for Search and Turn this into in-line form control
				var search_input = datatable.closest('.dataTables_wrapper').find('div[id$=_filter] input');
				search_input.attr('placeholder', '[[#{datatable.searchPlaceholder}]]');
				search_input.addClass('form-control input-sm');
				// LENGTH - Inline-Form control
				var length_sel = datatable.closest('.dataTables_wrapper').find('div[id$=_length] select');
				length_sel.addClass('form-control input-sm');
			});
		});
	/* ]]> */
	</script>
</div>
	
