<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head th:include="layout :: headerFragment" />
<body>
	<div th:include="layout :: navbarFragment"></div>

	<div class="container">
		<div class="row clearfix" style="margin-top: 0px">
			<div class="col-md-12 column">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title" th:text="#{header.editAddition}">Vorschlag zur Neuaufnahme ändern</h3>
					</div>
			
					<form id="signup" th:object="${proposal}" method="post" style="padding: 20px">
						<fieldset>		
							<!-- Select field: Item Class -->
							<div class="form-group">
								<label class="form-label" for="itemClass" th:text="#{form.label.itemClass}">Item-Klasse</label>
								<div class="controls">
									<input id="itemClassName" name="itemClassName" class="form-control" required="true" type="text" th:value="${rvb.itemClassName}" disabled="disabled"/>
								</div>
							</div>
		
							<!-- Text input-->
							<div th:class="${#fields.hasErrors('name')} ? 'form-group has-error' : 'form-group'">
								<label class="form-label" for="name" th:text="#{form.label.name}">Name</label>
								<div class="controls">
									<input id="name" name="name" th:placeholder="#{form.placeholder.name}" class="form-control" required="true" type="text" th:field="*{name}"/>
									<span class="help-block">
										<ul th:if="${#fields.hasErrors('name')}">
											<li th:each="err : ${#fields.errors('name')}" th:text="#{${err}}"></li>
										</ul>
									</span>
								</div>
							</div>
		
							<!-- Text input-->
							<div th:class="${#fields.hasErrors('definition')} ? 'form-group has-error' : 'form-group'">
								<label class="form-label" for="definition" th:text="#{form.label.definition}">Definition</label>
								<div class="controls">
									<textarea id="definition" name="definition" rows="6" cols="120" th:placeholder="#{form.placeholder.definition}" class="form-control" required="true" type="text" th:field="*{definition}" /> 
									<span class="help-block">
										<ul th:if="${#fields.hasErrors('definition')}">
											<li th:each="err : ${#fields.errors('definition')}" th:text="#{${err}}"></li>
										</ul>
									</span>
								</div>
							</div>
		
							<!-- Text input-->
							<div th:class="${#fields.hasErrors('description')} ? 'form-group has-error' : 'form-group'">
								<label class="form-label" for="description" th:text="#{form.label.description}">Beschreibung</label>
								<div class="controls">
									<textarea id="description" name="description" rows="6" cols="120" th:placeholder="#{form.placeholder.description}" class="form-control" type="text" th:field="*{description}" /> <span
										class="help-block">
										<ul th:if="${#fields.hasErrors('description')}">
											<li th:each="err : ${#fields.errors('description')}" th:text="#{${err}}"></li>
										</ul>
									</span>
								</div>
							</div>

							<div th:if="${itemClassConfiguration}">
								<div th:each="property : ${itemClassConfiguration.mergedProperties}" class="form-group">
									<label class="form-label" th:for="${property.name}" th:text="#{${property.labelKey}}">##Eigenschaft##</label>
									<div class="controls">
										<input th:id="${property.name}" th:name="${property.name}" th:placeholder="#{${property.placeholderKey}}" class="form-control" th:required="${property.required} ? 'true' : 'false'" type="text" th:field="*{__${property.name}__}"/>
									</div>
								</div>
							</div>
		
							<!-- Text input-->
							<div th:class="${#fields.hasErrors('description')} ? 'form-group has-error' : 'form-group'">
								<label class="form-label" for="description" th:text="#{form.label.justification}">Vorschlagsbegründung</label>
								<div class="controls">
									<textarea id="description" name="description" rows="6" cols="120" th:placeholder="#{form.placeholder.justification}" class="form-control" type="text" th:field="*{justification}" required="required" /> 
									<span class="help-block" th:if="${#fields.hasErrors('justification')}">
										<ul>
											<li th:each="err : ${#fields.errors('justification')}" th:text="#{${err}}"></li>
										</ul>
									</span>
								</div>
							</div>
		
							<!-- Text input-->
							<div class="form-group">
								<label class="form-label" for="description" th:text="#{form.label.registerManagerNotes}">Anmerkungen für den Register-Manager</label>
								<div class="controls">
									<textarea id="registerManagerNotes" name="registerManagerNotes" rows="6" cols="120" th:placeholder="#{form.placeholder.registerManagerNotes}" class="form-control" type="text" th:field="*{registerManagerNotes}"/> 
								</div>
							</div>
		
							<!-- Text input-->
							<div class="form-group">
								<label class="form-label" for="controlBodyNotes" th:text="#{form.label.controlBodyNotes}">Anmerkungen für den Control-Body</label>
								<div class="controls">
									<textarea id="controlBodyNotes" name="controlBodyNotes" rows="6" cols="120" th:placeholder="#{form.placeholder.controlBodyNotes}" class="form-control" type="text" th:field="*{controlBodyNotes}"/> 
								</div>
							</div>
		
							<!-- Button -->
							<div class="form-group">
								<div class="controls">
									<form>
										<input hidden="true" name="_method" value="PUT" />
										<button id="save" name="save" class="btn btn-primary" th:text="#{button.save}">Speichern</button>
										<button id="cancel" type="button" onClick="goback();" name="cancel" class="btn btn-default" th:text="#{button.cancel}">Abbrechen</button>
									</form>
								</div>
							</div>
							
							<input type="hidden" th:field="*{itemUuid}"/>
							<input type="hidden" th:field="*{proposalUuid}"/>
							<input type="hidden" th:field="*{targetRegisterUuid}"/>
							<input type="hidden" th:field="*{sponsorUuid}"/>
							<input type="hidden" th:field="*{proposalType}"/>					
						</fieldset>
					</form>
				</div>
			</div>
		</div>
	</div>
	
	<div th:include="layout :: foot"></div>
	
</body>
</html>