.logo-color {
  color: #999;
  font-family: "Titillium Web", sans-serif;
  font-size: 24px;
  line-height: 24px;
  padding-left: 10px;
  -webkit-font-smoothing: antialiased;
}

form input {
  font-size: 14px;
}

form button {
  font-size: 14px;
}

.dropdown-menu {
  width: 200px;
}
