<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head th:include="layout :: headerFragment" />
<body>
	<div th:include="layout :: navbarFragment"></div>

	<div class="container">
		<div class="span6">
			<form id="appealForm" class="form-horizontal" method="post">
				<fieldset>
					<!-- Text input-->
					<div class="form-group">
						<label class="form-label" for="situation" th:text="#{form.label.situation}">Sachstand</label>
						<div class="controls">
							<textarea id="situation" name="situation" rows="6" cols="120" th:placeholder="#{form.placeholder.situation}" class="form-control" required="true" type="text"/>
						</div>
					</div>

					<!-- Text input-->
					<div class="form-group">
						<label class="form-label" for="justification" th:text="#{form.label.appealJustification}">Begründung</label>
						<div class="controls">
							<textarea id="justification" name="justification" rows="6" cols="120" th:placeholder="#{form.placeholder.appealJustification}" class="form-control" required="true" type="text"/>
						</div>
					</div>

					<!-- Text input-->
					<div class="form-group">
						<label class="form-label" for="impact" th:text="#{form.label.impact}">Auswirkungen</label>
						<div class="controls">
							<textarea id="impact" name="impact" rows="6" cols="120" th:placeholder="#{form.placeholder.impact}" class="form-control" required="true" type="text"/>
						</div>
					</div>

					<!-- Button -->
					<div class="form-group">
						<div class="controls">
							<button id="appealButton" name="appeal" class="btn btn-warning" type="button" th:text="#{button.appealProposal}" onClick="postForm();">Einspruch einlegen</button>
							<button class="btn btn-default" type="button" th:text="#{button.cancel}" onclick="history.back();">Abbrechen</button>
						</div>
					</div>

				</fieldset>
			</form>

			<div class="form-group">
				<div class="controls">
				</div>
			</div>
		
		</div>
		
		<script type="text/javascript">
			var postForm = function() {
				$.post("", 
					   $('#appealForm').serialize(),
					   function (data, textstatus, jqXHR) {
							window.location.replace(document.referrer);										
						}
				);
			}
		</script>
		
	</div>
</body>
</html>