@import "~bootstrap/dist/css/bootstrap.css";
@import url("https://fonts.googleapis.com/css?family=Titillium+Web&display=swap");

body {
  padding-bottom: 40px;
  margin: 0;
  font-size: 14px;
  font-family: Roboto, sans-serif;
}
