@import "~bootstrap/dist/css/bootstrap.css";

body {
  padding-top: 110px;
  padding-bottom: 40px;
  margin: 0;
  font-size: 14px;
}

.sidebartree {
  padding-left: 20px;
}

/* 			nav[role="navigation"] img { */
/* 				background:#013568  */
/* 			} */

.navbar .navbar-brand {
  max-height: 40px;
  overflow: visible;
  padding-top: 0;
  padding-bottom: 0;
}

.bs-sidebar1 {
  padding-top: 9px 0;
  position: fixed;
  left: 20px;
  top: 60px;
  width: 250px;
}

.test {
  -webkit-font-smoothing: antialiased;
  font-family: "Titillium Web", sans-serif, Arial, sans-serif;
  font-size: 18pt;
}

.powered-by {
  flex: 1;
  width: 112px;
  padding-top: 0.5em;
}

.powered-by .powered-by-text {
  font-size: 0.5em;
  text-transform: uppercase;
  font-weight: 600;
  display: block;
}

.powered-by img {
  width: 100px;
  display: block;
}
